<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {

    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
          "sSwfPath": "https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"
        },
        <% if @students.count > 0 && current_user.role == "accountant" %>
           "footerCallback": function ( row, data, start, end, display ) {
              var api = this.api(), data;

              // Remove the formatting to get integer data for summation
              var intVal = function ( i ) {
                  return typeof i === 'string' ?
                      i.replace(/[\$,]/g, '')*1 :
                      typeof i === 'number' ?
                          i : 0;
              };

              // Total over all pages
              var col = 1 + <%= @grade.feebreakdowns.count %> + 4
              total = api
                  .column( col )
                  .data()
                  .reduce( function (a, b) {
                      return intVal(a) + intVal(b);
                  } );
              $('#total').text('Total Fee: '+total);

              var col = 1 + <%= @grade.feebreakdowns.count %> + 5
              total = api
                  .column( col )
                  .data()
                  .reduce( function (a, b) {
                      return intVal(a) + intVal(b);
                  } );
              $('#paid').text('Total Paid: '+total);

              var col = 1 + <%= @grade.feebreakdowns.count %> + 6
              total = api
                  .column( col )
                  .data()
                  .reduce( function (a, b) {
                      return intVal(a) + intVal(b);
                  } );
              $('#remaining').text('Total Pendings: '+total);
          }
        <% end %>
    });
  });

</script>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><%= @grade.name+'-'+@grade.section+" "%>Students
    <% if current_user.role.rights(name: 'update_student').any? %>
      <%= link_to "Add Students", add_students_grade_path(@grade.id), class: "btn btn-success pull-right" %>
    <% end %>
  </h1>

</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content login-modal">
      <div class="modal-header login-modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="loginModalLabel">Student Information</h4>
      </div>
      <div class="modal-body">
        <div id="create_parties">
          <%# render "students/detail" %>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<!--   <div>
    <input id = "daterange" ui-jq="daterangepicker" ui-options="{
                format: 'YYYY-MM-DD',
                startDate: '2015-01-01',
                endDate: '2015-12-31'
              }" class="form-control w-md active">
  </div> -->
<div style="overflow: scroll">
  <table id="example" class="table table-striped table-bordered table-responsive">
    <thead class= "table-head">
      <tr>
        <th>Student ID</th>
        <th>Full Name</th>
        <% if current_user.role != 'accountant' %>
          <th>Arabic Name</th>
          <th>Father Name</th>
          <th>Email</th>
          <th>Date of Birth</th>
        <% end %>
        <% if current_user.role.rights.where("value = 'create_fee' or value = 'update_fee' or value = 'view_fee'").any? %>
          <% @grade.feebreakdowns.each do |f| %>
            <th><%= f.title %></th>
          <% end %>
          <th>Tranport Charges</th>
          <th>Bookshop Charges</th>
          <th>Discount</th>
          <th>Net Fee</th>
          <th>Total Paid</th>
          <th>Remaining</th>
          <th>Actions</th>
        <% else %>
          <th> Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @students.try(:each) do |student| %>
        <tr class = "clickable" id="<%= student.id %>">
          <td>
            <%= student.rollnumber %>
          </td>
          <td>
            <%= student.fullname %>
          </td>
          <td>
            <%= student.arabicname %>
          </td>
          <td>
            <% if student.parent.present? %>
              <%= student.parent.name %>
            <% end %>
          </td>
          <td>
            <%= student.email %>
          </td>
          <td>
            <%= student.dob %>
          </td>

          <% if current_user.role.rights.where("value = 'create_fee' or value = 'update_fee' or value = 'view_fee'").any? %>

            <% total = 0 %>
            <% bus = 0 %>
            <% @grade.feebreakdowns.each do |f| %>
              <% total = total + f.amount %>
              <td><%= f.amount %></td>
            <% end %>
            <% if student.bus_allotment.present? %>
              <% bus = student.bus_allotment.fee || 0 %>
              <td><%= student.bus_allotment.fee || 0 %></td>
            <% else %>
              <td>N/A</td>
            <% end %>

            <% bcharges = 0 %>

            <% if student.invoices.any? %>
              <% student.invoices.each do |i| %>
                <% bcharges = bcharges + i.lines.sum("quantity * price") - i.discount %>
              <% end %>
            <% end %>
            <td><%= bcharges %></td>

            <% discount = student.discount || 0 %>
            <% discount = discount * student.grade.feebreakdowns.first.amount/100 if student.grade.feebreakdowns.any? %>

            <td><%= discount || 0 %></td>

            <% total = bus + (bcharges*12) + total - discount + student.bus_allotment.transportfeerecords.sum(:fee) if bcharges != 0 %>
            <% total = bus + (bcharges*12) + total - discount if bcharges == 0 %>
            <td><%= total %></td>
            <td><%= student.fees.sum(:amount) || 0 %></td>
            <td> <%= total - student.fees.sum(:amount)  %></td>
            <td>
              <%= link_to 'Challan', challan_fees_path({student_id: student.id}) %>
              <%= link_to 'Discount', give_discount_student_path(student.id) %>
            </td>
          <% end %>
          <% if current_user.role.name == 'Teacher' %>
            <td><%= link_to 'Performance Report', new_performance_path({student_id: student.id, bridge_id: @bridge.id}) %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="well well-lg pull-right">
    <h3><span id = "total"></span></h3>
    <h3><span id = "paid"></span></h3>
    <h3><span id = "remaining"></span></h3>
  </div>
</div>
  <button id = "modalbutton" data-toggle = "modal" data-target = "#loginModal" style="display: none;" onclick="javascript:;"></button>

<script type="text/javascript">
  $("tr.clickable").click(function(e) {
    var id = e.currentTarget.attributes.id.nodeValue;
    // alert("here i am");
    $.get('/students/detail', {id: id})
      .done(function(data){
        if (data)
        {

          $("#error_div_rollnum").removeClass('hide');
          $("#error_text_rollnum").html($("#roll_Number").val() + " roll number already registered!");
          $("#roll_Number").val('');
        }
        else
        {
          $("#error_div_rollnum").addClass('hide');
        }
      });
  })

  // $('.applyBtn').click(function(e){
  //   console.log($('#daterange'));
  //  });
  // $('#max').keyup( function() { table.draw(); } );

  // $(".datapicker")..datepicker();
</script>

