<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> Grade <%= @grade.full_name %> 
  <%= link_to(newassign_bridges_path({grade_id: @grade.id}), class: "btn pull-right btn-color" ,style: "width:200px;" ) do %>
    <i class="fa fa-plus"></i>
    New Assign
  <% end %>
  </h1>
</div>



<h2>Subject's Details</h2>
<table class="table ">
	<thead class="table-head">
		<th>Subect Name</th>
		<th>Teacher Name</th>
		<th>Action</th>
	</thead>
	<tbody>
		<% @grade.bridges.try(:each) do |sub| %>
			<tr>
				<td>
					<%= sub.subject.name %>
				</td>
				<td><%= sub.employee.full_name %></td>
				<td>
					<%= link_to '', edit_bridge_path(sub) ,:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
					<%= link_to '', bridge_path(sub), method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<script type="text/javascript">

$(document).ready(function(){
    $('.edit-bridge-btn').on('click',function (e){
      $('#edit_bridge').modal('show');
    });
  });


</script>