<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @grade.section %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @grade.batch_id %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
