<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> Grade <%= @grade.full_name %>
  <% if current_user.role.rights.where(value: "update_grade").any? %>
    <%= link_to(newassign_bridges_path({grade_id: @grade.id}), class: "btn pull-right btn-color" ,style: "width:200px;" ) do %>
      <i class="fa fa-plus"></i>
        New Assign
      <% end %>
  <% end %>
  <%= link_to 'Print PDF', grade_path(@grade, format: 'pdf'), class: 'btn btn-primary pull-right', style: 'margin-right: 3px;' %>
  </h1>
</div>



<h2>Subject's Details</h2>
<table class="table ">
	<thead class="table-head">
    <tr>
		  <th>Subect Name</th>
		  <th>Teacher Name</th>
      <th>Teacher Email</th>
      <th>Teacher Mobile</th>
		  <th>Action</th>
    </tr>
	</thead>
	<tbody>
		<% @grade.bridges.try(:each) do |sub| %>
			<tr>
				<td>
					<%= sub.subject.name if sub.subject.present? %>
				</td>
				<td><%= sub.employee.try(:full_name) if sub.employee.present? %></td>
        <td><%= sub.employee.try(:email) if sub.employee.present? %></td>
        <td><%= sub.employee.try(:mobile_number) if sub.employee.present? %></td>
				<td>
  				<% if current_user.role.rights.where(value: "update_grade").any? %>
					<%= link_to '', edit_bridge_path(sub) ,:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
				<% end %>
  				<% if current_user.role.rights.where(value: "update_grade").any? %>
					<%= link_to '', bridge_path(sub), method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
				<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<script type="text/javascript">

$(document).ready(function(){
    $('.edit-bridge-btn').on('click',function (e){
      $('#edit_bridge').modal('show');
    });
  });


</script>