<div class="bg-light lter b-b wrapper-md">
  <div class="text-center">
    <h1 class="m-n font-thin h3">Year <%= "#{@year_plan.year_name}" %> </h1>
  </div>

<% if current_user.role.rights.where(value: 'view_weeklyplans').any? %>
  <% if @grades.blank? %>
      <h4 class="text-center">No Subjects Assign To This Teacher.</h4>
  <% else %>
    <%= form_tag show_weekly_schedule_year_plan_path(@year_plan), :method => 'get' do %>
      <%#= hidden_field_tag :attendance_date, "" %>
      <div class="modal-body">

        <div class="form-group">
          <label>Grade</label>
          <!-- <p>Some text in the modal.</p> -->
          <%= select_tag :grade_id, options_from_collection_for_select(@grades,"id", "full_name"),
              prompt: "Select Grade", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <label>Week</label>
          <!-- <p>Some text in the modal.</p> -->
          <%= select_tag :week_id, options_from_collection_for_select(@weeks,"id", "label"),
              prompt: "Select Week", class: "form-control" , required: true %>
        </div>


      </div>
      <div class="modal-footer">
        <%= submit_tag 'Show Weekly Plan', class: 'btn btn-primary' %>
        <% if current_user.role.name != "Parent" %>
          <%= submit_tag 'Edit Weekly Plan', class: 'btn btn-success' %>
        <% end %>
      </div>
    <% end %>
  <% end %>

<% end %>

</div>



<div class="wrapper-md">

<%#= link_to 'Click Here to Start Planning', "javascript:void(0);" , class: 'btn btn-lg btn-success start-plan-btn', style: 'margin-left:50px;' %>

  <% if current_user.role.name != "Parent" %>

    <div class="text-center">
      <h1 class="m-n h3">Listing Weeks </h1>
    </div>

    <% if current_user.role.rights.where(value: 'create_week').any? %>
      <%= link_to(new_year_plan_week_path(@year_plan.id), class: "btn btn-lg pull-right btn-color" ,style: "width:200px;" ) do %>
        <i class="fa fa-plus"></i>
        New Week
      <% end %>
    <% end %>


    <table class="table table-striped">
      <thead>
        <tr>
          <th>Week #</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Expiry Date</th>
          <th>Time Left</th>
         <!--  <th>Holiday description</th> -->
          <th class="col-md-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @weeks.each do |week| %>
          <tr>
            <td><%= week.year_week_id %></td>
            <td><%= week.start_date.strftime('%d-%m-%Y') %></td>
            <td><%= week.end_date.strftime('%d-%m-%Y') %></td>
            <td><%= week.expiry_date.strftime('%d-%m-%Y') %></td>
            <% time_left = (week.expiry_date - Date.today).to_i %>
            <td style="color:red;"><%= time_left > 0 ? "#{time_left} days left." : 'Expired' %></td>
            <td>
              <% if current_user.role.name == 'Teacher' %>
                <% if week.expiry_date >= Date.today %>
                  <%= link_to 'Make Weekly Plans', 'javascript:void(0);',:class =>  'btn btn-success start-plan-btn', id: "#{week.id}"%>
                <% else %>
                  <%= link_to 'Expired', 'javascript:void(0);',:class =>  'btn btn-danger' %>
                <% end %>
              <% elsif current_user.role.rights.where(value: 'update_week') %>
                  <%= link_to 'Make Weekly Plans', 'javascript:void(0);',:class =>  'btn btn-success start-plan-btn', id: "#{week.id}"%>
                  <%= link_to '', edit_year_plan_week_path(@year_plan.id,week),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
                  <%= link_to '', "/year_plans/#{@year_plan.id}/weeks/#{week.id}", method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
              <% end %>
            </td>


          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>




  <div class="modal fade" id="grade_subject_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Grade &amp; Subject </h4>
        </div>
        <%= form_tag url_for(:controller => 'weeks', :action => 'schedule_weeks', params: {year_plan_id: @year_plan.id}), :method => 'get' do %>
          <%= hidden_field_tag :week_schedule_id, "" %>
          <div class="modal-body">
            <div class="form-group">
              <label>Grade</label>
              <!-- <p>Some text in the modal.</p> -->
              <% if @grades.present? %>
                <%= select_tag :grade_id, options_from_collection_for_select(@grades,"id", "full_name"),
                    prompt: "Select Grade", class: "form-control", required: true %>
              <% else %>
                <h4 class="text-center">No Subjects Assigned To This Teacher.</h4>
              <% end %>
            </div>

            <div class="form-group">
              <label>Subject</label>
              <!-- <p>Some text in the modal.</p> -->
              <% if @subjects.present? %>
                  <%= select_tag :subject_id, options_from_collection_for_select(@subjects,"id", "name"),
                                 prompt: "Select Subject", class: "form-control", required: true %>
              <% else %>
                  <h4 class="text-center">No Subjects Assigned To This Teacher.</h4>
              <% end %>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag 'Start', class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function(){
    $("#grade_id").on('change',function(e){
      value = e.target.value
      $.get("/bridges/teacher_grade_subjects", {grade_id: value})
        .done(function(data){
          if (data)
          {
            console.log(data)
            var select = $("#subject_id");
              $(select).html('');
              if(data.length != 0){
                  $(data).each(function(index){
                    console.log(this.subject_id, "and", this.subject_name)
                      $(select).append($('<option />', { value: (this.id), text: this.name }));
                  });
              }
          }
          else
          {0
            $("#error_div_rollnum").addClass('hide');
          }
        });
      // alert(value)
    })


    $('.start-plan-btn').on('click',function (e){
      $('#week_schedule_id').val($(this).attr('id'));
      $('#grade_subject_modal').modal('show');
    });
  });
</script>