<% if @setting.present? %>

  <div class="col-md-2 pull-right">
    <%= link_to "Print Term1 Result", print_all_students_term1_result_path({class_id: @class.id, batch_id: Batch.last.id}), class: 'btn btn-primary' %>
  </div>

  <div class="col-md-2 pull-right">
    <%= link_to 'Print All Quarters Result', print_all_students_results_path({class_id: @class.id, batch_id: Batch.last.id}), class: 'pull-right btn btn-success' %>
  </div>
  <div class="col-md-2 pull-right">
    <%= link_to "Print #{exam.name} Result", print_all_students_results_path({class_id: @class.id, batch_id: Batch.last.id, exam_id: exam.id}), class: 'pull-right btn btn-primary' %>
  </div>
  <h3><%= klass.full_name %> <%= klass.batch.name %></h3>

<table class="table table-responsive" style="overflow-x: auto">
  <thead class="table-head">
  <tr>
    <th><%= exam.name %></th>
    <% setting.subjects.try(:where, parent_id: nil).try(:each) do |subject| %>
        <th><%= subject.name %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% klass.students.order('first_name, last_name').try(:each) do |std| %>
      <% report_card = ReportCard.find_by(grade_id: @class.id, student_id: std.id, batch_id: Batch.last.id) %>
      <tr>
        <td><%= std.fullname %></td>
        <% setting.subjects.try(:where, parent_id: nil).try(:each) do |subject| %>
            <% if subject.sub_subjects.present? %>
                <% mark_sum = 0.0 %>
                <% subject.sub_subjects.each do |sub_subject| %>
                    <% marks = report_card.marks.where(subject_id: sub_subject.id, exam_id: exam.id) %>
                    <% mark_sum = mark_sum + (((marks.present? ? marks.sum(:obtained_marks) : 0.0) * ((sub_subject.weight/100) || 1)) || 0.0) if marks.present? %>
                <% end %>
                <td><%= number_with_precision mark_sum, precision: 2 %></td>
            <% else %>
                <% marks = report_card.marks.where(subject_id: subject.id, exam_id: exam.id) %>
                <td><%= (marks.present? ? marks.sum(:obtained_marks).round(2) : 0.0)  %></td>
            <% end %>
        <% end %>
        <td class="col-md-3">
          <%= link_to '<small>Term 1 (Q1 + Q2)</small>'.html_safe, term1_result_card_path(std.id, klass.id, klass.batch_id), class: 'btn btn-primary' %>
          <%= link_to '<small>Result Card</small>'.html_safe, result_card_path(std.id, klass.id, klass.batch_id), class: 'btn btn-success' %>
          <%= link_to '<small>Final Result Card</small>'.html_safe, complete_result_card_path(std.id, klass.id, klass.batch_id), class: 'btn btn-primary' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
    <h5>Please Design A Report Card For This Quarter. </h5>
<% end %>