<% if @settings.length < 3 %>
    <p class="text-center"> Design All Report Cards For This Grade.</p>
<% else %>
    <% term1 = @exams[0..1] if @exams.length > 1 %><br>
    <% term2 = @exams[2..3] if @exams.length > 3 %>
    <% if term1.present? and term2.present? %>
        <% setting = @settings.find_by(exam_id: term1.first) %>
        <% term1_settings = @settings.where("exam_id IN(#{term1.map{|s| s.id}.join(',')})") %>
        <% term2_settings = @settings.where("exam_id IN(#{term2.map{|s| s.id}.join(',')})") %>
        <table class="table table-responsive table-bordered">
          <thead>
          <tr class="dark-blue">
            <th></th>
            <th colspan="2">Term 1</th>
            <th colspan="2">Term 2</th>
            <th colspan="2">Final Marks</th>
          </tr>
          <tr class="dark-blue">
            <th></th>
            <th>Full Term Total</th>
            <th>Percentage</th>
            <th>Full Term Total</th>
            <th>Percentage</th>
            <th>Term 1 & 2</th>
            <th>Percentage</th>
          </tr>
          <tr class="dark-blue">
            <td>Subject</td>
            <td><%= term1_total = ReportCardDivision.where("setting_id IN(#{term1_settings.pluck(:id).join(',')})").try(:sum, :total_marks) %></td>
            <td>100%</td>
            <td><%= term2_total = ReportCardDivision.where("setting_id IN(#{term2_settings.pluck(:id).join(',')})").try(:sum, :total_marks) %></td>
            <td>100%</td>
            <td><%= term1_total + term2_total %></td>
            <td>100%</td>
          </tr>
          <tr class="dark-blue">
            <td>Full Marks</td>
            <td><%= term1_total = ReportCardDivision.where("setting_id IN(#{term1_settings.pluck(:id).join(',')})").try(:sum, :total_marks) %></td>
            <td>100%</td>
            <td><%= term2_total = ReportCardDivision.where("setting_id IN(#{term2_settings.pluck(:id).join(',')})").try(:sum, :total_marks) %></td>
            <td>100%</td>
            <td><%= term1_total + term2_total %></td>
            <td>100%</td>
          </tr>
          <tr class="dark-blue">
            <td>Pass Marks</td>
            <td><%= term1_pass = ReportCardDivision.where("setting_id IN(#{term1_settings.pluck(:id).join(',')})").try(:sum, :passing_marks) %></td>
            <td><%= number_to_percentage((term1_pass/term1_total) * 100, precision: 2) %></td>
            <td><%= term2_pass = ReportCardDivision.where("setting_id IN(#{term2_settings.pluck(:id).join(',')})").try(:sum, :passing_marks) %></td>
            <td><%= number_to_percentage((term1_pass/term1_total) * 100, precision: 2) %></td>
            <td><%= term1_pass + term2_pass %></td>
            <td><%= number_to_percentage(( (term1_pass + term2_pass)/(term1_total + term2_total)) * 100, precision: 2) %></td>
          </tr>
          </thead>
          <tbody>
          <% term1_total_obtained_marks = term2_total_obtained_marks = term1_total_marks = term2_total_marks = 0 %>
          <% setting.subjects.where(parent_id: nil).try(:order, :name).try(:each) do |subject| %>
              <tr>
                <%  %>
                <td><%= subject.name %></td>
                <% puts "subject id" %>
                <% puts "subject id" %>
                <% puts subject.id %>
                <% puts "subject id" %>
                <% puts "subject id" %>
                <td>
                  <% term1_obtained_marks = 0.0 %>
                  <% term1.each do |exam| %>
                      <% setting = term1_settings.find_by(exam_id: exam.id) %>
                      <% puts "data-----------------------" %>
                      <% puts exam.id %>
                      <% puts setting.inspect %>
                      <% puts subject.name %>
                      <% puts subject.code %>

                      <% puts "data-----------------------" %>
                      <% actual_subject = setting.subjects.find_by(name: subject.name, code: subject.code) %>
                      <% term1_obtained_marks = term1_obtained_marks + get_quarter_total(@report_card, actual_subject, exam) %>
                  <% end %>
                <% puts subject.id %>
                <% puts subject.id %>
                <% puts subject.id %>
                <% puts subject.id %>
                <% puts subject.id %>

                  <% term1_total_obtained_marks = term1_total_obtained_marks + term1_obtained_marks %>
                  <% term1_total_marks = term1_total_marks + term1_total %>
                  <%= term1_obtained_marks.round(2) %>
                </td>
                <td>
                  <%= number_to_percentage((term1_obtained_marks/term1_total *100 ), precision: 2) %>
                </td>
                <td>
                  <% term2_obtained_marks = 0.0 %>
                  <% term2.each do |exam| %>
                      <% setting = term2_settings.find_by(exam_id: exam.id) %>
                      <% actual_subject = setting.subjects.find_by(name: subject.name, code: subject.code) %>
                      <% term2_obtained_marks = term2_obtained_marks + get_quarter_total(@report_card, actual_subject, exam) %>
                  <% end %>
                  <% term2_total_obtained_marks = term2_total_obtained_marks + term2_obtained_marks %>
                  <% term2_total_marks = term2_total_marks + term2_total %>
                  <%= term2_obtained_marks.round(2) %>
                </td>
                <td>
                  <%= number_to_percentage((term2_obtained_marks/term2_total *100 ), precision: 2) %>
                </td>
                <td class="dark-grey"><%= total_obtained_marks = term1_obtained_marks.round(2) + term2_obtained_marks.round(2) %></td>
                <td class="dark-grey">
                  <% total_marks = term1_total + term2_total %>
                  <%= number_to_percentage((total_obtained_marks/total_marks *100 ), precision: 2) %>
                </td>
              </tr>
          <% end %>
          <tr><td colspan="7"></td></tr>
          <tr>
            <td>Marks Attained</td>
            <td><%= term1_total_obtained_marks %></td>
            <td><%= number_to_percentage((term1_total_obtained_marks/term1_total_marks) * 100, precision: 2) %></td>
            <td><%= term2_total_obtained_marks %></td>
            <td><%= number_to_percentage((term2_total_obtained_marks/term2_total_marks) * 100, precision: 2) %></td>
            <td><%= term1_total_obtained_marks + term2_total_obtained_marks %></td>
            <td><%= number_to_percentage( ((term1_total_obtained_marks + term2_total_obtained_marks)/(term1_total_marks + term2_total_marks)) * 100, precision: 2) %></td>
          </tr>
          <tr>
            <td>Max. Marks Possible</td>
            <td><%= term1_total_marks %></td>
            <td>100%</td>
            <td><%= term2_total_marks %></td>
            <td>100%</td>
            <td><%= term1_total_marks.round(2) + term2_total_marks.round(2) %></td>
            <td>100%</td>
          </tr>
          </tbody>
        </table>
    <% end  %>
<% end %>