<% total_pass = 0 %>
<% total_full = 0 %>
<% term1_total = 0 %>
<% term2_total = 0 %>
<% total_cgpa = 0 %>
<% term1_obtained_marks = 0.0 %>
<% term1_total_obtained_marks = 0.0 %>
<% term2_total_obtained_marks = 0.0 %>
<% subject_length = 0 %>
<% if @settings.length < 3 %>
    <p class="text-center"> Design All Report Cards For This Grade.</p>
<% else %>
    <% term1 = @exams[0..1] if @exams.length > 1 %><br>
    <% term2 = @exams[2..3] if @exams.length > 3 %>
    <% if term1.present? and term2.present? %>
        <% setting = @settings.find_by(exam_id: term1.first) %>
        <% term1_settings = @settings.where("exam_id IN(#{term1.map{|s| s.id}.join(',')})") %>
        <% term2_settings = @settings.where("exam_id IN(#{term2.map{|s| s.id}.join(',')})") %>
        <div class="row">
          <table class="table table-responsive table-bordered" style="width:100%">
            <thead>
              <tr class="dark-blue" style="padding: 0px 10px; font-size:12px; width: 20px">
                <th>Subjects انًىاد اندراسية</th>
                <th>Maximun Grade  اندرجة انعظًى</th>
                <th>Passing Grade  درجة اننجاح</th>
                <th>Term 1 Average <br> يعدل انفصم اندراسي األول</th>
                <th>Term 2 Average <br> يعدل انفصم اندراسي انثاني</th>
                <th>Yearly Average <br> يعدل انعاو اندراسي</th>
                <% if @class.name.to_i > 8 %>
                  <th>Credit</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
            <% term1_total_obtained_marks = term2_total_obtained_marks = term1_total_marks = term2_total_marks = 0 %>
            <% setting.subjects.where(parent_id: nil).try(:order, :name).try(:each) do |subject| %>
                <tr style="padding: 0px 10px; font-size:12px">
                  <% subject_length = subject_length + 1 %>
                  <td><b><%= subject.name %></b></td>
                  <td class="light-blue"><%= term1_total = ReportCardDivision.where("setting_id IN(#{term1_settings.pluck(:id).join(',')})").try(:sum, :total_marks) %></td>
                    <% total_full = total_full + term1_total %>
                  <td class="light-blue"><%= term1_pass = ReportCardDivision.where("setting_id IN(#{term1_settings.pluck(:id).join(',')})").try(:sum, :passing_marks) %></td>
                    <% total_pass = total_pass + term1_pass %>
                  <td class="light-red">
                    <% term1_obtained_marks = 0.0 %>
                    <% term1.each do |exam| %>
                        <% setting = term1_settings.find_by(exam_id: exam.id) %>
                        <% actual_subject = setting.subjects.find_by(name: subject.name, code: subject.code) %>
                        <% term1_obtained_marks = term1_obtained_marks + get_quarter_total(@report_card, actual_subject, exam) %>
                    <% end %>
                    <% term1_total_obtained_marks = term1_total_obtained_marks + term1_obtained_marks %>
                    <% term1_total_marks = term1_total_marks + term1_total %>
                    <%= term1_obtained_marks.round(2) %>
                  </td>
                  <td class="light-red">
                    <% term2_obtained_marks = 0.0 %>
                    <% term2.each do |exam| %>
                        <% setting = term2_settings.find_by(exam_id: exam.id) %>
                        <% actual_subject = setting.subjects.find_by(name: subject.name, code: subject.code) %>
                        <% term2_obtained_marks = term2_obtained_marks + get_quarter_total(@report_card, actual_subject, exam) %>
                    <% end %>
                    <% term2_total_obtained_marks = term2_total_obtained_marks + term2_obtained_marks %>
                    <% term2_total_marks = term2_total_marks + term2_total %>
                    <%= term2_obtained_marks.round(2) %>
                  </td>
                  <td class="light-red"><%= total_obtained_marks = ((term1_obtained_marks.round(2) + term2_obtained_marks.round(2))/2).round(2) %></td>
                  <% if @class.name.to_i > 8 %>
                    <td>
                      <% percentage = (total_obtained_marks*100)/term1_total %>
                      <% total_cgpa = total_cgpa + percentage %>
                      <% if percentage >= 97 %>
                        4.3
                      <% end %>
                      <% if percentage >= 93 && percentage < 97 %>
                        4
                      <% end %>
                      <% if percentage >= 90 && percentage < 93 %>
                        3.7
                      <% end %>
                      <% if percentage >= 87 && percentage < 90 %>
                        3.3
                      <% end %>
                      <% if percentage >= 83 && percentage < 87 %>
                        3.0
                      <% end %>
                      <% if percentage >= 80 && percentage < 93 %>
                        2.7
                      <% end %>
                      <% if percentage >= 77 && percentage < 80 %>
                        2.3
                      <% end %>
                      <% if percentage >= 73 && percentage < 77 %>
                        2.0
                      <% end %>
                      <% if percentage >= 70 && percentage < 73 %>
                        1.7
                      <% end %>
                      <% if percentage >= 67 && percentage < 70 %>
                        1.3
                      <% end %>
                      <% if percentage >= 63 && percentage < 67 %>
                        1.0
                      <% end %>
                      <% if percentage >= 60 && percentage < 63 %>
                        0.7
                      <% end %>
                      <% if percentage < 60  %>
                        0
                      <% end %>
                    </td>
                  <% end %>
                </tr>
            <% end %>
            <tr>
              <td class="dark-blue">Grand Total يًاإلج ىعًجًان </td>
              <td class="light-blue"><%= total_full.round(2) %></td>
              <td class="light-blue"><%= total_pass.round(2) %></td>
              <td class="light-blue"><%= term1_total_obtained_marks.round(2) %></td>
              <td class="light-blue"><%= term2_total_obtained_marks.round(2) %></td>
              <td class="light-blue"><%= (term1_total_obtained_marks + term2_total_obtained_marks).round(2) %></td>
              <% if @class.name.to_i > 8 %>
                <%= total_cgpa %>
              <% end %>
            </tr>
            <tr class="dark-blue">
              <td colspan="2">Total Avarage    المعدل العام النهائي أو الكلي</td>
              <td colspan="2"><%= ((term1_total_obtained_marks + term2_total_obtained_marks)/2).round(2) %></td>
              <td colspan="2">
                <% percentage = number_to_percentage( ((term1_total_obtained_marks + term2_total_obtained_marks)/(term1_total_marks + term2_total_marks)) * 100, precision: 2) %>
                  <% percentage = percentage.to_f %>
                  <% if percentage >= 97 %>
                    A+
                  <% end %>
                  <% if percentage >= 93 && percentage < 97 %>
                    A
                  <% end %>
                  <% if percentage >= 90 && percentage < 93 %>
                    A-
                  <% end %>
                  <% if percentage >= 87 && percentage < 90 %>
                    B+
                  <% end %>
                  <% if percentage >= 83 && percentage < 87 %>
                    B
                  <% end %>
                  <% if percentage >= 80 && percentage < 93 %>
                    B-
                  <% end %>
                  <% if percentage >= 77 && percentage < 80 %>
                    C+
                  <% end %>
                  <% if percentage >= 73 && percentage < 77 %>
                    C
                  <% end %>
                  <% if percentage >= 70 && percentage < 73 %>
                    C-
                  <% end %>
                  <% if percentage >= 67 && percentage < 70 %>
                    D+
                  <% end %>
                  <% if percentage >= 63 && percentage < 67 %>
                    D
                  <% end %>
                  <% if percentage >= 60 && percentage < 63 %>
                    D-
                  <% end %>
                  <% if percentage < 60  %>
                    F
                  <% end %>
              </td>
            </tr>
            <% if @class.name.to_i > 8 %>
              <tr>
                <td colspan="2"> CGPA of the Academic Year</td>
                <td colspan="4"> <%= (total_cgpa/subject_length).round(2) %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="2" class="dark-blue">Absence  عدد أياو انغياب</td>
              <td colspan="4" class="light-blue"><%= @student.student_attendances.where(epresent: false).count%> </td>
            </tr>
            <tr>
              <td colspan="2" class="dark-blue">Name of Examination Supervisor</td>
              <td colspan="2">Mrs. Lubna Ali A/Kareem</td>
              <td class="dark-blue">Signature</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
    <% end  %>
    <%#= render 'static_footer.html.erb' %>
<% end %>