<%= form_for(@mark) do |f| %>
  <% if @mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
      <% @mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <label>Title</label>
    <%= f.text_field :name, class: "form-control" , style: "width:100%" %>
  </div>
  <div class="form-group col-md-6">
    <label>Total Marks</label>
    <%= f.text_field :marks, class: "form-control" , style: "width:100%" %>
  </div>
  <div class="form-group col-md-6">
    <label>Passing Marks</label>
    <%= f.text_field :passing_marks, class: "form-control" , style: "width:100%" %>
  </div>
  <div class="form-group col-md-6">
    <label>Grade Group</label>
    <%= f.collection_select :grade_group_id , GradeGroup.order(:name), :id , :name, {}, {:style => 'height:34px;width: 100%',  class: 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit @mark.new_record? ? 'Create Mark Division' : 'Update Mark Division', class: "btn btn-success pull-right" %>
  </div>
<% end %>
