<style type="text/css">
  .subject-box{
      padding: 0;
      width: 10% !important;
  }
  .subject{
      min-height: 60px; background-color: #19B5FE; text-align: center; vertical-align: middle; color: #fff; position: relative;
      border-right: 1px solid #fff; padding-top: 18%; cursor: pointer; font-weight: bold;
  }
  .subject.active{
      background-color: #3A539B;
  }
</style>

<div class="col-md-12">
  <% @subjects.each do |subject| %>
    <div class="col-md-1 subject-box">
      <div class="subject <%= 'active' if subject.id == @subject.id %>" id="<%= subject.id %>"><%= subject.name %></div>
    </div>
  <% end %>

  <div class="pull-right">
  <% if PublishResult.find_by(class_id: @class.id, batch_id: @batch.id).try(:publish) %>
    <%= link_to 'Result Card', @report_card.quarter_result_url, class: 'btn btn-primary' %>
    <%= link_to 'Final Result Card', @report_card.final_result_url, class: 'btn btn-success' %>
  <% else %>
    <p class="text-danger"> Final results not published yet.</p>
  <% end %>
  </div>
</div>