<style>
  .division{  float: left; height: 40px; min-width: 100px; max-width: 100px; background-color: #3A539B; color: #fff; padding: 3%; text-align: center;  }
  .division-marks{ float: left; height: 40px; min-width: 100px; max-width: 100px; color: #3A539B; background-color: #fff; padding: 3%; text-align: center;}
</style>
<div class="col-md-12">
  <h3><%= @subject.name %></h3>
</div>
<div class="" style="display: table; margin: 0 auto;">
  <% @setting.marks_divisions.order('name').where(is_divisible: true).try(:each) do |division| %>
      <div class="division"><%= division.name %></div>
  <% end %>
</div>
<div class="" style="display: table; margin: 0 auto;">
  <% @setting.marks_divisions.order('name').where(is_divisible: true).try(:each) do |division| %>
      <% obtained_marks = (@report_card.marks.where(division_id: division.id, subject_id: @subject.id, exam_id: @exam.id).try(:sum, :obtained_marks) || 0) %>
      <div class="division-marks"><%= "#{obtained_marks}/#{division.total_marks}" %></div>
  <% end %>
</div>
<div class="col-sm-12" id="graph">
</div>

<script type="text/javascript">

    // Set a callback to run when the Google Visualization API is loaded.
    window.setTimeout(function(){
        drawChart();
    }, 300);

    function drawChart(){
        var data = [['Division', 'Marks']];
        <% @setting.marks_divisions.order('name').where(is_divisible: true).try(:each) do |division| %>
        data.push(['<%= division.name %>', <%= (@report_card.marks.where(division_id: division.id, subject_id: @subject.id, exam_id: @exam.id).try(:sum, :obtained_marks) || 0)  %>]);
        <% end %>
        console.log(data[0]);
        var graph_data = new google.visualization.arrayToDataTable(data);
        var options = {title: '<%= @student.fullname %>', width: 1000, height: 300, colors: ['#19B5FE'], 'vAxis.maxValue': <%= 15 %>, 'vAxis.minValue': <%= 0 %>};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('graph'));
        chart.draw(graph_data, options);
    }

</script>