<style>
    .light-blue{  background-color: #B2D7EC;  }
    .yellow { background-color: #FEFF99; }
    .light-grey{ background-color: #F2F2F2; }
    .dark-grey { background-color: #BFBFBF; }
    .dark-blue { background-color: #B8CCE4 ; color: black;}
    .light-blue {background-color: #DBE5F1;}
    .light-red {background-color: #FFC7CE}

    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td{
        border-top: 1px solid black;
        text-align: center;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid black;
        color: black;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 90%;
    }
</style>
<table class="col-md-12 table table-bordered" style="width:100%">
  <tbody>
    <tr >
    <td style="padding: 2px 15px; border:solid"><h6><span><%= @student.arabicname %> </span>       <span class = "pull-right">:  اسم الطالب/ـة </span> </h6></td></tr>

    <tr><td style="padding: 0px 15px; border:solid"><h6>Student Name:           <span style: "margin-left: 20px"><%= @student.fullname %></span></h6></td></tr>
    <tr><td style="padding: 0px 15px; border:solid"><h6>Student ID:             <span style: "margin-left: 20px"><%= @student.rollnumber %></span></h6></td></tr>
    <tr><td style="padding: 0px 15px; border:solid"><h6>Grade:                  <span style: "margin-left: 20px"><%= @class.full_name %></span></h6></td></tr>
    <tr><td style="padding: 0px 15px; border:solid"><h6>Academic Year: <span style: "margin-left: 20px"><%= @batch.name %></span></h6></td>
    </tr>
  </tbody>
</table>
<div class="col-md-12">
  <%= render 'complete_result_pdf.html.erb' %>
</div>