<style>
    .light-blue{  background-color: #B2D7EC;  }
    .yellow { background-color: #FEFF99; }
    .light-grey{ background-color: #F2F2F2; }
    .dark-grey { background-color: #BFBFBF; }
    .dark-blue { background-color: #548DD4; color: black;}

    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td{
        border-top: 1px solid black;
        text-align: center;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid black;
        color: black;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 90%;
    }
</style>

<table class="col-md-9 table">
  <tbody>
    <tr>
    <td style = "height:15px"><h5><span class="text-primary"><%= @student.arabicname %> </span>       <span class = "pull-right"> أسم الطالب </span> </h5></td></tr>

    <tr><td style = "height:15px"><h5>Student Name:           <span class="text-primary"><%= @student.fullname %></span></h5></td></tr>
    <tr><td style = "height:15px"><h5>Student ID:             <span class="text-primary"><%= @student.rollnumber %></span></h5></td></tr>
    <tr><td style = "height:15px"><h5>Grade:                  <span class="text-primary"><%= @class.full_name %></span></h5></td></tr>
    <tr><td style = "height:15px"><h5>Academic Year: <span class="text-primary"><%= @batch.name %></span></h5></td>
    </tr>
  </tbody>
</table>

<div class="col-md-12">
  <%= render partial: 'complete_result.html.erb' %>
</div>