<% if @students.blank? %>
    <h3>No, Students Added In This Class.</h3>
<% else %>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><%= @class.full_name %>-<%= @exam.name %>-<%= @subject.name %></h1>
</div>
<br/>
<%= form_tag(save_marks_path, method: :post, class: 'col-form') do %>
<div class="row">
  <div class="col-sm-7 col-md-7">
    <% @marks_divisions.where(is_divisible: true).try(:each) do |division| %>
        <% klass = (@marks_division.id == division.id)? 'btn btn-success' : 'btn btn-primary' %>
        <%= link_to division.name, enter_division_marks_path(@class.id, @subject.id, @exam.id, division.id), {role: 'button', class: division.name != "Exam Comments" ? klass : klass+"btn btn-danger" } %>
    <% end %>

    <% if @report_card_subject && @report_card_subject.take_exam %>

      <% @marks_divisions.where(is_divisible: false).try(:each) do |division| %>
          <% klass = (@marks_division.id == division.id)? 'btn btn-success' : 'btn btn-info' %>
          <%= link_to division.name, enter_division_marks_path(@class.id, @subject.id, @exam.id, division.id), {role: 'button', class: klass } %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-5 col-md-5">
    <div class="pull-right">
      <%= submit_tag 'Save Marks', class: 'btn btn-info',data: { confirm: 'PLease double check before you save. Press OK to confirm!' } %>
      <% if @marks_division.name != "Exam Comments" %>
        <button class="btn btn-success" id="addmore">Add More</button>
      <% end %>
      <%= link_to 'Upload From CSV', upload_csv_path(@class.id, @exam.id, @subject.id), class: 'btn btn-primary' %>
      <%= link_to 'Sample File', download_sample_path(@class.id, @exam.id, @subject.id), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<br />
<div class="row">
  <%= hidden_field_tag 'class_id', @class.id %>
  <%= hidden_field_tag 'exam_id', @exam.id %>
  <%= hidden_field_tag 'subject_id', @subject.id %>
  <%= hidden_field_tag 'division_id', @marks_division.id %>
  <div style=" 	width: 1050px; /* arbitary for demo only */white-space: nowrap; overflow-y: hidden; overflow-x: scroll;-webkit-overflow-scrolling: touch;">

    <div class="well well-lg" id="navigation" style="min-height:500px; float:none !important;display: inline-block;vertical-align: top; position: absolute; z-index: 10; width: 345px">
      <span style= "background:green; color:white;padding: 7px 10px;font-size: 15px">Student Name</span>
      <div class="performance-holder">
        <% @students.try(:each) do |std| %>
            <strong class="student-names" style="text-align: left;"><%= std.fullname %> </strong>
        <% end %>
      </div>
    </div>

    <div class="well well-lg col-md-1" style="min-height:500px; float:none !important;display: inline-block;vertical-align: top; position: relative;margin-left: 350px;">
      <span style= "background:green; color:white;padding: 7px 10px;font-size: 15px">ID</span>
      <div class="performance-holder">
        <% @students.try(:each) do |std| %>
            <strong class="student-names" style="text-align: left;"><%= std.rollnumber%> </strong>
        <% end %>
      </div>
    </div>

    <div class="well well-lg col-md-2 performance-report" style="min-height:500px; float:none !important;display: inline-block;vertical-align: top;">
      <h5> Performance Report</h5>
      <div class="performance-holder">
        <% if @bridge.present? %>
          <% @students.try(:each) do |std| %>
              <%= link_to 'Performance Report', new_performance_path({student_id: std.id, bridge_id: @bridge.id}), class: "btn-performance-report btn btn-primary", style: "font-size:11px;", target: 'blank' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%
       @report_card = ReportCard.find_by( grade_id: @class.id, batch_id: Batch.last.id, student_id: @students.first.id) if @students.present?
       @report_card_subject = ReportCardSubject.find_by(name: @subject.name, code: @subject.code, setting_id: @setting.id) if @subject.present?
       @mark = Mark.find_or_create_by(report_card_id: @report_card.id, exam_id: @exam.id, subject_id: @report_card_subject.id, division_id: @marks_division.id)

    %>
    <% if @mark.sessionals.present? %>
        <% @mark.sessionals.try(:each) do |sessional| %>
            <div class="well well-lg col-md-1 con" style="padding:10px;min-height:500px;width: 110px;float:none !important;display:inline-block;vertical-align: top;">
              <h5>Date <span class="pull-right"><%= link_to '', mark_path({id: @mark.id, grade_id: @class.id, exam_id: @exam.id, subject_id: @report_card_subject.id, marks_division_id: @marks_division.id, sessional_id: sessional.id, report_card_subject_id: @report_card_subject.id }), method: :delete, data: { confirm: 'Are you sure?' },:class =>  'btn btn-sm btn-danger glyphicon glyphicon glyphicon-trash' %></span></h5>
              <%= text_field_tag "sessionals_date[]", sessional.mark_date, style:"" , class: "datepickerss absense-input", required: true, placeholder: "Select Date" %>
              <% @students.try(:each) do |std| %>
                  <% @student_report_card = ReportCard.find_by( grade_id: @class.id, batch_id: Batch.last.id, student_id: std.id) %>

                  <% puts "==========" %>
                  <% puts "==========" %>
                  <% puts @student_report_card %>
                  <% puts "==========" %>
                  <% puts "==========" %>

                  <% @student_mark = Mark.find_or_create_by(report_card_id: @student_report_card.id, exam_id: @exam.id, subject_id: @report_card_subject.id, division_id: @marks_division.id) %>
                  <% puts @marks_division.id %>
                  <% puts @report_card_subject.id.inspect %>
                  <% puts @exam.id %>
                  <% puts @student_report_card.id %>
                  <% puts "==========" %>
                  <% puts "==========" %>
                  
                  
                  <%= text_field_tag "sessionals[#{std.id}][]" , @marks_division.name != "Exam Comments" ? (@student_mark.sessionals.find_by(name: sessional.name).try(:obtained_marks)) : @student_mark.sessionals.last.comments,class: @marks_division.name == "Exam Comments" ? " absense-input exam-comment number calculate"+std.id.to_s : "absense-input calculate" +std.id.to_s, readonly: current_user.role.rights.where(value: "edit_entered_marks").any? ? false: true %>
              <% end %>
            </div>
        <% end %>
    <% else %>
        <div class="well well-lg col-md-1 con" style="padding:10px;min-height:500px;width: 110px;float:none !important;display:inline-block;vertical-align: top;">
          <h5><%= @marks_division.name %></h5>
          <%= text_field_tag "sessionals_date[]", '', style:"" , class: "datepickerss absense-input", required: true, placeholder: "Select Date" %>
          <% @students.try(:each) do |std| %>
              <%= text_field_tag "sessionals[#{std.id}][]" , '' ,class: @marks_division.name == "Exam Comments" ? " absense-input exam-comment number calculate"+std.id.to_s : " absense-input calculate"+std.id.to_s %>
          <% end %>
        </div>
    <% end %>

    <% if @marks_division.name != "Exam Comments" %>
      <div class="well well-lg col-md-1 " style="padding:10px;min-height:500px;width: 110px;float:none !important;display: inline-block;vertical-align: top; margin-left:10px">
        <h5><%= 'Average' %></h5>
        <%= text_field_tag "max_mark", @marks_division.total_marks, id: 'max-marks', style:"" , class: "absense-input", required: true, readonly: true%>
        <% @students.try(:each) do |std| %>
            <% @student_report_card = ReportCard.find_by( grade_id: @class.id, student_id: std.id) %>
            <% @student_mark = Mark.find_or_create_by(report_card_id: @student_report_card.id, exam_id: @exam.id, subject_id: @report_card_subject.id, division_id: @marks_division.id) %>
            <%= text_field_tag "marks[#{std.id}][]", number_with_precision(@student_mark.sessionals.try(:average, :obtained_marks), precision: 2 ) || 0 ,readonly: true, id: std.id, class: "absense-input total"+std.id.to_s %>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-2 " style="padding:10px;min-height:500px;width: 110px;float:none !important;display: inline-block;vertical-align: top; margin-left:10px">
        <strong><u>Academic Fields:</u></strong>
        <ul>
          <li>
            1) Excellent performance.
          </li><br>
          <li>
            2) Good work, keep improving.
          </li><br>
          <li>
            3) Shows improvement.
          </li><br>
          <li>
            4) Needs to work harder.
          </li><br>
          <li>
            5) Missing Homework.
          </li><br>
          <li>
            6) Needs to be more active<br>in class.
          </li><br>
          <li>
            7) Needs to Improve English<br>Communication Skills
          </li><br>
          <li>
            8) Needs to focus on studies.
          </li>
        </ul>

        <strong><u>Non-Academic Fields:</u></strong>
        <ul>
          <li>
            9) Great Attitude.
          </li><br>
          <li>
            10) Polite, well-behaved person.
          </li><br>
          <li>
            11) Great Communication Skills.
          </li><br>
          <li>
            12) Adaptable and Social.
          </li><br>
          <li>
            13) Doesn’t focus in class
          </li><br>
          <li>
            14) Doesn’t respect others.
          </li><br>
          <li>
            15) Hyperactive in class.
          </li><br>
          <li>
            16) Doesn’t listen to teachers.
          </li>
        </ul>
        <br>
        <p style="color: red">
          <strong>Note:</strong> For Multicomments, use comma (',')<br> to separate them<br>
          Example:   1,7,12,15
        </p>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
<script type="text/javascript">
    $("#addmore").on("click", function (){

        console.log("I am here");
        var html = $($('.col-template').html());
        console.log(html);
        html.insertAfter($('.col-form .con').last());
        $(".datepickerss").datepicker();
    });
    $(".datepickerss").datepicker();

    <% @students.try(:each) do |std| %>
        $(document).on("blur", '.calculate<%= std.id.to_s %>', function(event){
            obj = event.target;
            field_value = $(obj).val();
            max_value = parseFloat($('#max-marks').val());
            if(field_value.length > 0){
                field_value = parseFloat(field_value);
                if(field_value == 'undefined' || field_value > max_value || field_value < 0 || isNaN(field_value)) {
                    alert('Please Insert A Value Lower Than Maximum Marks. ');
                    $(obj).css('border-color', 'red');
                    return false;
                }
                else
                {
                    $(obj).css('border', '2px solid #ddd');
                }
            }
            var sum = 0;
            var av = 0.0;
            $('.calculate<%= std.id.to_s %>').each(function(i, obj) {
                if (obj.value != '' && $(obj).is(':visible'))
                {
                    sum = sum + parseFloat(obj.value);
                    av = av+1
                }
            });
            $(".total<%=std.id.to_s%>").val((sum/av).toFixed(2));
        });
    <% end %>
    $('form').on('submit', function(){
        submit = true;
        <% @students.try(:each) do |std| %>
        $('.calculate<%= std.id.to_s %>').each(function(i, obj) {
            field_value = $(obj).val();
            max_value = parseFloat($('#max-marks').val());
            if(field_value.length > 0){
                field_value = parseFloat(field_value);
                if(field_value == 'undefined' || field_value > max_value || field_value < 0 || isNaN(field_value)) {
                    alert('Please Insert A Value Lower Than Maximum Marks. ');
                    $(obj).css('border-color', 'red');
                    $(obj).focus();
                    submit = false;
                    return submit
                }
            }
        });
        <% end %>
        return submit;
    });
</script>

<div class="col-template hidden">
  <div class="well well-lg col-md-1 con" style="margin-left: 3px;padding:10px;min-height:500px;width: 110px; float:none !important;display: inline-block;vertical-align: top;">
    <h5>Date</h5>
    <%= text_field_tag "sessionals_date[]", '' ,class: "datepickerss absense-input", required: true, placeholder: "Select Date" %>
    <% @students.try(:each) do |std| %>
        <%= text_field_tag "sessionals[#{std.id}][]", "" ,class: "absense-input calculate"+std.id.to_s %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(".exam-comment").blur(function(e){
    console.log("Target is", e)
    value = e.target.value
    value = value.split(",")
    value.forEach(function(val){
      if (parseInt(val) < 1 || parseInt(val) > 16)
      {
        e.target.value = ""
        alert("each value should be between 1-16 and ',' separated");
      }
    });
    console.log("value is" ,value)
  });

  $(window).scroll(function(){
        $('#navigation').css('left', originalLeft - $(this).scrollLeft());
    });
</script>