<% if @students.blank? %>
    <h3>No, Students Added In This Class.</h3>
<% else %>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><%= @class.full_name %>-<%= @exam.name %>-<%= @subject.name %></h1>
</div>
<br/>
<%= form_tag(save_marks_path, method: :post, class: 'col-form') do %>
<div class="row">
  <div class="col-sm-7 col-md-7">
    <% @marks_divisions.where(is_divisible: true).try(:each) do |division| %>
        <% klass = (@marks_division.id == division.id)? 'btn btn-success' : 'btn btn-primary' %>
        <%= link_to division.name, enter_division_marks_path(@class.id, @subject.id, @exam.id, division.id), {role: 'button', class: klass } %>
    <% end %>

    <% @marks_divisions.where(is_divisible: false).try(:each) do |division| %>
        <% klass = (@marks_division.id == division.id)? 'btn btn-success' : 'btn btn-info' %>
        <%= link_to division.name, enter_division_marks_path(@class.id, @subject.id, @exam.id, division.id), {role: 'button', class: klass } %>
    <% end %>
  </div>
  <div class="col-sm-5 col-md-5">
    <div class="pull-right">
      <%= submit_tag 'Save Marks', class: 'btn btn-info' %>
      <button class="btn btn-success" id="addmore">Add More</button>
      <%= link_to 'Upload From CSV', upload_csv_path(@class.id, @exam.id, @subject.id), class: 'btn btn-primary' %>
      <%= link_to 'Sample File', download_sample_path(@class.id, @exam.id, @subject.id), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<br />
<div class="row">
  <%= hidden_field_tag 'class_id', @class.id %>
  <%= hidden_field_tag 'exam_id', @exam.id %>
  <%= hidden_field_tag 'subject_id', @subject.id %>
  <%= hidden_field_tag 'division_id', @marks_division.id %>
  <div style=" 	width: 1050px; /* arbitary for demo only */white-space: nowrap; overflow-y: hidden; overflow-x: scroll;-webkit-overflow-scrolling: touch;">

    <div class="well well-lg col-md-2" style="min-height:500px; float:none !important;display: inline-block;vertical-align: top;">
      <span style= "background:green; color:white;padding: 7px 10px;font-size: 15px">Student ID</span>
      <div class="performance-holder">
        <% @students.try(:each) do |std| %>
            <strong class="student-names" style="text-align: left;"><%= std.rollnumber%> </strong>
        <% end %>
      </div>
    </div>

    <div class="well well-lg col-md-3" style="min-height:500px; float:none !important;display: inline-block;vertical-align: top;">
      <span style= "background:green; color:white;padding: 7px 10px;font-size: 15px">Student Name</span>
      <div class="performance-holder">
        <% @students.try(:each) do |std| %>
            <strong class="student-names" style="text-align: left;"><%= std.fullname %> </strong>
        <% end %>
      </div>
    </div>

    <div class="well well-lg col-md-2 performance-report" style="min-height:500px; float:none !important;display: inline-block;vertical-align: top; ">
      <h5> Performance Report</h5>
      <div class="performance-holder">
        <% if @bridge.present? %>
          <% @students.try(:each) do |std| %>
              <%= link_to 'Performance Report', new_performance_path({student_id: std.id, bridge_id: @bridge.id}), class: "btn-performance-report btn btn-primary", style: "font-size:11px;" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%
       @report_card = ReportCard.find_by( grade_id: @class.id, batch_id: @class.batch_id, student_id: @students.first.id) if @students.present?
       @report_card_subject = ReportCardSubject.find_by(name: @subject.name, code: @subject.code, setting_id: @setting.id) if @subject.present?
       @mark = Mark.find_or_create_by(report_card_id: @report_card.id, exam_id: @exam.id, subject_id: @report_card_subject.id, division_id: @marks_division.id)

    %>
    <% if @mark.sessionals.present? %>
        <% @mark.sessionals.try(:each) do |sessional| %>
            <div class="well well-lg col-md-2 con" style="padding:10px;min-height:500px;width: 180px;float:none !important;display:inline-block;vertical-align: top;">
              <h5>Date</h5>
              <%= text_field_tag "sessionals_date[]", sessional.mark_date, style:"" , class: "datepickerss absense-input", required: true, placeholder: "Select Date" %>
              <% @students.try(:each) do |std| %>
                  <% @student_report_card = ReportCard.find_by( grade_id: @class.id, batch_id: @class.batch_id, student_id: std.id) %>
                  <% @student_mark = Mark.find_by(report_card_id: @student_report_card.id, exam_id: @exam.id, subject_id: @report_card_subject.id, division_id: @marks_division.id) %>
                  <%= text_field_tag "sessionals[#{std.id}][]" , (@student_mark.sessionals.find_by(name: sessional.name).try(:obtained_marks) rescue nil),class: " absense-input calculate"+std.id.to_s %>
              <% end %>
            </div>
        <% end %>
    <% else %>
        <div class="well well-lg col-md-2 con" style="padding:10px;min-height:500px;width: 180px;float:none !important;display:inline-block;vertical-align: top;">
          <h5><%= @marks_division.name %></h5>
          <%= text_field_tag "sessionals_date[]", '', style:"" , class: "datepickerss absense-input", required: true, placeholder: "Select Date" %>
          <% @students.try(:each) do |std| %>
              <%= text_field_tag "sessionals[#{std.id}][]" , '' ,class: " absense-input calculate"+std.id.to_s %>
          <% end %>
        </div>
    <% end %>

    <div class="well well-lg col-md-2 " style="padding:10px;min-height:500px;width: 180px;float:none !important;display: inline-block;vertical-align: top; margin-left:10px">
      <h5><%= 'Average' %></h5>
      <%= text_field_tag "max_mark", @marks_division.total_marks, id: 'max-marks', style:"" , class: "absense-input datepickerss", required: true, disabled: true%>
      <% @students.try(:each) do |std| %>
          <% @student_report_card = ReportCard.find_by( grade_id: @class.id, student_id: std.id) %>
          <% @student_mark = Mark.find_or_create_by(report_card_id: @student_report_card.id, exam_id: @exam.id, subject_id: @report_card_subject.id, division_id: @marks_division.id) %>
          <%= text_field_tag "marks[#{std.id}][]", number_with_precision(@student_mark.sessionals.try(:average, :obtained_marks), precision: 2 ) || 0 ,disabled: true, id: std.id, class: "absense-input total"+std.id.to_s %>
      <% end %>
    </div>

  </div>
</div>
<% end %>
<% end %>
<script type="text/javascript">
    $("#addmore").on("click", function (){

        console.log("I am here");
        var html = $($('.col-template').html());
        console.log(html);
        html.insertAfter($('.col-form .con').last());
        $(".datepickerss").datepicker();
    });
    $(".datepickerss").datepicker();

    <% @students.try(:each) do |std| %>
        $(document).on("blur", '.calculate<%= std.id.to_s %>', function(event){
            obj = event.target;
            field_value = $(obj).val();
            max_value = parseFloat($('#max-marks').val());
            if(field_value.length > 0){
                field_value = parseFloat(field_value);
                if(field_value == 'undefined' || field_value > max_value || field_value < 0 || isNaN(field_value)) {
                    alert('Please Insert A Value Lower Than Maximum Marks. ');
                    $(obj).css('border-color', 'red');
                    return false;
                }
                else
                {
                    $(obj).css('border', '2px solid #ddd');
                }
            }
            var sum = 0;
            var av = 0.0;
            $('.calculate<%= std.id.to_s %>').each(function(i, obj) {
                if (obj.value != '' && $(obj).is(':visible'))
                {
                    sum = sum + parseFloat(obj.value);
                    av = av+1
                }
            });
            $(".total<%=std.id.to_s%>").val((sum/av).toFixed(2));
        });
    <% end %>
    $('form').on('submit', function(){
        submit = true;
        <% @students.try(:each) do |std| %>
        $('.calculate<%= std.id.to_s %>').each(function(i, obj) {
            field_value = $(obj).val();
            max_value = parseFloat($('#max-marks').val());
            if(field_value.length > 0){
                field_value = parseFloat(field_value);
                if(field_value == 'undefined' || field_value > max_value || field_value < 0 || isNaN(field_value)) {
                    alert('Please Insert A Value Lower Than Maximum Marks. ');
                    $(obj).css('border-color', 'red');
                    $(obj).focus();
                    submit = false;
                    return submit
                }
            }
        });
        <% end %>
        return submit;
    });
</script>

<div class="col-template hidden">
  <div class="well well-lg col-md-2 con" style="margin-left: 3px;padding:10px;min-height:500px;width: 180px; float:none !important;display: inline-block;vertical-align: top;">
    <h5>Date</h5>
    <%= text_field_tag "sessionals_date[]", '' ,class: "datepickerss absense-input", required: true, placeholder: "Select Date" %>
    <% @students.try(:each) do |std| %>
        <%= text_field_tag "sessionals[#{std.id}][]", "" ,class: "absense-input calculate"+std.id.to_s %>
    <% end %>
  </div>
</div>