
<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example thead th').each( function (i, v) {
      // var title = $('#example tfoot th').eq( $(this).index() ).text();
      var title = $(this).text();
      if(title != "Actions"){
        $(this).html(
        '<input type="text" class="form-control" id="exampleInputName2" placeholder="'+title+' search">'
        );
      }
    });

    // DataTable
    var table = $('#example').DataTable();

    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();
        } );
    } );
  });
</script>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Marks Devisions
    <a href="<%= new_mark_path %>" class="btn btn-color pull-right" style="width:200px;">Add New</a></h1>
  <br>
</div>

<table class="table" id="example">
  <thead class="table-head">
    <tr>
      <th>Name</th>
      <th>Marks</th>
      <th>Passing marks</th>
      <th>Grade</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <td><%= mark.name %></td>
        <td><%= mark.marks %></td>
        <td><%= mark.passing_marks %></td>
        <td><%= mark.grade_id %></td>
        <td><%= link_to 'Show', mark %>
        <%= link_to 'Edit', edit_mark_path(mark) %>
        <%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>