<style>
  .light-blue{  background-color: #B2D7EC;  }
  .yellow { background-color: #FEFF99; }
  .light-grey{ background-color: #F2F2F2; }
  .dark-grey { background-color: #DDD9C4; }
  .dark-blue { background-color: #8DB4E2;}

  .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
      border: 1px solid black;
  }
</style>

<div class="well well-lg">
  <h4>Student Name:           <%= @student.fullname %></h4>
  <h4>Student ID:             <%= @student.rollnumber %></h4>
  <h4>Grade:                  <%= @class.full_name %></h4>
</div>
<% @exams.each do |exam| %>
    <h3 class="text-center col-md-11"><%= exam.name %></h3>
    <h3 class="col-md-1 pull-right"><%= link_to 'Print'.html_safe, pdf_result_card_path(@student.id, @class.id, @batch.id, exam.id, 'pdf'), class: 'btn btn-success' %></h3>
    <%= render partial: 'quarter_result', locals: {exam: exam} %>
<% end %>