<div class='form-temp'>
  <div class="field" style="margin-bottom: 10px">
    <input type="button" id="submit_form" value="Save", class="btn btn-success pull-right" style="margin-left:5px">
    <span class = "pull-right"><input type="button" value = "Add More" id = "addmore" class="btn btn-primary"></span>
    <%#= f.label :grade_id %>
    <%#= f.collection_select :grade_id , Batch.last.grades.order(:name), :id , :full_name,{},{:style => 'height:34px;width: 90%',  class: 'form-control'} %>
  </div>
  <%= form_tag feebreakdowns_path, method: 'post', class: "form-str"  do %>
    <div class = "col-md-12">
      <label>Select Grade</label><br>
      <%= select_tag "grade",options_for_select(@grades), class: 'form-control' %><br>
    </div>
    <div class='con col-md-4 well well-lg'>
      <div class="field">
        <label>Title</label> <br>
        <%= text_field_tag 'titles[]','',class: 'form-control',:style => 'height:34px;width: 90%' %>
      </div>
      <div class="field">
        <label>Amount</label> <br>
        <%= number_field_tag "amounts[]",'',class: 'form-control',:style => 'height:34px;width: 90%' %>
      </div>
      <br>
      <div class="actions">
        <%#= f.submit class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-template hidden">
  <div class="con col-md-4 well well-lg">
      <div class="field">
        <label>Title</label> <br>
        <%= text_field_tag 'titles[]','',class: 'form-control',:style => 'height:34px;width: 90%' %>
      </div>
      <div class="field">
        <label>Amount</label> <br>
        <%= number_field_tag 'amounts[]','',class: 'form-control',:style => 'height:34px;width: 90%' %>
      </div>
      <br>
      <div class="actions">
        <%#= f.submit class: "btn btn-success" %>
      </div>
  </div>
</div>
<br><br>



<script type="text/javascript">
  $("#addmore").on("click", function (){
    console.log("I am here");
    var html = $($('.col-template').html());
    console.log(html);
    html.insertAfter($('.form-temp .con').last());
  });

  $("#submit_form").click(function(){
    $('form').each(function(){
      $(this).submit();
    });
  })
</script>
