<p id="notice"><%= notice %></p>

<h1>Listing Feebreakdowns</h1>

<table class="table">
  <thead class="table-head">
    <tr>
      <th>Grade</th>
      <th>Title</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feebreakdowns.each do |feebreakdown| %>
      <tr>
        <td><%= feebreakdown.grade_id %></td>
        <td><%= feebreakdown.title %></td>
        <td><%= feebreakdown.amount %></td>
        <td><%= link_to 'Show', feebreakdown %>
        <%= link_to 'Edit', edit_feebreakdown_path(feebreakdown) %>
        <%= link_to 'Destroy', feebreakdown, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feebreakdown', new_feebreakdown_path %>
<button class="btn btn-success pull-right" onclick="window.print()">Print</button>
