<p id="notice"><%= notice %></p>

<h1>Listing Feebreakdowns</h1>

<table class="table">
  <thead class="table-head">
    <tr>
      <th>Grade</th>
      <th>Title</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feebreakdowns.each do |feebreakdown| %>
      <tr>
        <td><%= feebreakdown.grade.name if feebreakdown.grade %></td>
        <td><%= feebreakdown.title %></td>
        <td><%= feebreakdown.amount %></td>
        <td>
          <%= link_to '', feebreakdown ,:class => 'btn btn-success  glyphicon glyphicon-ok-circle'%>
          <%= link_to '', edit_feebreakdown_path(feebreakdown),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
          <%= link_to '', feebreakdown, method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Feebreakdown', new_feebreakdown_path %>
<button class="btn btn-success pull-right" onclick="window.print()">Print</button>
