

<% if @calenders.any? %> 


<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
   
  
  <div class="abc form-holder">
  <div class="text-center">
          <span>Calender</span>
    </div>
 
        
      </div>
</div>
</h1>

<div class="wrapper-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Grade</th>
        <th class="text-center">Title</th>
        <th class="text-center">Description</th>
        <th class="text-center">Starttime</th>
        <th class="text-center">Endtime</th>
        <th class="text-center">Actions</th>

      </tr>
    </thead>
    <tbody class="text-center">
        <% @calenders.each do |calender| %>
          <tr>
           
            <td><%= calender.grade %></td>
            <td><%= calender.title %></td>
            <td><%= calender.description %></td>
            <td><%= calender.starttime.strftime("%m/%d/%Y  %H:%M:%S") %></td>
            <td><%= calender.endtime.strftime("%m/%d/%Y    %H:%M:%S") %></td>
            <td><%= link_to '', calender,:class =>  'btn btn-success  glyphicon glyphicon-ok-circle' %>
              <%= link_to '', edit_calender_path(calender),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
              <%= link_to '', calender, method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
          </td> 
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<%end%>
