


<div class="abc" style="">

    <div class="container" >
      <div class="abc" style="">

    <div class="container" >
  
    <br>
        <div class="col-sm-4">
            <table class="table">
                <tbody>


              
              <tr>
                <td>Grade</td>
                <td><%= @calender.grade %></td>
              </tr>
              <tr>
                <td>Title</td>
                <td><%= @calender.title %></td>
              </tr>
              <tr>
                <td>Description</td>
                <td><%= @calender.description %></td>
              </tr>
              <tr>
                <td>Start time</td>
                <td><%= @calender.starttime %></td>
              </tr>
               <tr>
                <td>End time</td>
                <td><%= @calender.endtime %></td>
              </tr>


                   
                </tbody>
            </table>

        </div>
       </div>
    </div>
  </div>
</div>



