<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Employees 
  <%= link_to(new_employee_path, class: "btn m-b-xs btn-sm btn-primary btn-addon pull-right" ) do %>
    <i class="fa fa-plus"></i>
    New Employee
  <% end %>
  </h1>
</div>

<div class="wrapper-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee name</th>
        <th>Employee number</th>
        <th>Employee Department</th>
        <th>Employee Category</th>
        <th>Gender</th>
        <th>Employee Mob</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.full_name %></td>
          <td><%= employee.employee_number %></td>
          <td><%= employee.try(:department).try(:name) %></td>
          <td><%= employee.try(:category).try(:name) %></td>
          <td><%= employee.gender %></td>
          <td><%= employee.mobile_number %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-small btn-default" %></td>
          <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>