<p>
  <strong>Employee number:</strong>
  <%= @employee.employee_number %>
</p>

<p>
  <strong>Date of joining:</strong>
  <%= @employee.date_of_joining %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @employee.full_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @employee.date_of_birth %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @employee.religion %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @employee.qualification %>
</p>

<p>
  <strong>Employee category:</strong>
  <%= @employee.category_id %>
</p>

<p>
  <strong>Employee department:</strong>
  <%= @employee.department_id %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @employee.marital_status %>
</p>

<p>
  <strong>Child count:</strong>
  <%= @employee.child_count %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @employee.father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @employee.mother_name %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @employee.spouse_name %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @employee.blood_group %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @employee.nationality %>
</p>

<p>
  <strong>Id card no:</strong>
  <%= @employee.id_card_no %>
</p>

<p>
  <strong>Id card expiry:</strong>
  <%= @employee.id_card_expiry %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @employee.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @employee.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employee.country %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @employee.home_phone %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @employee.mobile_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Employee position:</strong>
  <%= @employee.position_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong>Pay date:</strong>
  <%= @employee.pay_date %>
</p>

<p>
  <strong>Next due date:</strong>
  <%= @employee.next_due_date %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
