<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Manage Positions 
  <%= link_to(new_position_path, class: "btn m-b-xs btn-sm btn-primary btn-addon pull-right" ) do %>
    <i class="fa fa-plus"></i>
    New Position
  <% end %>
  </h1>
</div>
<div class="wrapper-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @positions.each do |position| %>
        <tr>
          <td><%= position.name %></td>
          <td><%= position.try(:category).try(:name) %></td>
          <td><%= link_to 'Edit', edit_position_path(position), class: "btn btn-small btn-default" %></td>
          <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
