<div id="page-wrapper">
  <h1 class="m-n font-thin h3">Transport allotment information</h1>
  </br>
  </br>

  <h2 class="m-n font-thin h3">Student Name :  <%= @bus_allotment.student.fullname %></h2>

  <!-- Specifying an 'open' attribute will make all the content visible when the page loads -->
  <details>
    <summary>Student ID :  <%= @bus_allotment.student.id %></summary>

    <table>
      <tr>
        <th scope="row">Transport</th>
        <td> <%= @bus_allotment.transport.no %></td>
      </tr>
      </br>
      <tr>
        <th scope="row">Route</th>
        <td><%= @bus_allotment.route.name %></td>
      </tr>
      <tr>
        <th scope="row">Stop</th>
        <td><%= @bus_allotment.stop.name%></td>
      </tr>
      <tr>
        <th scope="row">Vehicle</th>
        <td>
        <%= @bus_allotment.transport.vehicle.vehicle_no %>
        </td>
      </tr>
      <tr>
        <th scope="row">Driver</th>
        <td>
          <%= @bus_allotment.transport.employee.full_name %>
        </td>
      </tr>
    </table>
  </details>

</div>
