<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @bus_allotment.student_id %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @bus_allotment.transport_id %>
</p>

<p>
  <strong>Route:</strong>
  <%= @bus_allotment.route_id %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @bus_allotment.stop_id %>
</p>

<%= link_to 'Edit', edit_bus_allotment_path(@bus_allotment) %> |
<%= link_to 'Back', bus_allotments_path %>
