<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {

    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"
        }
    });



  });

</script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Invoices
  <a href="<%= new_invoice_path %>" class="btn btn-info pull-right" style="width:200px; background-color: #729F32; color:white">New Invoice</a></h1>
</div>

<table class="table" id="example">
  <thead class= "table-head">
    <tr>
      <th>Booknum</th>
      <th>Student</th>
      <th>Discount</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.booknum %></td>
        <td><%= invoice.student_id %></td>
        <td><%= invoice.discount %></td>
        <td><%= link_to '', invoice,:class =>  'glyphicon glyphicon-ok-circle' %>
        <%= link_to '', invoice, method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'glyphicon glyphicon-remove-circle'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

