<div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-3 logo1 ">
        <%= image_tag asset_path("img/logo.png"), alt: ".", class: 'img-responsive', style: "height:60px; width: 60px"%>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-6 name" >
          <h3><b>Al-Omam International School</b></h3>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-3 logo2">
          <!-- <img src="logo2.png" height="60" width="60"> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4" style="text-align: center">
          <h3><b><u>Invoice</u></b></h3>
      </div>

      <div class="col-md-4">
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 invoice">
            <h5><b>Invoice To:</b></h5>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-6 student">
        <table class="table table-bordered studenttable">
          <tr>
             <th>Student Name:</th>
             <td><%= @invoice.student.fullname %></td>
          </tr>
          <th>Student ID:</th>
          <td>15419:</td>
          <tr>
             <th>Parent Name:</th>
             <td><%= @invoice.student.parent.name %></td>
          </tr>
          <tr>
             <th>Class:</th>
             <td><%= @invoice.student.grade.full_name%></td>
          </tr>
          <tr>
             <th>Email:</th>
             <td><%= @invoice.student.email %></td>
          </tr>
          <tr>
             <th>Address:</th>
             <td><%= @invoice.student.address %></td>
          </tr>
       </table>
      </div>

        <div class="col-md-6 col-xs-6 space1">
            <table class="table table-bordered studenttable">
                <tr>
                    <th>Address:</th>
                    <td>Arrihab Dist., Tal Al Asfar, Jeddah, KSA</td>
                </tr>
                <th>Tel:</th>
                <td> 012-6746557 - 6741878</td>
                <tr>
                    <th>Fax:</th>
                    <td>012-287250
                    </td>
                </tr>
                <tr>
                    <th>Website:</th>
                    <td>aloman.edu.sa</td>
                </tr>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 description">
            <table class="table table-stripped">
              <tr class="linesss">
                <th >#</th>
                <th >Description</th>
                <th >Unit Price</th>
                <th >Qunatity</th>
                <th >Total</th>
              </tr>
              <% @invoice.lines.each do |pk| %>
                <tr style="background-color: #f0f5f5;">
                  <td class="no"><%= pk.id %></td>
                  <% if pk.item_id == nil %>
                    <td class="desc"><%= pk.package.name %></td>
                  <% else %>
                    <td class="desc"><%= pk.item.name %></td>
                  <% end %>
                  <td class="unit"><%= pk.price %></td>
                  <td class="qty"><%= pk.quantity %></td>
                  <td class="total"><%= pk.price * pk.quantity %></td>
                </tr>
              <% end %>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-2 space">

        </div>

        <div class="col-md-5 col-xs-5 space">

        </div>

        <div class="col-md-5 col-xs-5">
            <div class="row">
                <div class="col-md-12 bottom">
                  <b>Total: &emsp;&emsp; <%= subtotal = @invoice.lines.sum('quantity * price') %></b>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12 bottom">
                <b> Discount:&nbsp; <%= @invoice.discount %> </b>
              </div>
            </div>

                <div class="row">
                <div class="col-md-12 bottom">
                    <h4><b> Grand Total: &nbsp;<%= subtotal-@invoice.discount %></b> </h4>
                </div>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-xs-5" ></div>
        <div class="col-md-5 col-xs-5" ></div>
        <div class="col-md-2 col-xs-2 button" ><button type="button" class="btn btn-success" onclick="window.print()">Print</button></div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 footer">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 address">
            <p>Al-Omam Int. School is fully accredited by The American International Association Accreditation for Schools & Colleges </p>

        </div>
    </div>
</div>


<style type="text/css">
  .container{
    width: 595px;
    height: 842px;

}
.border{
    background-color: #0189d0;
    width: 595px;
    height: 1.5em;
}

.name{
text-align: center;

}


.space{
    background-color:white;
}
.footer{
    background-color:#0189d0;
    width: 595px;
    height: 0.2em;
    margin-top: 1em;

}
.address{

    font-size:10px;
    text-align: center;
}

.studenttable{
    font-size: 9px;

}
.linesss{
    border-top:4px solid #0189d0 ;
    border-bottom: 4px solid #0189d0;
    color: black;
}
.line2{
    background-color: #f0f5f5;
    border-bottom: 4px solid #0189d0;
}

.bottom{

    margin-left: 2em;
text-decoration: underline;
}

.button{
    margin-top:1em;
}

.btn-success{
    background-color:#0189d0;
}

.logo1{

    margin-top: 0.5em;
}
.logo2{

    margin-top: 0.5em;
}

</style>
<style type="text/css" media="print">
  @page { size: portrait; }
</style>