<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example thead th').each( function (i, v) {
      // var title = $('#example tfoot th').eq( $(this).index() ).text();
      var title = $(this).text();
      if(title != "Actions"){
        $(this).html(
        '<input type="text" class="form-control" id="exampleInputName2" placeholder="'+title+' search">'
        );
      }
    });

    // DataTable
    var table = $('#example').DataTable();

    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();
        } );
    } );
  });

</script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Lesson Plan
  <% if current_user.role.name == 'Teacher' %>
    <a href="<%= new_lessonplan_path(year_plan: @year_plan) %>" class="btn btn-color pull-right" style="width:200px;">Add a new Lesson Plan</a>
  <% end %>
  </h1>
  <br>
</div>
<br>
<div style="overflow: scroll">
  <table id="example" class="table table-striped table-bordered table-responsive" style="overflow: scroll">
    <thead class= "table-head">
    <tr>
      <th>Class</th>
      <th>Subject</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lessonplans.each do |lessonplan| %>
      <% if lessonplan.approved == true %>
        <tr class="approved-row">
      <% else %>
        <tr class="disapproved-row">
      <% end %>
        <td><%= link_to "#{lessonplan.grade.name}",lessonplan_path(lessonplan) %></td>
        <td><%= lessonplan.subject.name %></td>
        <td><%= link_to '', lessonplan,:class =>  'btn btn-success  glyphicon glyphicon-ok-circle' %>
            <%= link_to '', edit_lessonplan_path(lessonplan),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
            <%= link_to '', lessonplan, method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>



<style type="text/css">
tr.approved-row td{
  color: green;
}

tr.disapproved-row td{
  color: red;
}
</style>
