<style type="text/css">
    @media (min-width: 1200px)
.container {
     width: 970px ;
}
</style>

<div class="container" style="max-width:970px;" >

        <h3><%= @student.fullname %> <label style="font-weight:normal">(<%= @student.arabicname %>)</label></h3>
		<br>
        <div class="col-sm-4">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="student-profile-td">
                            Student ID
                        </td>

                        <td>
                            <%= @student.rollnumber %>
                        </td>
                    </tr>
                    <tr>
                        <td class="student-profile-td">
                            Class
                        </td>

                        <td>
                            <%= @student.grade_id %>
                        </td>
                    </tr>

                    <tr>
                        <td class="student-profile-td">
                            Date of Birth
                        </td>

                        <td>
                            <%= @student.dob %>
                        </td>
                    </tr>

                    <tr>
                        <td class="student-profile-td">
                            Iqama Number
                        </td>

                        <td>
                            <%= @student.iqamaNumber %>
                        </td>
                    </tr>

                    <tr>
                        <td class="student-profile-td">
                            Iqama Expiry
                        </td>

                        <td>
                            <%= @student.iqamaExpiry %>
                        </td>
                    </tr>

                     <tr>
                        <td class="student-profile-td">
                            Gender
                        </td>

                        <td>
                            <%= @student.gender %>
                        </td>
                    </tr>

                    <tr>
                        <td class="student-profile-td">
                            Nationality
                        </td>

                        <td>
                            <%= @student.nationality %>
                        </td>
                    </tr>

                    <tr>
                        <td class="student-profile-td">
                            Mother Language
                        </td>

                        <td>
                            <%= @student.language %>
                        </td>
                    </tr>

                    <tr>
                        <td class="student-profile-td">
                            Religion
                        </td>

                        <td>
                            <%= @student.religion %>
                        </td>
                    </tr>

                    <tr>
                        <td class="student-profile-td">
                            Birth Place
                        </td>

                        <td>
                            <%= @student.birth_place %>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="col-sm-4">
        <%= image_tag @student.image, class: "img-responsive student-image" %>
         <div>
         <br>
            <%= link_to "More Details", student_path(@student.id), class: "btn btn-success" %>
        </div>
        </div>

    </div>