<script type="text/javascript">
  // $(document).ready(function() {
  

  //   $('#example').dataTable({
  //       dom: 'T<"clear">lfrtip',
  //       tableTools: {
  //           "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
  //           "aButtons": [
  //               {
  //                   "sExtends": "copy",
  //                   "sButtonText": "Copy to clipboard"
  //               },
  //               {
  //                   "sExtends": "csv",
  //                   "sButtonText": "Save to CSV"
  //               }
  //           ]

  //       }
  //   });
  // });

</script>

<h2>Students<a href="<%= new_student_path %>" class="btn btn-info pull-right" style="width:200px;">Admit a new Student</a></h2>
  <div id="create_parties">
    <% render "detail" %>
  </div>
  <table id="example" class="table table-striped table-bordered datatables">
    <thead>
      <tr>
        <th>Serial No.</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Batch</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <% @students.try(:each) do |student| %>
        <tr class = "clickable" id="<%= student.id %>">
          <td>
            <%= student.id %>
          </td>
          <td>
            <%= student.first_name %>
          </td>
          <td>
            <%= student.middle_name %>
          </td>
          <td>
            <%= student.last_name %>
          </td>
          <td>
            <%= student.email %>
          </td>
          <td>
            <%= student.address %>
          </td>
          <td>
            <%= student.dob %>
          </td>      
        </tr>
      <% end %>
    </tbody>
  </table>

<script type="text/javascript">
  $("tr.clickable").click(function(e) {
    var id = e.currentTarget.attributes.id.nodeValue;
    // alert("here i am");
    $.get('/students/detail', {id: id})
      .done(function(data){
        if (data)
        {
          $("#error_div_rollnum").removeClass('hide');
          $("#error_text_rollnum").html($("#roll_Number").val() + " roll number already registered!");
          $("#roll_Number").val('');
        }
        else
        {
          $("#error_div_rollnum").addClass('hide');
        }
      });
  })
</script>
