<h2>Admission Form</h2>
</br>
<!-- <div class="col-md-3"></div> -->
<div class="col-md-12">
	<%= form_for @student do |std| %>
		<div class="container form-holder">
	      	<div class="row">
	        	<div class="row">
	        		<div class= "admission-form-heading" ><h4 style="color:white;"> Personal Information </h4> </div>
	        		<br>
	        		<br>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">First Name</label>
							<%= std.text_field :first_name , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
	            		</div>
	            	</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputPassword1">Second Name</label>
	              			<%= std.text_field :middle_name , :style => 'height:34px;',  class: 'form-control' %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Third Name</label>
	              			<%= std.text_field :last_name , :style => 'height:34px;',  class: 'form-control' %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Forth Name</label>
							<%= std.text_field :forthname , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
	            		</div>
	            	</div>
	            	<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Fifth Name</label>
							<%= std.text_field :fifthname , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
	            		</div>
	            	</div>
	            	<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Arabic Name</label>
							<%= std.text_field :arabicname , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
	            		</div>
	            	</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Batch</label>
	              			<%= std.text_field :grade_id , :style => 'height:34px;',  class: 'form-control',required: true %>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputPassword1">Date of Birth</label>
	              			<%= std.text_field :dob , :id => 'datepicker', :style => 'height:34px;', class: 'form-control' %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Gender</label>
	              			<%= std.select :gender, options_for_select(%w[MALE FEMALE]),{}, {class: "form-control", style: ''} %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Blood Group</label>
	              			<%= std.select :blood, options_for_select(%w[Unknown A+ A- B+ B- O+ O- AB+ AB-]),{}, {class: "form-control"} %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputPassword1">Birth Place</label>
	              			<%= std.text_field :birth_place , :style => 'height:34px;',  class: 'form-control',required: true %>
	            		</div>
	         		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
		              		<label for="exampleInputEmail1">Nationality</label>
		              		<%= std.text_field :nationality , :style => 'height:34px;',  class: 'form-control',required: true %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Language</label>
	              			<%= std.text_field :language , :style => 'height:34px;',  class: 'form-control',required: true %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputPassword1">Religion</label>
	              			<%= std.select :religion, options_for_select(%w[Islam Chritianity Budhism Hinduism Jew]),{}, {class: "form-control"} %>
	              		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
          				<div class="form-group">
							<%= std.file_field :image, required: true %>
						</div>
					</div>
	        	</div>
	        	<br>
	        	<div class="row">
	          		<div class= "admission-form-heading" ><h4 style="color:white;"> Contact Information </h4> </div>
	          		<br><br>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Address</label>
	              			<%= std.text_field :address , :style => 'height:34px;',  class: 'form-control',required: true %>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputPassword1">Address 2</label>
	              			<%= std.text_field :address , :style => 'height:34px;',  class: 'form-control' %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">City</label>
	              			<%= std.text_field :city, :style => 'height:34px;',  class: 'form-control',required: true %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">State</label>
	              			<%= std.text_field :state , :style => 'height:34px;',  class: 'form-control',required: true %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Country</label>
	              			<%= std.text_field :country , :style => 'height:34px;',  class: 'form-control',required: true %>
	              		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Cell Number</label>
	              			<%= std.text_field :mobile , :style => 'height:34px;',  class: 'form-control',required: true %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
		              		<label for="exampleInputPassword1">Phone Number</label>
		              		<%= std.text_field :phone, :style => 'height:34px;',  class: 'form-control',required: true %>
	            		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Email</label>
	              			<%= std.email_field :email , :id => 'email_field' , :style => 'height:34px;', class: 'form-control', required: true %>
							<div class = "hide" id= "error_div">
								<span style = "color:red;" id="error_text">  </span>
							</div>
	            		</div>
	         		</div>
	        	</div>
	        	<br>
	        	<br>

	        	
	        	<div class="row">
	          		<div class= "admission-form-heading" ><h4 style="color:white;"> Medical Fitness </h4></div>
	          		<br>
	        		<br>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Current Weight</label>
	              			<%= std.text_field :weight , :style => 'height:34px;',  class: 'form-control',required: true %>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Current Height</label>
	              			<%= std.text_field :height , :style => 'height:34px;',  class: 'form-control',required: true %>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Eye Side</label>
	              			<%= std.text_field :eyeside , :style => 'height:34px;',  class: 'form-control',required: true%>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group ">
	              			<label for="exampleInputEmail1">Hearing</label>
	              			<%= std.select :hearing, options_for_select(%w[Healthy Un-healthy]), {}, {class: "form-control"  } %>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">RH-Factor</label>
	              			<%= std.text_field :rh , :style => 'height:34px;',  class: 'form-control',required: true%>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Alergy</label>
	              			<%= std.text_field :alergy , :style => 'height:34px;',  class: 'form-control',required: true%>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Nurology</label>
	              			<%= std.text_field :nurology , :style => 'height:34px;',  class: 'form-control',required: true%>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Physical Health</label>
	              			<%= std.text_field :physical , :style => 'height:34px;',  class: 'form-control',required: true %>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Disability</label>
	              			<%= std.text_field :disability , :style => 'height:34px;',  class: 'form-control',required: true%>
	             		</div>
	          		</div>

	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group ">
	              			<label for="exampleInputEmail1">Behavior</label>
	              			<%= std.select :behaviour, options_for_select(%w[Emotional Physical]),{}, {class: "form-control" } %>
	             		</div>
	          		</div>

	          	</div>
	        	<br> <br>
	        	<div class="row">
	          		<div class= "admission-form-heading" ><h4 style="color:white;"> Fee Information </h4></div>
	          		<br>
	        		<br>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Annual Fee</label>
	              			<%= std.text_field :fee , :style => 'height:34px;',  class: 'form-control',required: true %>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Installments Plan</label>
	              			<%= std.select :term, options_for_select(%w[Monthly Quarterly Bi-annualy Annualy ]),{}, {class: "form-control"} %>
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Each Installment</label>
	              			<input type="text" style="height: 34px" class = "form-control" id = "installment">
	             		</div>
	          		</div>
	          		<div class="column col-xs-12 col-sm-4">
	            		<div class="form-group">
	              			<label for="exampleInputEmail1">Next Due Date</label>
	              			<%= std.text_field :dueDate, :style => 'height:34px;', class: "form-control" %>
	             		</div>
	          		</div>
	          	</div>
	          	<div>
					<%= std.fields_for :emergency do |b| %>




				  <div class="row">
				    <div class= "admission-form-heading" ><h4 style="color:white;"> Emergency Information </h4> </div>
				    <br>
				    <br>        
				    <div class="column col-xs-12 col-md-4">
				      <div class="form-group">
				        <label for="exampleInputEmail1">Name</label>
				        <%= b.text_field :name , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>


				       <%= b.hidden_field :student_id, value: @student.id %>
				      </div>
				    </div>

				    <div class="column col-xs-12 col-md-4">
				      <div class="form-group">
				        <label for="exampleInputEmail1">Mobile</label>
				        <%= b.text_field :mobile , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
				      </div>
				    </div>

				    <div class="column col-xs-12 col-md-4">
				      <div class="form-group">
				        <label for="exampleInputEmail1">Phone</label>
				        <%= b.text_field :phone , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
				      </div>
				    </div>

				    <div class="column col-xs-12 col-md-4">
				      <div class="form-group">
				        <label for="exampleInputEmail1">E-mail Address</label>
				        <%= b.text_field :email , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
				      </div>
				    </div>
				  </div>



	          		<% end %>
	          	</div>
	      	</div>  
	    </div>
		<br>
		<div class="form-group">
			<%= std.submit "Parent Detail", :class => 'btn btn-block btn-success form-control',:style=>'width:24%;float: right;' %>
		</div>	
	<% end %>
</div>

<script>

	$("#datepicker").datepicker();

    $("#student_dueDate").datepicker({ changeYear: true , changeMonth: true });
    
    $("#datepicker").blur(function(){
    	alert("i am here");
	  	$.get('/students/validate_model', {email: this.value})
  		.done(function(data){
	  		if (data)
	  		{
	  			$("#error_div").removeClass('hide');
	  			$("#error_text").html($("#email_field").val() + " email already registered!");
	  			$("#email_field").val('');
	  		}
	  		else
	  		{
	  			$("#error_div").addClass('hide');
	  		}
	  	})
	});

  	$("#roll_Number").blur(function(){
  		var grade = $("#grade").val();
	  	$.get('/students/validate_rollnum', {roll_Number: this.value, grade: grade})
  		.done(function(data){
	  		if (data)
	  		{
	  			$("#error_div_rollnum").removeClass('hide');
	  			$("#error_text_rollnum").html($("#roll_Number").val() + " roll number already registered!");
	  			$("#roll_Number").val('');
	  		}
	  		else
	  		{
	  			$("#error_div_rollnum").addClass('hide');
	  		}
	  	});
	});
  	$("#student_term").change(function(){

  		var val = $("#student_term").val();
  		console.log(val);
  		if(val == 'Monthly'){
  			$("#installment").val(parseInt($("#student_fee").val())/12);
  		}
  		if(val == 'Quarterly'){
  			$("#installment").val(parseInt($("#student_fee").val())/4);
  		}
  		if(val == 'Bi-annualy'){
  			$("#installment").val(parseInt($("#student_fee").val())/2);
  		}
  		if(val == 'Annualy'){
  			$("#installment").val(parseInt($("#student_fee").val()));
  		}

  	});

  	$("#student_fee").blur(function(){

  		var val = $("#student_term").val();
  		console.log(val);
  		if(val == 'Monthly'){
  			$("#installment").val(parseInt($("#student_fee").val())/12);
  		}
  		if(val == 'Quarterly'){
  			$("#installment").val(parseInt($("#student_fee").val())/4);
  		}
  		if(val == 'Bi-annualy'){
  			$("#installment").val(parseInt($("#student_fee").val())/2);
  		}
  		if(val == 'Annualy'){
  			$("#installment").val(parseInt($("#student_fee").val()));
  		}

  	});

	$("#grade").change(function(){
  		$("#roll_Number").val('');
	});
</script>

<style type="text/css">
	.form-holder .col-sm-4 {
	  min-height: 84px;
	}
	.form-holder .form-control{
		width: 65%;
	}
	.form-control{
		border-radius: 7px;
		border: black;
	}
</style>