<style>
    .nested-fields .btn-danger{
        margin-top: 1.6em;
    }
    .large-text{
        font-size: 1.4em;
    }
</style>
<%= form_for(@setting, url: create_marks_divisions_path(@setting), method: :post) do |f| %>
    <% if @setting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this grade_group from being saved:</h2>

          <ul>
            <% @setting.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="container form-holder">
      <div class="row">
        <br>
        <fieldset class="sss well well-lg">
          <legend class="lll">Grade Information</legend>
          <div class = "row">
            <div class="column col-xs-12 col-sm-4">
              <div class="form-group ">
                <div class="field">
                  <%= f.label :name, 'Grade' %><br>
                  <input type="text" disabled="disabled" value="<%= @setting.grade.try(:name) %>" class="form-control" style="height: 34px;"/>
                </div>
              </div>
            </div>
            <div class="column col-xs-12 col-sm-4">
              <div class="form-group ">
                <div class="field">
                  <%= f.label :name, 'Quarter' %><br>
                  <input type="text" disabled="disabled" value="<%= @setting.exam.try(:name) %>" class="form-control" style="height: 34px;"/>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="sss well well-lg">
          <legend class="lll">Term Work</legend>
          <div class = "row">
            <div class="col-sm-6 col-md-6 large-text">Marks Consumed: <b><span id="termwork-consumed"><%= @setting.marks_divisions.where(is_divisible: true).try(:sum, :total_marks) || 0 %></span></b></div>
            <div class="col-sm-6 col-md-6 large-text"><span class="pull-right">Total Marks Consumed: <b><span id="total-consumed"><%= @setting.marks_divisions.try(:sum, :total_marks) || 0 %></span></b></span></div>
            <% if @setting.marks_divisions.present? %>
                <%= f.fields_for :marks_divisions do |m| %>
                    <%= render 'marks_division_fields', f: m, exam: false %>
                <% end %>
            <% end %>
            <div class="links col-sm-12">
              <%= link_to_add_association 'Add Marks Divisions', f, :marks_divisions, render_options:  {locals: { exam: false }}, class: 'btn btn-success', role: 'button'  %>
            </div>
          </div>
        </fieldset>

        <fieldset class="sss well well-lg">
          <legend class="lll">Exams</legend>
          <div class = "row">
            <div class="col-sm-12 col-md-12 large-text">Marks Consumed: <b><span id="exam-consumed"><%= @setting.marks_divisions.where(is_divisible: false).try(:sum, :total_marks) || 0 %></span></b></div>
            <% if @setting.marks_divisions.present? %>
                <%= f.fields_for :marks_divisions do |m| %>
                    <%= render 'marks_division_fields', f: m, exam: true %>
                <% end %>
            <% end %>
            <div class="links col-sm-12">
              <%= link_to_add_association 'Add Marks Divisions', f, :marks_divisions, render_options:  {locals: { exam: true }}, class: 'btn btn-success', role: 'button'  %>
            </div>
          </div>
        </fieldset>

        <div class="actions">
          <%= f.submit 'Next', class: 'btn btn-block btn-success form-control', style: 'width:24%;float: right;' %>
        </div>

      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(document).on('blur', '.percentage, .total', function(){
        var total_marks = $(this).parents('.nested-fields').find('.total').val();
        var percentage = $(this).parents('.nested-fields').find('.percentage').val();
        if( total_marks === '' || percentage === ''){
            $(this).parents('.nested-fields').find('.passing').val(0);
        }
        else{
            total_marks = parseFloat(total_marks);
            percentage = parseFloat(percentage);

            var passing_marks = total_marks * (percentage/100.0);
            passing_marks = parseFloat(passing_marks);
            if(isNaN(passing_marks)){
                $(this).parents('.nested-fields').find('.passing').val(0);
            }
            else{
                $(this).parents('.nested-fields').find('.passing').val(passing_marks.toFixed(2));
            }

        }
    });

    $(document).on('blur', '.termwork-total', function(){
        var termwork_sum = 0.0;
        $('.termwork-total').each(function(){
            var val = parseFloat($(this).val());
            if(isNaN(val)){
            }
            else{
                termwork_sum = termwork_sum + val;
            }
        });

        var exam_sum = 0.0;
        $('.exam-total').each(function(){
            var val = parseFloat($(this).val());
            if(isNaN(val)){
            }
            else{
                exam_sum = exam_sum + val;
            }
        });

        $('#termwork-consumed').html(termwork_sum);
        $('#total-consumed').html(termwork_sum + exam_sum);
    });

    $(document).on('blur', '.exam-total', function(){
        var termwork_sum = 0.0;
        $('.termwork-total').each(function(){
            var val = parseFloat($(this).val());
            if(isNaN(val)){
            }
            else{
                termwork_sum = termwork_sum + val;
            }
        });

        var exam_sum = 0.0;
        $('.exam-total').each(function(){
            var val = parseFloat($(this).val());
            if(isNaN(val)){
            }
            else{
                exam_sum = exam_sum + val;
            }
        });
        $('#exam-consumed').html(exam_sum);
        $('#total-consumed').html(termwork_sum + exam_sum);
    });
</script>