<style>
    .nested-fields .btn-danger{
        margin-top: 1.6em;
    }
</style>
<%= form_for(@setting, url: create_subjects_path(@setting), method: :post, html: { id: 'group-form'} ) do |f| %>
    <% if @setting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this grade_group from being saved:</h2>

          <ul>
            <% @setting.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="container form-holder">
      <div class="row">
        <br>
        <fieldset class="sss well well-lg">
          <legend class="lll">Grade Information</legend>
          <div class = "row">
            <div class="column col-xs-12 col-sm-4">
              <div class="form-group ">
                <div class="field">
                  <%= f.label :name, 'Grade' %><br>
                  <input type="text" disabled="disabled" value="<%= @setting.grade.try(:name) %>" class="form-control" style="height: 34px;"/>
                </div>
              </div>
            </div>
            <div class="column col-xs-12 col-sm-4">
              <div class="form-group ">
                <div class="field">
                  <%= f.label :name, 'Quarter' %><br>
                  <input type="text" disabled="disabled" value="<%= @setting.exam.try(:name) %>" class="form-control" style="height: 34px;"/>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="sss well well-lg">
          <legend class="lll">Add Weightage</legend>
          <div class="row">
            <h3 class="col-md-3 pull-right"> <span>Weight Allocated:</span><span id="weightage"><%= @subject.sub_subjects.try(:sum, :weight) || 0.0 %></span></h3>
          </div>
          <%= f.fields_for :subjects do |s| %>
            <% if s.object.new_record? || s.object.id == @subject.id %>
                <div class = "row">
                    <div class="column col-xs-12 col-sm-4">
                        <div class="form-group ">
                            <div class="field">
                                <%= s.label :name %><br>
                                <%= s.text_field :name, :style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                            </div>
                        </div>
                    </div>
                </div>

                <%= s.fields_for :sub_subjects do |sub| %>
                  <%= render 'subjects/sub_subject_fields', f: sub %>
                <% end %>

            <% end %>
          <% end %>


          <div class="actions">
            <%= f.submit 'Group Subjects', class: 'btn btn-block btn-success form-control', style: 'width:24%;float: right;' %>
          </div>
        </fieldset>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $('#group-form').submit( function(event) {
        var weight_sum = calculate_total_weight();
        if(weight_sum != 100) {
            alert('Weight of all the subjects must be equal to 100.');
            event.preventDefault();
            return false;
        }
        else{
            return true;
        }
    });

    $(document).on('blur', '.weight', function(){
        var weight_sum = calculate_total_weight();
        $('#weightage').html(parseFloat(weight_sum));
    });

    function calculate_total_weight(){
        var weight_sum = 0.0;
        $('.weight').each(function(){
            var val = parseFloat($(this).val());
            if(isNaN(val)){
            }
            else{
                weight_sum = weight_sum + val;
            }
        });
        return weight_sum;
    }
</script>