<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div style="width: 100%; padding: 5% 10%; background-color: #F6F6F6;">
  <div style="width: 20%; float: left;">
    <%= image_tag 'http://alomam.edu.sa/sms/logo.png' %>
  </div>
  <div style="width: 80%; padding-left: 15px; padding-right: 15px; min-height: 100px;"><h1>Al Omam International School</h1></div>
  <div style="width: 75%; border: 1px solid black; background-color: white; border-radius: 4px; margin-bottom: 5px; padding: 2%">

    <p style="font-size: 1.2em; min-height: 200px;">
      <%= @msg %>
    </p>

    <p style="width: 80%;">
    <div>Regards,</div>
    <div>Al-Omam International School.</div>
    <div>Office: 012 - 6746557 - 6741878 / Fax: 012 - 2872504</div>
    <div>Al Rehab Dist., Jeddah - KSA.</div>
    <div>http://alomam.edu.sa/</div>
    </p>

    <div style="margin-bottom: 20px; width: 95%;">
      <%= link_to 'Login', root_url,
                  style: 'background-color: #CC3366; color: white; font-size: 2em; padding: 0.5em;
            text-decoration: none; margin-left: 80%;'
      %>
    </div>
  </div>

  <div style="margin-top: 5%; width: 75%; text-align: center; border-top: 3px dotted #ccc; padding: 15px; border-bottom: 3px dotted #ccc;">
    If you need help, visit our
    <%= link_to 'Support Page', 'http://alomam.edu.sa/index.php/login/contact-us', style: 'color: #E68DAB' %>,
    contact us at <span style="color: #E68DAB">ask@alomam.edu.sa</span> or call at
    <span style="color: #E68DAB">012 - 6746557</span>
  </div>

  <div style="width: 75%; text-align: center; padding-top: 30px;">
    <div>Follow us on</div>
    <div>
      <%= link_to image_tag('http://alomam.edu.sa/sms/fb.png', style: 'height: 15px;').html_safe, 'https://www.facebook.com/AlOmamSchool', style: 'margin-left: 3px;' %>
      <%= link_to image_tag('http://alomam.edu.sa/sms/tw.png', style: 'height: 15px;').html_safe, 'https://twitter.com/AlOmamIS', style: 'margin-left: 3px;' %>
      <%= link_to image_tag('http://alomam.edu.sa/sms/google.png', style: 'height: 15px;').html_safe, 'https://plus.google.com/u/1/+AlomamEduSa/about', style: 'margin-left: 3px;' %>
      <%= link_to image_tag('http://alomam.edu.sa/sms/map.png', style: 'height: 15px;').html_safe, 'http://goo.gl/sfbD7u', style: 'margin-left: 3px;' %>
      <%= link_to image_tag('http://alomam.edu.sa/sms/web.gif', style: 'height: 15px;').html_safe, 'http://www.alomam.edu.sa', style: 'margin-left: 3px;' %>
    </div>
  </div>
</div>

</body>
</html>