<p id="notice"><%= notice %></p>

<h1>Listing Shopcategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopcategories.each do |shopcategory| %>
      <tr>
        <td><%= shopcategory.name %></td>
        <td><%= link_to 'Show', shopcategory %></td>
        <td><%= link_to 'Edit', edit_shopcategory_path(shopcategory) %></td>
        <td><%= link_to 'Destroy', shopcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopcategory', new_shopcategory_path %>
