<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Confirm Admin Credentials
  </h1>
</div>
<br>
  <%= form_tag home_confirm_admin_path do %>
    <div class="col-md-5">
      <label>Enter Email</label>
      <%= text_field_tag :email, '',class: 'form-control' %>
    </div>
    <div class="col-md-5">
      <label>Enter Password</label>
      <%= password_field_tag :password, '' ,class: 'form-control', autofil: 'off' %>
    </div>
    <br>
    <br><br>
    <br><br>
    <%= hidden_field_tag :redirection, @redirection %>
    <%= submit_tag 'Proceed', class: 'btn btn-lg btn-info pull-right' %>
  <% end %>
