<style type="text/css">
    /*@media(min-width: 1200px) {*/
        /*.abc {*/
            /*width: 1080px;*/
            /**/
        /*}*/
    /*}*/

    .box{
        min-height: 220px;
        max-height: 220px;
        color: white;
        padding-top: 0.7em;
    }
    .long-box{
        min-height: 335px;
        max-height: 335px;
        color: white;
        padding-top: 0.7em;
    }


    .blue-box   {   background-color: #3498db; }
    .green-box  {   background-color: #2ecc71; }
    .red-box    {   background-color: #e74c3c; }
    .purple-box {   background-color: #8e44ad; }
    .dark-box   {   background-color: #0C0C1E; }
    .grey-box   {   background-color: #6C7A89; }
    .text-label{  font-size: 1.4em; }
    .text { font-size: 1.6em; }
    .heading{ font-size: 2em; }
    .inner-box{ background-color: #fff; height: 150px; color: #58666e; padding-top: 0.8em;}
    .long-inner-box{ overflow: auto; background-color: #fff; height: 270px; color: #58666e; padding-top: 0.8em;}

</style>
<% if current_user.role.name == 'Parent' %>
    <hr>
    <div class="modal fade " id="std_modal" role="dialog" data-backdrop="static">
      <div class="modal-dialog" style="margin:20px; ">
        <!-- Modal content-->
        <div class="modal-content" style="width: 207%;">
          <div class="modal-header login-modal-header" style="text-align:center">
            <h4>Updata Information <sup> <button class="btn btn-danger" id = "close_modal" style="float:right; "> X</button> </sup> </h4>

          </div>
          <div class="modal-body">
            <%= render '/students/edit' %>

          </div>
        </div>
      </div>
    </div>
    <% if @student.iqamaExpiry.nil? || @student.iqamaExpiry == "" %>
      <div class="modal fade " id="secret_modal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="margin:20px; ">
          <!-- Modal content-->
          <div class="modal-content" style="width: 207%;">
            <div class="modal-header login-modal-header" style="text-align:center">
              <h4>Enter Information To Continue</h4>
            </div>
            <div class="modal-body">
              <%= render '/students/edit' %>

            </div>
          </div>
        </div>
      </div>


    <% else %>
      <div class="abc" style="">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="col-sm-12">
              <%="#{@student.fullname} - #{@student.grade.full_name}" %>
              <% if @student.arabicname.present? %>
                  <label style="font-weight:normal">(<%= @student.arabicname %>)</label>
              <% end %>
              <button id = "stud_info" class="btn btn-info btn-small pull-right"> Update Information </button>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12">
              <div class="col-sm-6 box green-box">
                <div class="heading">Personal</div>
                <div class="col-md-12 inner-box">
                  <div class="row">
                    <div class="col-sm-3 text-label">ID</div>
                    <div class="col-sm-9 text"><%= @student.rollnumber %></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 text-label">Phone</div>
                    <div class="col-sm-9 text"><%= @student.phone %></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 text-label">Email</div>
                    <div class="col-sm-9 text"><%= @student.email %></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3 text-label">Joining</div>
                    <div class="col-sm-9 text"><%= @student.created_at.to_date %></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 box blue-box">
                <div class="heading">Fee Info</div>
                <div class="col-md-12 inner-box">
                  <div class="row">
                    <div class="col-sm-4 text-label text-center" style="color: #3498db;">Total</div>
                    <div class="col-sm-4 text-label text-center" style="color: #2ecc71;">Paid</div>
                    <div class="col-sm-4 text-label text-center" style="color: #e74c3c;">Balance</div>
                  </div>
                  <div class="row">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 box red-box">
                <div class="heading">Parents</div>
                <div class="col-md-12 inner-box">
                  <div class="row">
                    <div class="col-sm-4 text-label">Father's Name</div>
                    <div class="col-sm-8 text"><%= @student.parent.name if @student.parent.present? %></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 text-label">Father's Phone</div>
                    <div class="col-sm-8 text"><%= @student.parent.mobile if @student.parent.present? %></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 text-label">Mother's Name</div>
                    <div class="col-sm-8 text"><%= @student.parent.mothername if @student.parent.present? %></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 text-label">Mother's Phone</div>
                    <div class="col-sm-8 text"><%= @student.parent.mothermobile if @student.parent.present? %></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 box purple-box">
                <div class="heading">Location<span class="pull-right">Add</span></div>
                <div class="col-md-12 inner-box">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="col-md-6 long-box dark-box">
                <div class="heading">Contact Us</div>
                <div class="row">
                  <div class="col-md-12">
                    <form>
                      <div class="form-group">
                        <label for="department">Department</label>
                        <select class="form-control" id="department">
                          <option>Principal</option><option>Accounts</option><option>Academic</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

              <div class="col-md-6 long-box grey-box">
                <div class="heading">Teachers & Subjects</div>
                  <div class="col-md-12 long-inner-box">
                    <div class="row" style="padding-left: 20px; padding-right: 20px;">
                      <table class="table table-bordered table-condensed" style="font-size: 1em;">
                        <tr><th class="col-sm-5">Teacher</th> <th class="col-sm-5">Subject</th></tr>
                        <% @bridges.try(:each) do |bridge| %>
                          <tr>
                            <td><%= Employee.find_by_id(bridge.employee_id).try(:full_name) || 'Teacher Not Found.' %></td>
                            <td><%= Subject.find_by_id(bridge.subject_id).try(:name) %></td>
                          </tr>
                        <% end %>

                      </table>
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
        <br />
      </div>
    <% end %>
<% elsif current_user.role.name == 'Teacher' %>
    <div class="modal fade " id="std_modal" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-lg" style="">
        <!-- Modal content-->
        <div class="modal-content" style="">
          <div class="modal-header login-modal-header" style="text-align:center">
            <h4>Updata Information <sup> <button class="btn btn-danger" id = "close_modal" style="float:right; "> X</button> </sup> </h4>

          </div>
          <div class="modal-body">
            <div class="row">
              <%= render '/employees/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="col-sm-12">
          <%= "#{@employee.try(:full_name)}" %>
          <button id = "stud_info" class="btn btn-info btn-small pull-right"> Update Information </button>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="col-sm-6 box green-box">
            <div class="heading">Personal</div>
            <div class="col-md-12 inner-box">
              <div class="row">
                <div class="col-sm-3 text-label">ID</div>
                <div class="col-sm-9 text"><%= @employee.employee_number %></div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-label">Gender</div>
                <div class="col-sm-9 text"><%= @employee.gender %></div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-label">Joining</div>
                <div class="col-sm-9 text"><%= @employee.date_of_joining %></div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-label">Birthday</div>
                <div class="col-sm-9 text"><%= @employee.date_of_birth %></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 box blue-box">
            <div class="heading">Contact Information</div>
            <div class="col-md-12 inner-box">
              <div class="row">
                <div class="col-sm-3 text-label">Address</div>
                <div class="col-sm-9 text"><%= @employee.address1 || @employee.address2 %></div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-label">Mobile</div>
                <div class="col-sm-9 text"><%= @employee.mobile_number %></div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-label">Home Ph.</div>
                <div class="col-sm-9 text"><%= @employee.home_phone %></div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-label">Email</div>
                <div class="col-sm-9 text"><%= @employee.email %></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 long-box red-box">
            <div class="heading">Responsibilities</div>
            <div class="col-md-12 long-inner-box">
              <div class="row" style="padding-left: 20px; padding-right: 20px;">
                <table class="table table-bordered table-condensed" style="font-size: 1.2em;">
                  <tr><th class="col-sm-5">Grade</th> <th class="col-sm-5">Subject</th></tr>
                  <% @bridges.try(:each) do |bridge| %>
                      <tr>
                        <td><%= Grade.find_by_id(bridge.grade_id).try(:full_name) || 'Grade Not Found.' %></td>
                        <td><%= Subject.find_by_id(bridge.subject_id).try(:name) %></td>
                      </tr>
                  <% end %>

                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-6 long-box purple-box">
            <div class="heading">Location</div>
            <div class="col-md-12 long-inner-box">
            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>

  <div id="myCarousel" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

  <div class="carousel-inner" role="listbox" style=" margin-top:30px; max-height:300px;">
    <div class="item active">
      <%= image_tag "a.jpg", alt: ".", class: 'img-responsive', style: "padding-left:10px;"%>
    </div>

    <div class="item">
      <%= image_tag "b.jpg", alt: ".", class: 'img-responsive', style: "padding-left:10px;"%>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>


<div id='calendar' class="ui-widget" >
</div>
<%end%>










<style type="text/css">
.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 0.8em; }

</style>


<script type="text/javascript">
$(document).ready(function() {


    $('#calendar').fullCalendar({});
    $('#secret_modal').modal('show');
    $('#std_modal').modal('hide');


    $('#stud_info').click(function (){
      $('#std_modal').modal('show');
    });
    $('#close_modal').click(function (){
      $('#std_modal').modal('hide');
    });


});

</script>