<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {
    var table = $('#example').DataTable({"aaSorting": []});

    // Apply the search
  });

</script>

<div class="list-group list-group-lg list-group-sp col-md-12" style="overflow-y: scroll;" >  
  <h3 class="text-center">Recent Activities <button class="btn btn-primary pull-right" onclick="window.print()"> Print</button></h3>
  <br>
  <table id = 'example'>
    <thead>
      <th style="display: none"></th>
    </thead>
    <tbody>
      <% @notifications.try(:each) do |noti| %>
        <tr>
          <td>
            <a herf class="list-group-item clearfix" style="background-color: aliceblue" >
              <span class="pull-left thumb-sm avatar m-r">
                <%= image_tag noti.image %>
              </span>
              <span class="" >
                <span><%= noti.user.email.split('@').first+"@ ( at #{(noti.created_at+3.hour).strftime('%d/%B/%Y - %I:%M%p')})" %> </span>
                <br>
                <small class="text-muted " style="word-wrap: break-word !important;"><%= noti.activity %></small>
              </span>
            </a>
          </td>
        </tr>
      <% end %>  
    </tbody>
  </table>
</div>

<style type="text/css">
  @media print {
    #example_length, #example_filter, #example_paginate{
      display: none;
    }
  }
</style>