<!-- # <%#= form_tag(home_sendsms_path, method: :get) do %>
#   <label>Number</label>
#   <%#= text_field_tag :number %>
#   <label>Text Body</label>
#   <%#= text_area_tag :body %>
#   <%#= submit_tag 'Send' %>
# <%# end %> -->

<style>
  li.select2-results__option{
    display: block;
  }

  .select2.select2-container{
    width: 100% !important;
  }
  .tag-info{ cursor: pointer; }
</style>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> <%= t('notification.notifications') %> </h1>
</div>
<br><br>
<%= form_tag(home_sendsms_path, method: :get) do |f| %>

<div class="container" style="padding-left:0px !important">
  <div class="container">
    <div class="col-md-9">
      <fieldset class="sss well well-lg">
        <legend class="lll"><%= t('notification.message_body') %></legend>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box_tag :email, "", false,  class: "leave_checkbox" %>
            <i ></i>Email
          </label>

          <label class="i-checks" >
            <%= check_box_tag :sms, "", false,  class: "leave_checkbox" %>
            <i ></i>SMS
          </label>
        </div>

        <%= bootsy_area 'msg', 'body', {name: 'msgbdy', rows: 5, cols: 100} %>
        <!--<textarea class="bootsy_text_area" rows="5" cols="100" name = "msgbdy" id = "msgbdy"></textarea>-->
        <br>
        <legend class="lll"><%= t('notification.send_to') %></legend>
        <div class="checkbox">
          <label class="i-checks"  >
            <%= check_box_tag :all_students, 'Student', false,  class: "leave_checkbox" %>
            <i></i><strong><%= t('notification.all_students') %></strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks"  >
            <%= check_box_tag :all_employees, 'Employee', false,  class: "leave_checkbox" %>
            <i></i><strong><%= t('notification.all_employees') %></strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks"  >
            <%= check_box_tag :all_parents, 'Parent', false,  class: "leave_checkbox" %>
            <i></i><strong><%= t('notification.all_parents') %></strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box_tag :parent, 'parent', false,  class: "leave_checkbox parent" %>
            <i ></i><strong><%= t('notification.parents') %></strong>
          </label>
        </div>

        <div class="parent-show" style="padding-left: 0; display: none;">
          <%= select_tag :parents, options_from_collection_for_select(Student.order('rollnumber'), :id, :rollnumber), class: 'select-tag form-control', multiple: true %>
        </div>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box_tag :staff, 'staff', false,  class: "leave_checkbox staff" %>
            <i ></i><strong><%= t('notification.staff_members') %></strong>
          </label>
        </div>

        <div class="staff-show" style="padding-left: 0; display: none;">
          <%= select_tag :staff_members, options_from_collection_for_select(Employee.order('full_name'), :id, :full_name), class: 'select-tag form-control', multiple: true %>
        </div>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box_tag :grade, 'grade', false,  class: "leave_checkbox grade" %>
            <i ></i><strong><%= t('notification.grades') %></strong>
          </label>
        </div>

        <div class="grade-show" style="padding-left: 0; display: none;">
          <%= select_tag :grades, options_from_collection_for_select(Grade.where("section IS NOT NULL AND batch_id = #{Batch.last.id}").order('name'), :id, :full_name), class: 'select-tag form-control', multiple: true %>
        </div>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box_tag :student, 'student', false,  class: "leave_checkbox student" %>
            <i ></i><strong><%= t('notification.students') %></strong>
          </label>
        </div>
        <div class="student-show" style="padding-left: 0; display: none;">
          <%= select_tag :students, options_from_collection_for_select(Student.order('rollnumber'), :id, :small_info), class: 'select-tag form-control', multiple: true %>
        </div>
        <br><br>
        <!-- <input type="button" value="Send Test SMS" onclick="find();" class="btn btn-success pull-right" /> -->
        <%= submit_tag t('notification.send'), class: 'btn btn-success pull-right' %>

      </fieldset>
    </div>
    <div class="col-md-3 sss well well-lg" style="margin-top: 1.5%; font-size: 1.4em;">
      <h3><%= t('notification.student_info') %></h3>
      <% Student::EMAIL_ATTRIBUTES.keys.each do |key| %>
          <span class="label label-primary tag-info" data-value="<%= Student::EMAIL_ATTRIBUTES[key] %>"><%= key.to_s == 'rollnumber' ? 'Student ID' : key.to_s.titleize %></span>
      <% end %>
      <h3><%= t('notification.teacher_info') %></h3>
      <% Employee::EMAIL_ATTRIBUTES.keys.each do |key| %>
          <span class="label label-primary tag-info" data-value="<%= Employee::EMAIL_ATTRIBUTES[key] %>"><%= key.to_s.titleize %></span>
      <% end %>
      <h3><%= t('notification.parents_info') %></h3>
      <% Parent::EMAIL_ATTRIBUTES.keys.each do |key| %>
          <span class="label label-primary tag-info" data-value="<%= Parent::EMAIL_ATTRIBUTES[key] %>"><%= key.to_s.titleize %></span>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<!--<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>-->
<script>
  $(document).ready( function(){
    $('.grade').on('click', function(){
      $('.grade-show').toggle('slow');
    });

    $('.student').on('click', function(){
      $('.student-show').toggle('slow');
    });

    $('.staff').on('click', function(){
      $('.staff-show').toggle('slow');
    });

    $('.parent').on('click', function(){
      $('.parent-show').toggle('slow');
    });

    // $('.select-tag').select2();

    $('.tag-info').on('click', function(){
      $('iframe').contents().find('body').html($('iframe').contents().find('body').html() + $(this).data('value') );
      $('#msgbdy').val($('#msgbdy').val() + $(this).data('value'));
    });
  });
//    var ContentData = "{'UserName': 'test9', 'Password': '123', 'SenderName': 'DreamSMS', 'Message': 'test rest', 'Mobiles': '0544479655'}";
//
//    console.log(ContentData);
//    //ContentData = JSON.stringify(ContentData);
//    function find() {
//      // console.log("parent is checked",$('#parent_').is(":checked") )
//      var send_to
//        send_to = '0531560085,0544479655'
//
//      var ContentData = "{'UserName': 'nation', 'Password': '123', 'SenderName': 'Al Omam International', 'Message': '"+$('#msgbdy').val()+"', 'Mobiles': '"+send_to+"'}";
//
//      console.log(ContentData);
//
//        $.ajax({
//            type: 'POST',
//            url: 'http://rest.dreamsms.net/sms',
//            contentType: 'application/json; charset=utf-8',
//            data: ContentData,
//            dataType: 'text',
//            accept: 'application/json charset=utf-8'
//        }).done(function (ResultData) {
//            $('#dvResult').text(ResultData);
//            window.location.href = "/";
//        }).error(function (jqXHR, textStatus, errorThrown) {
//            $('#dvResult').text(jqXHR.responseText || textStatus);
//        });
//    }
  </script>



  <!-- {'UserName': 'test9', 'Password': '123', 'SenderName': 'Al Omam International', 'Message': '', 'Mobiles': '+923134145612'} -->