<% if current_user.role.rights.where(value: "view_leave").any? %>

  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Leaves Requests</h1>
  </div>

  <div class="wrapper-md">

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:7%">Emp #</th>
        <th style="width:10%">Employee</th>
        <th style="width:10%">Reason</th>
        <th style="width:10%">Description</th>
        <th style="width:10%">Leave from</th>
        <th style="width:10%">Leave to</th>
        <th style="width:30%">Status</th>
      </tr>
    </thead>

    <tbody>
      <% @leaves.try(:each) do |leave| %>
        <tr>
          <td><%= leave.try(:employee).try(:employee_number) %></td>
          <td><%= leave.try(:employee).try(:full_name) %></td>
          <td><%= leave.reason %></td>
          <td><%= link_to leave.description, leave %></td>
          <td><%= leave.leave_from %></td>
          <td><%= leave.leave_to %></td>

          <td>

          <% if leave.approved.nil? %>
            <%= form_tag(approve_leave_leafe_path(leave), method: :post) do %>
              <% if current_user.role.rights.where(value: "update_leave").any? %>
                <%= text_field_tag :comment, '' , class: 'form-control'  %>
  <!--               <button class="btn btn-sm btn-success" type="submit" id="usr_"
                        data-toggle="tooltip"
                        data-original-title="Approve Employee Request">
                  <i class="glyphicon glyphicon-ok"></i>
                </button> -->
                <div style="margin-left:35%">
                  <%= submit_tag 'Accept', class: " btn-success" %>

                  <!-- <button class="btn btn-sm btn-danger" type="submit" id="usr_rej"
                          data-toggle="tooltip"
                          data-original-title="Reject Employee Request">
                    <i class="glyphicon glyphicon-remove"></i>

                  </button> -->
                  <%= submit_tag 'Reject', class: " btn-danger " %>
                </div>
              <%end%>
            <% end %>
          <% end %>
          <% if leave.approved %>
            <div class=""> <%= leave.comment || 'No Comment' %></div>
            <div class=""> <span style = "background:green; border-radius: 50%; color:white; padding:1%" ><i class="glyphicon glyphicon-ok"></i></span></div>
          <% end %>

          <% if leave.approved == false %>
            <div class=""> <%= leave.comment || 'No Comment' %></div>
            <div class=""> <span style = "background:red; border-radius: 50%; color:white; padding:1%" ><i class="glyphicon glyphicon-remove"></i></span></div>
          <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>