<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grade_group.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade_group.grade_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @grade_group.integer %>
</p>

<%= link_to 'Edit', edit_grade_group_path(@grade_group) %> |
<%= link_to 'Back', grade_groups_path %>
