<%= form_for(@examcalender) do |f| %>
  <% if @examcalender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examcalender.errors.count, "error") %> prohibited this examcalender from being saved:</h2>

      <ul>
      <% @examcalender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="container form-holder ">
        <div class="row">
        <fieldset class="sss well well-lg">
          <legend class="lll">Create  Event</legend>
            <div  class="row">
              <div class="column col-xs-12 col-sm-4">
                <div class="form-group ">
                  <div class="field ">
                    <%= f.label "Subject" %><br>
                    <%= f.select :bridge_id , options_from_collection_for_select(@bridges,"id","title"),{prompt: "Select Bridge"} ,{class: 'form-control', required: true}%>
                  </div>
                </div>
              </div>
              <div class="column col-xs-12 col-sm-8">
                <div class="form-group ">
                  <div class="field">
                    <%= f.label :title %><br>
                    <%= f.text_field :title,:style => 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
                  </div>
                </div>
              </div>
              <div class="column col-xs-12 col-sm-12">
                <div class="form-group ">
                  <div class="field">
                    <%= f.label :description %><br>
                    <%= f.text_area :description ,:style => 'height:34px;', cols: 70, rows: 1, class: 'form-control' , required: true, autofocus: true%>
                  </div>
                </div>
              </div>
              <div class="column col-xs-12 col-sm-12">
                <div class="form-group ">
                  <div class="field">
                    <%= f.label :category %><br>
                    <%= f.select :category,options_for_select(%w[exam quiz  ]),{prompt: 'Select Category'}, {class: 'form-control', required: true} %>
                  </div>
                </div>
              </div>
              <div class="column col-xs-12 col-sm-5">
                <div class="form-group ">
                  <div class="field">
                    <%= f.label :starttime %><br>
                    <%= f.datetime_select :starttime, {class: 'form-control', required: true} %>
                  </div>
                </div>
              </div>
              <div class="column col-xs-12 col-sm-5">
                <div class="form-group  ">
                  <div class="field  " >
                    <%= f.label :endtime %><br>
                    <%= f.datetime_select :endtime,:html=>{:class => "form-control"} %>
                  </div>
                </div>
              </div>
            </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <%= submit_tag 'Create', class: 'btn btn-success' %>
          </div>
  </div>
<% end %>



<style type="text/css">
  .container{
      width: auto;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%;
  }

  .lll{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: #729F32;
    border-radius: 21px;
  }
</style>

<style type="text/css">
    .form-holder .col-sm-4 {
      min-height: 84px;
    }
    .form-holder .form-control{
        width: 100%;
    }
    .form-control{
        border-radius: 7px;
        border: black;
    }
</style>


<style type="text/css">
  #examcalender_starttime_1i, #examcalender_starttime_2i,#examcalender_starttime_3i,#examcalender_starttime_4i,#examcalender_starttime_5i, #examcalender_endtime_1i, #examcalender_endtime_2i, #examcalender_endtime_3i, #examcalender_endtime_4i, #examcalender_endtime_5i{

    border-radius: 7px;
    border: black;
  }
</style>

