<p id="notice"><%= notice %></p>

<h1>Listing Examcalenders</h1>

<table class="table">
  <thead class="table-head">
    <tr>
      <th>Bridge</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @examcalenders.each do |examcalender| %>
      <tr>
        <td><%= examcalender.bridge_id %></td>
        <td><%= examcalender.title %></td>
        <td><%= examcalender.description %></td>
        <td><%= examcalender.category %></td>
        <td><%= examcalender.starttime %></td>
        <td><%= examcalender.endtime %></td>
        <td><%= link_to 'Show', examcalender %></td>
        <td><%= link_to 'Edit', edit_examcalender_path(examcalender) %></td>
        <td><%= link_to 'Destroy', examcalender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Examcalender', new_examcalender_path %>
