<div class="abc form-holder">
<div class="row">
  <div class="sss well well-lg">
    <h2>Rights for <%= @role.name %></h2>
    <% @rights.try(:each) do |right| %>
      <div class = "alert alert-danger col-md-2" >
        <span><%= right.value.humanize %> <sup class = "pull-right" style  = "color: red"><strong><%= link_to 'X', right_path(right), method: :delete %></strong></sup></span>
      </div>
    <% end %>
    </div>
  </div>
</div>

<br>
<div class="row">
<div class=" well well-lg">
  <h2>Add Roles</h2>
  <input type="checkbox" id="selecctall" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
  <br><br>
  <%= form_tag(add_roles_rights_path , method: 'POST' ) do %>
    <input type="checkbox" class="gen" id="selecctall1" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'student[view_student]', '' , false ,class: "std gen" %> View Student
    <%= check_box_tag 'student[create_student]', '' , false ,class: "std gen" %> Create Student
    <%= check_box_tag 'student[update_student]', '' , false ,class: "std gen" %> Update Student
    <%= check_box_tag 'student[delete_student]', '' , false ,class: "std gen" %> Delete Student
    <br>
    <input type="checkbox" class="gen" id="selecctall2" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'employee[view_employee]', '' , false ,class: "emp gen" %> View employee
    <%= check_box_tag 'employee[create_employee]', '' , false ,class: "emp gen" %> Create employee
    <%= check_box_tag 'employee[update_employee]', '' , false ,class: "emp gen" %> Update employee
    <%= check_box_tag 'employee[delete_employee]', '' , false ,class: "emp gen" %> Delete employee
    <br>
    <input type="checkbox" class="gen" id="selecctall3" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'leave[view_leave]', '' , false ,class: " lea gen" %> View leave
    <%= check_box_tag 'leave[create_leave]', '' , false ,class: " lea gen" %> Create leave
    <%= check_box_tag 'leave[update_leave]', '' , false ,class: " lea gen" %> Update leave
    <%= check_box_tag 'leave[delete_leave]', '' , false ,class: " lea gen" %> Delete leave
    <br>
    <input type="checkbox" class="gen" id="selecctall4" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'sattendence[view_sattendence]', '' , false ,class: "sat gen" %> View Student attendence
    <%= check_box_tag 'sattendence[create_sattendence]', '' , false ,class: "sat gen" %> Mark Student attendence
    <br>
    <input type="checkbox" class="gen" id="selecctall5" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'eattendence[view_eattendence]', '' , false ,class: "eat gen" %> View Employee attendence
    <%= check_box_tag 'eattendence[create_eattendence]', '' , false ,class: "eat gen" %> Mark Employee attendence
    <br>
    <input type="checkbox" class="gen" id="selecctall6" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'prequest[view_prequest]', '' , false ,class: "pre gen" %> Approve request
    <%= check_box_tag 'prequest[create_prequest]', '' , false ,class: "pre gen" %> Create Purchase request
    <br>
    <input type="checkbox" class="gen" id="selecctall7" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'fee[view_fee]', '' , false ,class: "fee gen" %> View fee
    <%= check_box_tag 'fee[create_fee]', '' , false ,class: "fee gen" %> Create fee
    <%= check_box_tag 'fee[update_fee]', '' , false ,class: "fee gen" %> Update fee
    <%= check_box_tag 'fee[delete_fee]', '' , false ,class: "fee gen" %> Delete fee
    <br>
    <input type="checkbox" class="gen" id="selecctall8" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'subject[view_subject]', '' , false ,class: "sub gen" %> View subject
    <%= check_box_tag 'subject[create_subject]', '' , false ,class: "sub gen" %> Create subject
    <%= check_box_tag 'subject[update_subject]', '' , false ,class: "sub gen" %> Update subject
    <%= check_box_tag 'subject[delete_subject]', '' , false ,class: "sub gen" %> Delete subject
    <br>
    <input type="checkbox" class="gen" id="selecctall9" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'grade[view_grade]', '' , false ,class: "grd gen" %> View grade
    <%= check_box_tag 'grade[create_grade]', '' , false ,class: "grd gen" %> Create grade
    <%= check_box_tag 'grade[update_grade]', '' , false ,class: "grd gen" %> Update grade
    <%= check_box_tag 'grade[delete_grade]', '' , false ,class: "grd gen" %> Delete grade
    <br>
    <input type="checkbox" class="gen" id="selecctall10" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'transport[view_transport]', '' , false ,class: "tra gen" %> View transport
    <%= check_box_tag 'transport[create_transport]', '' , false ,class: "tra gen" %> Create transport
    <%= check_box_tag 'transport[update_transport]', '' , false ,class: "tra gen" %> Update transport
    <%= check_box_tag 'transport[delete_transport]', '' , false ,class: "tra gen" %> Delete transport
    <br>
    <input type="checkbox" class="gen" id="selecctall11" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'bookshop[view_bookshop]', '' , false ,class: "book gen" %> View bookshop
    <%= check_box_tag 'bookshop[create_bookshop]', '' , false ,class: "book gen" %> Create bookshop
    <%= check_box_tag 'bookshop[update_bookshop]', '' , false ,class: "book gen" %> Update bookshop
    <%= check_box_tag 'bookshop[delete_bookshop]', '' , false ,class: "book gen" %> Delete bookshop
    <br>
    <input type="checkbox" class="gen" id="selecctall12" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'exam[view_exam]', '' , false ,class: "exm gen" %> View Exams
    <%= check_box_tag 'exam[create_exam]', '' , false ,class: "exm gen" %> Create Exam
    <%= check_box_tag 'exam[update_exam]', '' , false ,class: "exm gen" %> Update Exam
    <%= check_box_tag 'exam[delete_exam]', '' , false ,class: "exm gen" %> Delete exam
    <%= check_box_tag 'exam[enter_marks]', '' , false ,class: "exm gen" %> Enter Marks
    <%= check_box_tag 'exam[enter_all_marks]', '' , false ,class: "exm gen" %> Enter All Marks
    <!--<#%= check_box_tag 'exam[upload_marks]', '' , false ,class: "exm gen" %> Upload Marksheets
    <#%= check_box_tag 'exam[view_marksheets]', '' , false ,class: "exm gen" %> View ALl Marksheets -->
    <%= check_box_tag 'exam[subject_result]', '' , false ,class: "exm gen" %> View Subject Result
    <%= check_box_tag 'exam[view_class_result]', '' , false ,class: "exm gen" %> View Class Result

    <br>
    <br>
    <%= check_box_tag 'exam[design_report_cards]', '' , false ,class: "gen", style: "margin-left:17px;" %> Design Report Cards
    <br>
    <input type="checkbox" class="gen" id="selecctall13" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'approve[approve_curriculam]', '' , false ,class: "plan gen" %> Approve Curriculam
    <%= check_box_tag 'approve[approve_lesson]', '' , false ,class: "plan gen" %> Approve Lesson Plan
    <%= check_box_tag 'approve[approve_portion]', '' , false ,class: "plan gen" %> Approve Portions
    <%= check_box_tag 'approve[approve_weekly_plan]', '' , false ,class: "plan gen" %> Approve Weekly Plans
    <br>
    <input type="checkbox" class="gen" id="selecctall14" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'calender[view_gcalender]', '' , false ,class: "cal gen" %> View Gcalender
    <%= check_box_tag 'calender[create_gcalender]', '' , false ,class: "cal gen" %> Create Gcalender
    <%= check_box_tag 'calender[update_gcalender]', '' , false ,class: "cal gen" %> Update Gcalender
    <%= check_box_tag 'calender[delete_gcalender]', '' , false ,class: "cal gen" %> Delete Gcalender
    <br>
    <input type="checkbox" class="gen" id="selecctall15" style="margin-left: 17px;margin-top: 18px;" /> Selecct All
    <%= check_box_tag 'excalender[view_excalender]', '' , false ,class: "ecal gen" %> View Excalender
    <%= check_box_tag 'excalender[create_excalender]', '' , false ,class: "ecal gen" %> Create Excalender
    <%= check_box_tag 'excalender[update_excalender]', '' , false ,class: "ecal gen" %> Update Excalender
    <%= check_box_tag 'excalender[delete_excalender]', '' , false ,class: "ecal gen" %> Delete Excalender

    <br>
    <br>
    <%= check_box_tag 'exam[enter_marks]', '' , false ,class: "gen", style: "margin-left:17px;" %> Enter Marks
    <br>
    <br>
    <%= check_box_tag 'timetable[timetable]', '' , false ,class: "gen", style: "margin-left:17px;" %> View Timetable
    <br>
    <br>
    <%= check_box_tag 'batch[batch]', '' , false ,class: "gen", style: "margin-left:17px;" %> Access Batch
    <br>
    <br>
    <%= check_box_tag 'conversation[conversation]', '' , false ,class: "gen", style: "margin-left:17px;" %> Conversation
    <br>
    <br>
    <%= check_box_tag 'users[users]', '' , false ,class: "gen", style: "margin-left:17px;" %> Users
    <br>
    <br>
    <%= check_box_tag 'permissions[permissions]', '' , false ,class: "gen", style: "margin-left:17px;" %> User Permissions
    <br>
    <br>
    <%= check_box_tag 'leave_request[leave_request]', '' , false ,class: "gen", style: "margin-left:17px;" %> Request Leave

    <br>
    <br>
    <%= check_box_tag 'leave_request[view_behavior_reports]', '' , false ,class: "gen", style: "margin-left:17px;" %> View Behavior Report
    <br>
    <br>
    <%= check_box_tag 'plans[create_week]', '' , false ,class: "gen", style: "margin-left:17px;" %> Create Week For Plans
    <%= check_box_tag 'plans[update_week]', '' , false ,class: "gen", style: "margin-left:17px;" %> Update Weeks
    <%= check_box_tag 'plans[view_weeklyplans]', '' , false ,class: "gen", style: "margin-left:17px;" %> View Weekly Plans

    <%= check_box_tag 'plans[view_lesson_plans]', '' , false ,class: "gen", style: "margin-left:17px;" %> View Lesson Plans

    <%= check_box_tag 'plans[view_curriculum_plans]', '' , false ,class: "gen", style: "margin-left:17px;" %> View Curriculums

    <br>
    <br>






    <%= hidden_field_tag :role,@role.id %>
    <%= submit_tag "Submit", class: "btn btn-success" %>
  <% end %>
</div>
</div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('#selecctall1').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.std').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.std').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall2').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.emp').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.emp').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall3').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.lea').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.lea').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall4').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check selecpretatus
          console.log("in checked")
            $('.sat').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.sat').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall5').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.eat').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.eat').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall6').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.pre').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.pre').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall7').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.fee').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.fee').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall8').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.sub').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.sub').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall9').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.grd').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.grd').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall10').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.tra').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.tra').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall11').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.book').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.book').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall12').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.exm').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.exm').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall13').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.plan').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.plan').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall14').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.cal').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.cal').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

     $('#selecctall15').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.ecal').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.ecal').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selecctall').click(function(event) {  //on click
      console.log('i am selected');
        if(this.checked) { // check select status
          console.log("in checked")
            $('.gen').each(function() { //loop through each checkbox
              console.log("in loop")
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.gen').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

});
</script>







<style type="text/css">
  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: 65%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>

<style type="text/css">
  .container{
      width: 1068px;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%;
  }

  .ttt{
    border:1px solid green;   padding: 1%;
  }

  .lll{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: blue;
    border-radius: 21px;
  }

  .zzz{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: green;
    border-radius: 21px;
  }

  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: 65%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>

