<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, required: true, autofocus: true, class: 'form-control', label: false %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, required: true, class: 'form-control', label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="checkbox">
          <label><%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %> Remember Me</label>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Log in', class: 'form-control btn btn-primary' %>
    </div>
    <div class="links">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end -%>
    </div>
<%end%>


<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/ui-load.js"></script>
<script src="js/ui-jp.config.js"></script>
<script src="js/ui-jp.js"></script>
<script src="js/ui-nav.js"></script>
<script src="js/ui-toggle.js"></script>





