<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {

    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "https://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"
        }
    });



  });

</script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Items
  <a href="<%= new_item_path %>" class="btn btn-info pull-right" style="width:200px; background-color: #729F32; color:white">Add Items</a></h1>
</div>


<table class="table" id="example">
  <thead class= "table-head">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Shopcategory</th>
      <th>Size</th>
      <th>Price</th>
      <th>Grade</th>
      <th>Sold</th>
      <th>Left</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.code %></td>
        <td><%= item.name %></td>
        <td><%= item.shopcategory.name %></td>
        <td><%= item.size %></td>
        <td><%= item.price %></td>
        <td><%= item.grade.name %></td>
        <td><%= item.sold %></td>
        <td><%= item.left %></td>
        <td><%= link_to '', item,:class =>  'glyphicon glyphicon-ok-circle' %>
            <%= link_to '', edit_item_path(item) ,:class => 'glyphicon glyphicon glyphicon-pencil'%>
            <%= link_to '', item, method: :delete, data: { confirm: 'Are you sure?' },:class =>  'glyphicon glyphicon-remove-circle' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

