
    <%= form_for @parent do |f| %>
      <% if @parent.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

          <ul>
          <% @parent.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> Parents Details</h1>
</div>
</br>


<div class="abc form-holder">
  <div class="row">
    <fieldset class="sss well well-lg">
      <legend class="lll">Personal Information (Parent 1)</legend>
        <div class="column col-xs-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Father Name</label>
            <%= f.text_field :name , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
          </div>
        </div>
        <%= hidden_field_tag "student_id",  @student.id %>

        <div class="column col-xs-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Iqama Number</label>
            <%= f.text_field :iqamaNumber , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
          </div>
        </div>

        <div class="column col-xs-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Iqama Expiry</label>
            <%= f.text_field :iqamaExpiry , :style => 'height:34px;',  class: 'form-control datepicker', required: true, autofocus: true %>
          </div>
        </div>


    <div class="row">
      <legend class="lll">Contact Information</legend>
        <div class="column col-xs-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Mobile</label>
            <%= f.text_field :mobile , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
          </div>
        </div>

        <div class="column col-xs-12 col-md-7">
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail Address</label>
            <%= f.text_field :email , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true, disabled: @edit ? true : false %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="abc form-holder">
  <div class="row">
    <fieldset class="sss well well-lg">
      <legend class="lll">Personal Information (Parent 2)</legend>
        <div class="column col-xs-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Mother Name</label>
            <%= f.text_field :mothername , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
          </div>
        </div>
        <div class="column col-xs-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Mobile</label>
            <%= f.text_field :mothermobile , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
          </div>
        </div>

        <div class="column col-xs-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail Address</label>
            <%= f.text_field :motheremail , :style => 'height:34px;',  class: 'form-control', required: true, autofocus: true %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>


      <% if @flag %>
        <div class="form-group">
          <%= f.submit "Save", :class => 'btn btn-block btn-success form-control',:style=>'width:24%;float: right; margin-right:35px;' %>
        </div>
      <% end %>

      <% if @edit %>
        <div class="form-group">
          <%= f.submit "Save", :class => 'btn btn-block btn-success form-control',:style=>'width:24%;float: right; margin-right:35px;' %>
        </div>
      <% end %>



  <%end%>








    <style class type="text/css">
  .admission-form-heading
  {
    width:100%;
  }

  .row{
    width:96%;
    margin-left: 0px;
    margin-top: 0px;
  }
  .container{
      width: auto;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%;
  }

  .lll{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: #729F32;
    border-radius: 21px;
  }
  </style>

  <style type="text/css">
  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: auto%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>

