<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> Fee Register </h1>
</div>
<br>
<table class="table">
  <thead>
    <th>Student ID</th>
    <th>Student Name</th>
    <th>Amount</th>
    <th>User</th>
    <th>Month</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.student_id %></td>
        <td><%= Student.find(fee.student_id).fullname %></td>
        <td><%= fee.amount %></td>
        <td><%= fee.user_id %></td>
        <td><%= fee.month %></td>
        <td>
          <%= link_to 'Show', fee %>
          <%= link_to 'Edit', edit_fee_path(fee) %>
          <%= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>