
<%= stylesheet_link_tag "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "//cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example thead th').each( function (i, v) {
      // var title = $('#example tfoot th').eq( $(this).index() ).text();
      var title = $(this).text();
      if(title != "Actions"){
        $(this).html(
        '<input type="text" class="form-control" id="exampleInputName2" placeholder="'+title+' search">'
        );
      }
    });

    // DataTable
    var table = $('#example').DataTable();

    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();
        } );
    } );
  });

</script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Routes
  <% if current_user.role.rights.where("value = 'create_transport'").any? %>
    <a href="<%= new_route_path %>" class="btn btn-color pull-right"  style="width:200px;">Add a new Route</a>
  <% end %>
  </h1>
</div>



<div style="overflow: scroll">
  <table id="example" class="table table-striped table-bordered table-responsive" style="overflow: scroll">
    <thead class= "table-head">
    <tr>
      <th>Name</th>
      <th>No. of stops</th>
      <th>Actions</th>
      <th>Assign Transport</th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= route.stops.count %></td>
        <td><%= link_to '', route,:class =>  'btn btn-success  glyphicon glyphicon-ok-circle' %>
            <%= link_to '', edit_route_path(route),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
            <%= link_to '', route, method: :delete, data: { confirm: 'Are you sure?' } ,:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash'%>
        </td>
        <td><%= link_to 'Assign', new_transport_path(route_id: route.id),class:"btn btn-info " %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

