<div class="bg-light lter b-b wrapper-md">

  <h1 class="m-n font-thin h3">Exams
  <% if current_user.role.rights.where(value: "create_exam").any? %>

  <a href="<%= new_exam_path %>" class="btn btn-color pull-right"  style="width:200px;">Add a new Exam</a>
<% end %>
  </h1>
</div>

<br>
<table class="table table-stripped">
  <thead class="table-head">
    <tr>
      <th>Name</th>
      <th>Batch</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td><%= exam.batch.name %></td>
        <td><%= link_to 'Show', exam,:class =>  'btn btn-success  glyphicon glyphicon-ok-circle' %>
        <%= link_to 'Edit', edit_exam_path(exam),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
        <%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' },:class =>  'btn btn-danger glyphicon glyphicon glyphicon-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

