<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Portion Change Requests

  <%= link_to(approve_all_requests_portions_path, method: :post, class: "btn pull-right btn-color" ,style: "width:200px;") do %>
      <i class="fa fa-check"></i>
      Approve All
    <% end %>
  </h1>
</div>

<div class="wrapper-md">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Quarter</th>
      <th>Grade</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @portions.try(:each) do |cur| %>
      <tr>
        <td><%= link_to "#{cur[:portion].quarter}", portion_path(cur[:portion]) %></td>
        <td><%= cur[:portion].grade.try(:full_name) %></td>

        <td>
          <%= form_tag(approve_requested_portions_path(cur[:portion]), method: :post) do %>
            <%= hidden_field_tag :portion_id, "#{cur[:portion].id}" %>
            <button class="btn btn-sm btn-success" type="submit" id="usr_"
                    data-toggle="tooltip"
                    data-original-title="Approve Curriculum Request">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
          <% end %>
        </td>
        <td>
          <%= form_tag(disapprove_requested_portions_path(cur[:portion]), method: :post) do %>
            <%= hidden_field_tag :portion_id, "#{cur[:portion].id}" %>

            <button class="btn btn-sm btn-danger disapprove-request" type="submit" id="<%= cur[:teacher_id] %>_<%= cur[:portion].id %>"
                    data-toggle="tooltip"
                    data-original-title="Disapprove Curriculum Request">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="modal fade" id="send_message" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Portion's Request Disapproved</h4>
        </div>
        <%= form_tag(messages_path, method: :post) do %>
          <%= hidden_field_tag :portion_id, "" %>
          <div class="modal-body">

            <div class="form-group">
              <%= hidden_field_tag 'recipients[]' %>
            </div>
            <div class="form-group">
              <%= label_tag 'message[subject]', 'Subject' %>
              <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
            </div>

            <div class="form-group">
              <%= label_tag 'message[body]', 'Message' %>
              <%= text_area_tag 'message[body]', nil, cols: 3,rows: 10, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag 'Send Message', class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $(".disapprove-request").click(function (e){
      e.preventDefault();

      ids = $(this).attr("id").split("_");
      portion_id = ids[ids.length-1];
      teacher_id = ids[0];

      $.ajax({
        type: "POST",
        url: "/portions/disapprove_requested",
        dataType: "JSON",
        data: {
          'portion_id' : portion_id,
        },
        async: true,
        success: function(response){

        }
      });

      var myArray = new Array();
      myArray[0] = teacher_id;

      document.getElementById("recipients_").value=myArray;

      document.getElementById("message_subject").value="Portion Change Disapproved";

      $("#send_message").modal();
    });
  });
</script>
