<p id="notice"><%= notice %></p>

<h1>Listing Portions</h1>

<table>
  <thead>
    <tr>
      <th>Quarter</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @portions.each do |portion| %>
      <tr>
        <td><%= link_to "#{portion.quarter}", portion, class: 'color:blue' %></td>
        <td><%= link_to 'Edit', edit_portion_path(portion) %></td>
        <td><%= link_to 'Destroy', portion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portion', new_portion_path(year_plan: @year_plan) %>
