<table class="table table-stripped">
  <thead class="table-head">
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <% @class.subjects.each do |s| %>
        <th><%= s.name %></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @marksheet.each do |m| %>
      <tr>
        <td><%= Student.find(m[:student_id]).rollnumber %></td>
        <td><%= Student.find(m[:student_id]).fullname %></td>

        <% @class.subjects.each do |s| %>
          <td><%= m[:marks][s.name] || 'N/A' %></td>
        <% end %>
        <td>
          <%= link_to '', result_card_marksheets_path({student: m[:student_id], exam: @exam.id}),:class =>  'btn btn-success  glyphicon glyphicon-ok-circle' %>
          <%= link_to '', result_marksheets_path({student_id: m[:student_id]}),:class =>  'btn btn-primary  glyphicon glyphicon-signal' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>