<table class="table table-stripped">
  <thead class="table-head">
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <% @class.marks.each do |m| %>
        <th><%= m.name %></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @marksheets.each do |m| %>
      <tr>
        <td><%= Student.find(m[:student_id]).rollnumber %></td>
        <td><%= m[:student_name] %></td>

        <% @class.marks.each do |sm| %>
          <% if m[:sessionals].present? %>
            <td> <%= m[:sessionals][sm.id].try(:marks) || 'N/A' %> </td>

          <% else %>
            <td> N/A </td>
          <% end %>
        <% end %>

        <td>
          <%= link_to '', edit_marks_marksheets_path({student_id: m[:student_id], bridge_id: @bridge_id, exam_id: @exam_id}), method: :post,:class =>  'btn btn-success  glyphicon glyphicon-pencil' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>