<table class="table table-stripped">
  <thead class="table-head">
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <% @class.marks.each do |m| %>
        <th><%= m.name %></th>
      <% end %>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @marksheet.keys.each do |m| %>
      <tr>
      <td><%= m %></td>
      <td><%= Student.find(m).fullname %></td>
      <% @class.marks.each do |mk| %>
        <td><%= mk.sessionals.where("exam_id = ? and student_id = ? and bridge_id = ?", @exam_id, m , @bridge_id).sum(:marks) %></td>
      <% end %>
      <td><%= Student.find(m).sessionals.where("exam_id = ? and bridge_id = ?", @exam_id, @bridge_id).sum(:marks) %></td>
      </tr>
    <% end %>
  </tbody>
</table>