<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Result</h1>
</div>
<br>
<div class="well well-lg">
	<h4>Student Name:           <%= @std.fullname %></h4>
	<h4>Student ID:             <%= @std.rollnumber %></h4>
	<h4>Grade:                  <%= @std.grade.full_name %></h4>
</div>
<table class="tabletable table-bordered">
	<thead class="table-head">
		<tr style="background: #95D6FF !important; color:black ">
			<th rowspan="2" ></th>
			<th colspan="4" style="text-align-center" >Term 1
			</th>
			<th colspan="4" style="text-align-center">Term 2
			</th>

		</tr>
		<tr style="background: #95D6FF !important; color:black ">
			<% i = 0 %>
			<% Exam.all.try(:each) do |exam| %>
				<th colspan="2" ><%= exam.name %>  </th>
				<% i = i+1%>
			<% end %>
		</tr>
		<tr style="background: #D5D7C2 !important; color:black " >
			<% i = 0 %>
			<th >Subject</th>

			<% Exam.all.try(:each) do |exam| %>
				<th >Full Term Total</th>
				<th >Percentage</th>
				<% i = i+1%>
			<% end %>
		</tr>
		<tr style="background: #D5D7C2 !important; color:black " >
			<% i = 0 %>
			<th>Max Marks</th>
			<% Exam.all.try(:each) do |ex| %>
				<th><%= @std.grade.marks.sum(:marks) %></th>
				<th >100%</th>
				<% i = i+1%>

			<% end %>
		</tr>
		<tr style="background: #D5D7C2 !important; color:black " >
			<% i = 0 %>
			<th>Passing Marks</th>
			<% Exam.all.try(:each) do |ex| %>
				<th ><%= @std.grade.marks.sum(:passing_marks) %></th>
				<th <%= (@std.grade.marks.sum(:passing_marks)*100/@std.grade.marks.sum(:marks)).round(2) %>%</th>
				<% i = i+1%>

			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @std.grade.bridges.all.try(:each) do |bd| %>
		<tr>
			<td><%= bd.subject.name %></td>
			<% Exam.all.try(:each) do |exam| %>
			<% data = @std.sessionals.where("bridge_id = ?", bd.id).group('bridge_id').sum(:marks) %>
				<td>
					<%= s = @std.sessionals.where("bridge_id = ? and exam_id = ?", bd.id, exam.id).sum(:marks) %>
				</td>
				<td>
					<%= ((s*100)/@std.grade.marks.sum(:marks)).round(2) %>%
				</td>
			<% end %>
			</tr>
		<% end %>
	</tbody>
	<tfoot style="background: #D5D7C2 !important; color:black " >
		<td >Total</td>
			<% Exam.all.try(:each) do |ex| %>
				<td>
					<%= mr = @std.sessionals.where(exam_id: ex.id).sum(:marks) %>
				</td>
				<td>
					<%= ((mr*100)/(@std.grade.marks.sum(:marks)*@std.grade.bridges.count)).round(2) %>
				</td>
			<% end %>
	</tfoot>
</table>