<h1>Upload Marksheet</h1>
<br>

<table class="table">
	<thead class="table-head">
		<th>Student ID</th>
		<th>Student Name</th>
		<% @marks.try(:each) do |mark| %>
			<th><%= mark.name %> ( <%= mark.passing_marks %> / <%= mark.marks.to_s %>) </th>
		<% end %>
		<th>Total (<%= @marks.sum(:marks) %>)</th>

	</thead>
	<tbody>
		<% @students.each do |std| %>
			<tr>
				<td>
					<%= std.id %>
				</td>
				<td>
					<%= std.fullname %>
				</td>
				<% @marks.try(:each) do |mark| %>
					<td>
						<input type="text" name="">
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>