<%= form_for(@performance) do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% @performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<br>
<div class="container form-holder ">
  <div class="row">
  <fieldset class="sss well well-lg">
    <legend class="lll">Create  Performance Report</legend>
  <br>
    <div  class="row">
      <%= f.hidden_field :student_id, value: @student_id %>
      <%= f.hidden_field :bridge_id, value: @bridge_id %>
    <div>
      <div class="column col-xs-12 col-sm-12">
        <div class="form-group ">
          <div class="field">
            <%= f.label :Commendations %><br>
            <%= f.text_area :remark , cols: 70, rows: 7, class: 'form-control' , autofocus: true%>
          </div>
        </div>
      </div>
    </div>




    <div style="margin-left: 30px; font-size:18px;">
      <div class="checkbox">
        <label class="i-checks"  >
          <%= check_box :lc,"", class: "leave_checkbox" %>
          <i></i><strong>Lack of concentration and/or distraction during expanation</strong>
        </label>
      </div>
      <div class="checkbox">
        <label class="i-checks" >
          <%= check_box :fa,"", class: "leave_checkbox" %>
          <i ></i><strong>Frequent Absents/ Tardiness</strong>
        </label>
      </div>
      <div class="checkbox">
        <label class="i-checks" >
          <%= check_box :pw, "", class: "leave_checkbox" %>
          <i ></i><strong>Poor work habbit</strong>
        </label>
      </div>
      <div class="checkbox">
        <label class="i-checks" >
          <%= check_box :lk, "", class: "leave_checkbox" %>
          <i ></i><strong>Low skill level in basics</strong>
        </label>
      </div>
      <div class="checkbox">
        <label class="i-checks" >
          <%= check_box :ia, "", class: "leave_checkbox" %>
          <i ></i><strong>Incomplete Assignments</strong>
        </label>
      </div>

      <div class="checkbox">
        <label class="i-checks" >
          <%= check_box :pc, "", class: "leave_checkbox" %>
          <i ></i><strong>Poor class participation</strong>
        </label>
      </div>
    </div>

    </fieldset>
  </div>

</div>
    <div class="modal-footer">
      <%= submit_tag 'Create', class: 'btn btn-success' %>
    </div>
<% end %>










<style type="text/css">
  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: auto%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>

<style type="text/css">
  .container{
      width: 1068px;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%;
  }

  .ttt{
    border:1px solid green;   padding: 1%;
  }

  .lll{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: blue;
    border-radius: 21px;
  }

  .zzz{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: green;
    border-radius: 21px;
  }

  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: auto%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>

