<%= form_for(@performance) do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% @performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="container form-holder ">
    <div class="row">
    <fieldset class="sss well well-lg">
      <legend class="lll">Create  Performance Report</legend>
      <br>
      <div  class="row">
        <%= f.hidden_field :student_id, value: @student_id %>
        <%= f.hidden_field :bridge_id, value: @bridge_id %>
      <div>
        <div class="column col-xs-12 col-sm-12">
          <div class="form-group ">
            <div class="field">
              <%= f.label :remarks %><br>
              <%= f.text_area :remark , cols: 70, rows: 7, class: 'form-control' , autofocus: true%>
            </div>
          </div>
        </div>
      </div>

      <div style="font-size:18px;margin-left:25px; height:420px" class="col-md-5 well well-lg">
        <h4>Negative</h4>
        <div class="checkbox">
          <label class="i-checks"  >
            <%= check_box :lc,"", class: "leave_checkbox" %>
            <i></i><strong>Lack of concentration and/or distraction during explanation</strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :fa,"", class: "leave_checkbox" %>
            <i ></i><strong>Frequent Absents/ Tardiness affecting performance </strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :pw, "", class: "leave_checkbox" %>
            <i ></i><strong>Needs to master basic skills and concepts</strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :lk, "", class: "leave_checkbox" %>
            <i ></i><strong> Poor work habits/ class participation</strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :ia, "", class: "leave_checkbox" %>
            <i ></i><strong>Underperforming in quiz and tests</strong>
          </label>
        </div>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :pc, "", class: "leave_checkbox" %>
            <i ></i><strong>Incomplete Assignments HW/CW</strong>
          </label>
        </div>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :fail, "", class: "leave_checkbox" %>
            <i ></i><strong>Needs to display positive attitude to learning</strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :les, "", class: "leave_checkbox" %>
            <i ></i><strong>Needs to improve English communication skills</strong>
          </label>
        </div>
      </div>

      <div style="font-size:18px; margin-left:25px; height:420px" class="col-md-5 well well-lg">
        <h4>Positive</h4>
        <div class="checkbox">
          <label class="i-checks"  >
            <%= check_box :st,"", class: "leave_checkbox" %>
            <i></i><strong>Excellent/ Displays an excellent attitude to learning /Excellent work habits</strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :good,"", class: "leave_checkbox" %>
            <i ></i><strong>Talented /Shows initiative and thinks things through for himself</strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :vg, "", class: "leave_checkbox" %>
            <i ></i><strong>Hard-working/Self-disciplined performing well in quiz and assignments</strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :exc, "", class: "leave_checkbox" %>
            <i ></i><strong>Masters skills and concepts easily</strong>
          </label>
        </div>
        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :tal, "", class: "leave_checkbox" %>
            <i ></i><strong> Submitting work on time</strong>
          </label>
        </div>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :sd, "", class: "leave_checkbox" %>
            <i ></i><strong>Has shown noticeable improvemend</strong>
          </label>
        </div>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :res, "", class: "leave_checkbox" %>
            <i ></i><strong>Is developing a better attitude</strong>
          </label>
        </div>

        <div class="checkbox">
          <label class="i-checks" >
            <%= check_box :art, "", class: "leave_checkbox" %>
            <i ></i><strong> Is learning English speaking and/or writing skills</strong>
          </label>
        </div>

      </div>
    </fieldset>
  </div>
</div>

  <div class="modal-footer">
    <%= submit_tag 'Create', class: 'btn btn-success btn-lg' %>
  </div>
<% end %>

<style type="text/css">
  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: auto%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>

<style type="text/css">
  .container{
      width: 1068px;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%;
  }

  .ttt{
    border:1px solid green;   padding: 1%;
  }

  .lll{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: blue;
    border-radius: 21px;
  }

  .zzz{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: green;
    border-radius: 21px;
  }

  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: auto%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>

