<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Performance Report  </h1>
</div>

<style type="text/css">
    @media(min-width: 1200px)
.abc {
  width: 1080px;
}
</style>
<div class="abc" style="">

    <div class="container" >
    	<div class="abc" style="">

            <div class="container" >

        		<br>
                <div class="col-sm-12">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td class="student-profile-td">
                                    Student
                                </td>

                                <td>
                                    <%= @performance.student.fullname %>
                                </td>
                            </tr>

                            <tr>
                                <td class="student-profile-td">
                                    Grade
                                </td>

                                <td>
                                    <%= @performance.bridge.grade.full_name %>
                                </td>
                            </tr>

                            <tr>
                                <td class="student-profile-td">
                                    Subject
                                </td>

                                <td>
                                    <%= @performance.bridge.subject.name %>
                                </td>
                            </tr>
                            <tr>
                                <td class="student-profile-td">
                                    Teacher
                                </td>

                                <td>
                                    <%= @performance.bridge.employee.full_name %>
                                </td>
                            </tr>

                            <tr>
                                <td class="student-profile-td">
                                    Submission Date
                                </td>

                                <td>
                                    <%= @performance.created_at.strftime("%d-%m-%Y") %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <h3>Commendations</h3> <br>
                        <p><%= @performance.remark || "No Commendations This Time" %> </p>
                    </div>
                    <div>
                        <div style="margin-left: 30px">
                          <%= check_box :lc,"", checked: @performance.lc, disabled: true %> Lack of concentration and/or distraction during expanation<br>
                          <%= check_box :fa,"", checked: @performance.fa, disabled: true %> Frequent Absents/ Tardiness<br>
                          <%= check_box :pw,"", checked: @performance.pw, disabled: true %> Poor work habit<br>
                          <%= check_box :lk,"", checked: @performance.lk, disabled: true %> Low skill level in basics<br>
                          <%= check_box :ia,"", checked: @performance.ia, disabled: true %> Incomplete Assignments<br>
                          <%= check_box :pc,"", checked: @performance.pc, disabled: true %> Poor class participation<br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<br><br>
<button class="btn btn-success pull-right" onclick="window.print()">Print</button>

