<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Performance Report  </h1>
</div>

<style type="text/css">
    @media(min-width: 1200px)
.abc {
  width: 1080px;
}
</style>
<div class="abc" style="">

    <div class="container" >
    	<div class="abc" style="">

            <div class="container" >

        		<br>
                <div class="col-sm-12">
                    <table class="table">
                        <tbody style="font-size:15px">
                            <tr>
                                <td style="font-weight:bolder">
                                    Student
                                </td>

                                <td>
                                    <%= @performance.student.fullname %>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-weight:bolder">
                                    Grade
                                </td>

                                <td>
                                    <%= @performance.bridge.grade.full_name %>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-weight:bolder">
                                    Subject
                                </td>

                                <td>
                                    <%= @performance.bridge.subject.name %>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight:bolder">
                                    Teacher
                                </td>

                                <td>
                                    <% if @performance.bridge.employee.present? %>
                                      <%= @performance.bridge.employee.full_name %>
                                    <% end %>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-weight:bolder">
                                    Submission Date
                                </td>

                                <td>
                                    <%= @performance.created_at.strftime("%d-%m-%Y") %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div>
                        <h3><u>Remarks:</u></h3>
                        <div class="well well-lg">
                            <h4><%= @performance.remark == "" ? "No Remarks This Time" : @performance.remark %> </h4>
                        </div>

                    </div>


                    <div style=" font-size:14px; background: #FF9999; height:300px" class="col-md-6">
                      <h4><u>Negative</u></h4>

                      <div class="checkbox">
                        <label class="i-checks"  >
                          <%= check_box :lc,"", class: "leave_checkbox" , checked: @performance.lc, disabled: true %>
                          <i></i><strong>Lack of concentration and/or distraction during explanation</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :fa,"", class: "leave_checkbox" , checked: @performance.fa, disabled: true %>
                          <i ></i><strong>Frequent Absents/ Tardiness affecting performance</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :pw, "", class: "leave_checkbox", checked: @performance.pw, disabled: true %>
                          <i ></i><strong>Needs to master basic skills and concepts</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :lk, "", class: "leave_checkbox", checked: @performance.lk, disabled: true  %>
                          <i ></i><strong>Poor work habits/ class participation</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :ia, "", class: "leave_checkbox", checked: @performance.ia, disabled: true %>
                          <i ></i><strong>Underperforming in quiz and tests</strong>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :pc, "", class: "leave_checkbox", checked: @performance.pc, disabled: true %>
                          <i ></i><strong>Incomplete Assignments HW/CW</strong>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :fail, "", class: "leave_checkbox", checked: @performance.fail, disabled: true %>
                          <i ></i><strong>Needs to display positive attitude to learning</strong>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :les, "", class: "leave_checkbox", checked: @performance.les, disabled: true %>
                          <i ></i><strong>Needs to improve English communication skills</strong>
                        </label>
                      </div>
                    </div>

                    <div style="font-size:14px; background:#99FFB3; height:300px" class="col-md-6">
                      <h4><u>Positive</u></h4>
                      <div class="checkbox">
                        <label class="i-checks"  >
                          <%= check_box :st,"", class: "leave_checkbox" , checked: @performance.st, disabled: true %>
                          <i></i><strong>Excellent/ Displays an excellent attitude to learning /Excellent work habits</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :good,"", class: "leave_checkbox" , checked: @performance.good, disabled: true %>
                          <i ></i><strong>Talented /Shows initiative and thinks things through for himself</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :vg, "", class: "leave_checkbox", checked: @performance.vg, disabled: true %>
                          <i ></i><strong>Hard-working/Self-disciplined performing well in quiz and assignments</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :exc, "", class: "leave_checkbox", checked: @performance.exc, disabled: true  %>
                          <i ></i><strong>Masters skills and concepts easily</strong>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :tal, "", class: "leave_checkbox", checked: @performance.tal, disabled: true  %>
                          <i ></i><strong> Submitting work on time</strong>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :sd, "", class: "leave_checkbox", checked: @performance.sd, disabled: true  %>
                          <i ></i><strong>Has shown noticeable improvemend</strong>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :res, "", class: "leave_checkbox", checked: @performance.res, disabled: true  %>
                          <i ></i><strong>Is developing a better attitude</strong>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :art, "", class: "leave_checkbox", checked: @performance.art, disabled: true  %>
                          <i ></i><strong> Is learning English speaking and/or writing skills</strong>
                        </label>
                      </div>

                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>


<br><br>
<button class="btn btn-success pull-right" onclick="window.print()">Print</button>

