<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Performance Report  </h1>
</div>

<style type="text/css">
    @media(min-width: 1200px)
.abc {
  width: 1080px;
}
</style>
<div class="abc" style="">

    <div class="container" >
    	<div class="abc" style="">

            <div class="container" >

        		<br>
                <div class="col-sm-12">
                    <table class="table">
                        <tbody style="font-size:15px">
                            <tr>
                                <td style="font-weight:bolder">
                                    Student
                                </td>

                                <td>
                                    <%= @performance.student.fullname %>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-weight:bolder">
                                    Grade
                                </td>

                                <td>
                                    <%= @performance.bridge.grade.full_name %>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-weight:bolder">
                                    Subject
                                </td>

                                <td>
                                    <%= @performance.bridge.subject.name %>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight:bolder">
                                    Teacher
                                </td>

                                <td>
                                    <% if @performance.bridge.employee.present? %>
                                      <%= @performance.bridge.employee.full_name %>
                                    <% end %>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-weight:bolder">
                                    Submission Date
                                </td>

                                <td>
                                    <%= @performance.created_at.strftime("%d-%m-%Y") %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div>
                        <h3><u>Commendations:</u></h3>
                        <div class="well well-lg">
                            <h4><%= @performance.remark == "" ? "No Commendations This Time" : @performance.remark %> </h4>
                        </div>

                    </div>


                    <div style="margin-left: 30px; font-size:18px;" class="col-md-5">
                      <div class="checkbox">
                        <label class="i-checks"  >
                          <%= check_box :lc,"", class: "leave_checkbox" , checked: @performance.lc, disabled: true %>
                          <i></i><strong>Lack of concentration and/or distraction during expanation</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :fa,"", class: "leave_checkbox" , checked: @performance.fa, disabled: true %>
                          <i ></i><strong>Frequent Absents/ Tardiness</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :pw, "", class: "leave_checkbox", checked: @performance.pw, disabled: true %>
                          <i ></i><strong>Poor work habbit</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :lk, "", class: "leave_checkbox", checked: @performance.lk, disabled: true  %>
                          <i ></i><strong>Low skill level in basics</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :ia, "", class: "leave_checkbox", checked: @performance.ia, disabled: true %>
                          <i ></i><strong>Incomplete Assignments</strong>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :pc, "", class: "leave_checkbox", checked: @performance.pc, disabled: true %>
                          <i ></i><strong>Poor class participation</strong>
                        </label>
                      </div>
                    </div>

                    <div style="margin-left: 30px; font-size:18px;" class="col-md-5">
                      <div class="checkbox">
                        <label class="i-checks"  >
                          <%= check_box :st,"", class: "leave_checkbox" , checked: @performance.st, disabled: true %>
                          <i></i><strong>Satisfactory</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :good,"", class: "leave_checkbox" , checked: @performance.good, disabled: true %>
                          <i ></i><strong>Good</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :vg, "", class: "leave_checkbox", checked: @performance.vg, disabled: true %>
                          <i ></i><strong>Very Good</strong>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label class="i-checks" >
                          <%= check_box :exc, "", class: "leave_checkbox", checked: @performance.exc, disabled: true  %>
                          <i ></i><strong>Excellent</strong>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>


<br><br>
<button class="btn btn-success pull-right" onclick="window.print()">Print</button>

