<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Al Omam International School</title>
  <logo> </logo>
  <meta name="description" content="Angularjs, Html5, Music, Landing, 4 in 1 ui kits package" />
  <meta name="keywords" content="AngularJS, angular, bootstrap, admin, dashboard, panel, app, charts, components,flat, responsive, layout, kit, ui, route, web, app, widgets" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>



  <!-- <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="../bower_components/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="../bower_components/simple-line-icons/css/simple-line-icons.css" type="text/css" />-->
<!--   <link rel="stylesheet" href="css/font.css" type="text/css" />
  <link rel="stylesheet" href="css/app.css" type="text/css" /> -->



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
<div class="app app-header-fixed  ">

  <!-- header -->
  <header id="header" class="app-header navbar" role="menu">
          <!-- navbar header -->
      <div class="navbar-header bg-dark">
        <button class="pull-right visible-xs dk" ui-toggle="show" target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle="off-screen" target=".app-aside" ui-scroll="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <span class="hidden-folded m-l-xs"></span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only" style="background-color:#57B223;">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href="#" class="btn no-shadow navbar-btn"  style="color:white;" ui-toggle="app-aside-folded" target=".app">
            <i class="fa fa-dedent fa-fw text"></i>
            <i class="fa fa-indent fa-fw text-active"></i>
          </a>
          <h1 style="color:white;margin-left:215px" class="pull-right">
            Al Omam International School</h1>
        </div>


        <!-- / buttons -->

        <!-- link and dropdown -->
        <!-- / link and dropdown -->

        <!-- search form -->
        <!-- / search form -->

        <!-- nabar right -->
        <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li class="dropdown">

            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="icon-bell fa-fw" style="color:white;"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
            </a>

            <div class="dropdown-menu w-xl animated fadeInUp">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span>2</span> notifications</strong>
                </div>
                <div class="list-group">
                  <a href class="media list-group-item">
                    <span class="pull-left thumb-sm" style="color:white;">
                      <%= image_tag asset_path("img/a0.jpg"), alt: "...", class: "img-circle" %>
                    </span>
                    <span class="media-body block m-b-none">
                      Use awesome animate.css<br>
                      <small class="text-muted">10 minutes ago</small>
                    </span>
                  </a>
                  <a href class="media list-group-item">
                    <span class="media-body block m-b-none">
                      1.0 initial released<br>
                      <small class="text-muted">1 hour ago</small>
                    </span>
                  </a>
                </div>
                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                </div>
              </div>
            </div>

          </li> -->
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <% if current_user && current_user.role == 'student' %>
                  <%= image_tag Student.find_by_email(current_user.email).image, alt: "..." %>
                <% else %>
                  <%= image_tag asset_path("img/a0.jpg"), alt: "..." %>
                <% end %>
                <i class="on md b-white bottom"></i>
              </span>
              <% if current_user %>
                <span class="hidden-sm hidden-md" style="color:white;"><%= current_user.email %></span> <b class="caret" style="color:white;"></b>
                <% end %>
            </a>

            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <!-- <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                <div>
                  <p>300mb of 500mb used</p>
                </div>
                <div class="progress progress-xs m-b-none dker">
                  <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%"></div>
                </div>
              </li> -->
              <li>
                <a href>
                  <span><%= link_to "Settings", edit_user_registration_path %></span>
                </a>
              </li>
              <li>
                <% if current_user && current_user.role == 'student' %>
                  <%= link_to "Profile", student_path(Student.find_by_email(current_user.email).id) %>

                <% elsif current_user && current_user.role == 'teacher' %>
                  <%= link_to "Profile", employee_path(Employee.find_by_email(current_user.email).id) %>
                <% end %>
              </li>
              <li><%= link_to 'English', root_path({locale: 'en'}) %></li>
              <li><%= link_to 'Arabic', root_path({locale: 'ar'}) %></li>
              <li>
                <% if current_user.role.rights.where(value: 'view_alerts').any? %>
                  <%= link_to "Notifications", "/home/alerts" %> <span class="badge bg-danger pull-right"><%= Student.where('to_date("iqamaExpiry", '+"'MM DD YY'"+') BETWEEN ? AND ?',Time.now-30.days,Time.now).count + Student.where('created_at > ?', 30.days.ago).count %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <%end%>
        <!-- / navbar right -->
      </div>
      <!-- / navbar collapse -->
  </header>



  <!-- / header -->

  <!-- aside -->
  <aside id="aside" class="app-aside hidden-xs bg-dark" style = "min-height:700px">
        <%= image_tag asset_path("img/logo.png"), alt: ".", class: 'img-responsive', style: "padding-left:10px"%>
        <li class="line dk"></li>
          <div class="aside-wrap">
        <div class="navi-wrap">
          <!-- user -->
          <div class="clearfix hidden-xs text-center hide" id="aside-user">
            <div class="dropdown wrapper">
             <!--  <a href="app.page.profile">
                <span class="thumb-lg w-auto-folded avatar m-t-sm">
                  <%= image_tag asset_path("img/a0.jpg"), class: "img-full", alt: "..." %>
                </span>
              </a> -->
              <!-- <a href="#" data-toggle="dropdown" class="dropdown-toggle hidden-folded">
                <span class="clear">
                  <span class="block m-t-sm">
                    <strong class="font-bold text-lt">John.Smith</strong>
                    <b class="caret"></b>
                  </span>
                  <span class="text-muted text-xs block">Art Director</span>
                </span>
              </a> -->
              <!-- dropdown -->
              <ul class="dropdown-menu animated fadeInRight w hidden-folded">
               <!--  <li class="wrapper b-b m-b-sm bg-info m-t-n-xs">
                  <span class="arrow top hidden-folded arrow-info"></span>
                  <div>
                    <p>300mb of 500mb used</p>
                  </div>
                  <div class="progress progress-xs m-b-none dker">
                    <div class="progress-bar bg-white" data-toggle="tooltip" data-original-title="50%" style="width: 50%"></div>
                  </div>
                </li> -->
                <li>
                  <a href>Settings</a>
                </li>
                <li>
                  <a href="page_profile.html">Profile</a>
                </li>
                <li>
                  <a href>
                    <span class="badge bg-danger pull-right">3</span>
                    <%= t('notification.notifications') %>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="page_signin.html">Logout</a>
                </li>
              </ul>
              <!-- / dropdown -->
            </div>
            <div class="line dk hidden-folded"></div>
          </div>
          <!-- / user -->

          <!-- nav -->
          <% if current_user %>
            <nav ui-nav class="navi clearfix" style ="height:100%">
              <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                  <span>Navigation</span>
                </li>
                <% if Right.where("role_id = ? and value = 'permissions'", current_user.role_id ).any? || Right.where("role_id = ? and value = 'users'", current_user.role_id ).any? %>

                <li>
                <a href class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="glyphicon glyphicon-th"></i>
                  <span><%= t('user.master_setup') %></span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <%= link_to("") do %>
                      <span><%= t('user.master_setup') %></span>
                    <% end %>
                  </li>
                <% if Right.where("role_id = ? and value = 'permissions'", current_user.role_id ).any? %>
                  <li>
                    <%= link_to(new_right_path) do %>
                      <i class="glyphicon glyphicon-flag"></i>
                      <span><%= t('user.user_permissions') %> </span>
                    <% end %>
                  </li>
                <% end %>

                <% if Right.where("role_id = ? and value = 'users'", current_user.role_id ).any? %>
                  <li>
                    <%= link_to(users_path) do %>
                      <i class="glyphicon glyphicon-user"></i>
                      <span><%= t('user.users') %></span>
                    <% end %>
                  </li>
                <% end %>
                <li>
                  <%= link_to(home_confirm_password_path({redirection: '/home/backups'})) do %>
                    <i class="glyphicon glyphicon-user"></i>
                    <span><%= t('user.backup') %></span>
                  <% end %>
                </li>
              </ul></li><% end %>

              <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'promote').any? %>
                <li>
                  <a href class="auto">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-briefcase icon"></i>
                    <span><%= t('promote.promote_and_demote') %></span>
                  </a>
                  <ul class="nav nav-sub dk">
                    <li>
                      <%= link_to(home_confirm_password_path({redirection:promote_grades_path})) do %>
                        <i class="glyphicon glyphicon-usd"></i>
                        <span><%= t('promote.promotions') %></span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(home_confirm_password_path({redirection: promote_grades_path})) do %>
                        <i class="glyphicon glyphicon-usd"></i>
                        <span><%= t('promote.demotions') %></span>
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>

                <% if Right.where("role_id = ? and value = 'send_sms'", current_user.role_id ).any? %>
                  <li>
                    <%= link_to(home_sms_path) do %>
                      <i class="glyphicon glyphicon-flag"></i>
                      <span><%= t('notification.notifications') %></span>
                    <% end %>
                  </li>
                <% end %>

                  <% if Right.where("role_id = ? and value = ?", current_user.role_id , 'view_student' ).any? %>
                    <li>
                      <a href class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-fw fa-angle-right text"></i>
                          <i class="fa fa-fw fa-angle-down text-active"></i>
                        </span>
                        <i class="glyphicon glyphicon-th"></i>
                        <span><%= t('student.students') %></span>
                      </a>
                      <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                          <%= link_to("") do %>
                            <span><%= t('student.students') %></span>
                          <% end %>
                        </li>
                        <li>
                          <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'create_student').any? %>
                            <%= link_to(new_student_path) do %>
                              <span><%= t('student.admit_student') %></span>
                            <% end %>
                          <% end %>
                        </li>
                        <li>
                          <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_student').any? %>
                            <%= link_to(students_path) do %>
                              <span><%= t('student.list_all_students') %></span>
                            <% end %>
                          <% end %>
                        </li>

                        <li>
                          <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'delete_student').any? %>
                            <%= link_to(students_path({deleted: true})) do %>
                              <span><%= t('user.deleted_students') %></span>
                            <% end %>
                          <% end %>
                        </li>
                      </ul>
                    </li>
                  <% end %>

                  <% if Right.where("role_id = ? and value = ?", current_user.role_id , 'view_employee' ).any? %>
                    <li>
                      <a href class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-fw fa-angle-right text"></i>
                          <i class="fa fa-fw fa-angle-down text-active"></i>
                        </span>
                        <i class="glyphicon glyphicon-user"></i>
                        <span><%= t('teacher.teachers')%></span>
                      </a>
                      <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                          <%= link_to("") do %>
                            <span><%= t('teacher.teachers') %></span>
                          <% end %>
                        </li>
                        <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'create_employee').any? %>
                          <li>
                            <%= link_to(new_employee_path) do %>
                              <span><%= t('teacher.new_employee') %></span>
                            <% end %>
                          </li>
                        <% end %>
                        <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_employee').any? %>
                          <li>
                            <%= link_to(employees_path) do %>
                              <span><%= t('teacher.list_all_employees') %></span>
                            <% end %>
                          </li>
                        <% end %>
                        <li>
                          <%= link_to(categories_path) do %>
                            <span><%= t('book_shop.manage_categories') %></span>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to(departments_path) do %>
                            <span><%= t('teacher.manage_departments') %></span>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to(positions_path) do %>
                            <span><%= t('teacher.manage_positions') %></span>
                          <% end %>
                        </li>
                      </ul>
                    </li>
                  <% end %>
                  <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'update_leave').any? %>

                    <li>
                        <a href class="auto">
                          <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text"></i>
                            <i class="fa fa-fw fa-angle-down text-active"></i>
                          </span>
                          <i class="glyphicon glyphicon-book"></i>
                          <span><%= t('leaves_request.leaves_requests') %></span>
                        </a>
                        <ul class="nav nav-sub dk">
                          <li class="nav-sub-header">
                            <%= link_to("") do %>
                              <span><%= t('leaves_request.leaves_requests') %></span>
                            <% end %>
                          </li>
                          <li>
                            <%= link_to(leaves_path(news: true)) do %>
                              <% if @leave_requests_count.to_i > 0 %>
                                <b class="badge bg-danger pull-right"><%= @leave_requests_count %></b>
                              <% end %>
                              <span><%= t('leaves_request.new_leave') %></span>
                            <% end %>
                          </li>

                          <li>
                              <%= link_to(leaves_path(approved: true)) do %>
                              <span><%= t('leaves_request.approved_leaves') %></span>
                            <% end %>
                          </li>
                          <li>
                              <%= link_to(leaves_path(rejected: true)) do %>
                              <span><%= t('leaves_request.rejected_leaves') %></span>
                            <% end %>
                          </li>
                        </ul>
                      </li>

                  <% end %>
                  <% if current_user.role.rights.where("value = ? or value = ? or value = ? or value = ?",'approve_curriculam', 'approve_lesson', 'approve_portion', 'approve_weekly_plan' ).any? %>
                      <li>
                        <a href class="auto">
                          <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text"></i>
                            <i class="fa fa-fw fa-angle-down text-active"></i>
                          </span>
                          <i class="glyphicon glyphicon-book"></i>
                          <span><%= t('req_approval.request_approval') %></span>
                        </a>
                        <ul class="nav nav-sub dk">
                          <li class="nav-sub-header">
                            <%= link_to("") do %>
                              <span><%= t('req_approval.attendance') %></span>
                            <% end %>
                          </li>
                          <% if current_user.role.rights.where(value: 'approve_curriculam').any? %>
                            <li>
                              <%= link_to(get_requested_curriculums_path) do %>
                                <span><%= t('plan.curriculum_plan') %></span>
                              <% end %>
                            </li>
                          <% end %>
                          <% if current_user.role.rights.where(value: 'approve_lesson').any? %>
                            <li>
                              <%= link_to(get_requested_lessonplans_path)  do %>
                                <span><%= t('plan.lesson_plan') %></span>
                              <% end %>
                            </li>
                          <% end %>
                          <% if current_user.role.rights.where(value: 'approve_portion').any? %>
                            <li>
                              <%= link_to(get_requested_portions_path) do %>
                                <span><%= t('plan.portions') %></span>
                              <% end %>
                            </li>
                          <% end %>
                          <% if current_user.role.rights.where(value: 'approve_weekly_plan').any? %>
                            <li>
                              <%= link_to(get_requested_year_plans_path) do %>
                                <span><%= t('plan.weekly_plan') %></span>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                  <% end %>
                  <% if Right.where("role_id = ? and value = 'timetable'", current_user.role_id ).any? %>
                    <li>
                      <%= link_to(home_timetable_path) do %>
                        <i class="glyphicon glyphicon-tasks"></i>
                        <span><%= t('timetable.timetable') %></span>
                      <% end %>
                    </li>
                  <% end %>

                  <% if current_user.role.name == 'Student' && Student.find_by_email(current_user.email).bus_allotment.present? %>
                    <li>
                      <%= link_to(bus_allotment_path(Student.find_by_email(current_user.email).bus_allotment.id)) do %>
                        <i class="glyphicon glyphicon-tasks"></i>
                        <span><%= t('transport.transport_details') %></span>
                      <% end %>
                    </li>
                  <% end %>

                  <% if current_user.role.name == 'Parent' && Student.find_by_rollnumber(current_user.email.split('@').first.split('_').last).bus_allotment.present? %>
                    <% temp = Student.find_by_rollnumber(current_user.email.split('@').first.split('_').last).id %>
                    <li>
                      <%= link_to(bus_allotment_path(Student.find(temp).bus_allotment.id)) do %>
                        <i class="glyphicon glyphicon-tasks"></i>
                        <span><%= t('transport.transport_details') %></span>
                      <% end %>
                    </li>
                  <% end %>

                  <% if current_user.role.name == 'Parent' && Student.find_by_rollnumber(current_user.email.split('@').first.split('_').last).bus_allotment.present? %>
                    <li>
                      <%= link_to(transportfeerecords_path) do %>
                        <i class="glyphicon glyphicon-tasks"></i>
                        <span><%= t('transport.transport_fee_records') %></span>
                      <% end %>
                    </li>
                  <% end %>

                  <% if current_user.role.name == 'Parent' %>
                    <li>
                      <%= link_to(fees_path) do %>
                        <i class="glyphicon glyphicon-tasks"></i>
                        <span>Fee Details</span>
                      <% end %>
                    </li>
                  <% end %>

                  <% if current_user.role.name == 'Parent' || current_user.role.name == 'Student' %>
                    <% if current_user.role.name == "Parent" %>
                      <% temp2 = Student.find_by_rollnumber(current_user.email.split('@').first.split('_').last)  %>
                    <% else %>
                      <% temp2 = Student.find_by_email(current_user.email)  %>
                    <% end %>
                    <li>
                      <%= link_to(grade_path(temp2.grade_id)) do %>
                        <i class="glyphicon glyphicon-tasks"></i>
                        <span>Subject Details</span>
                      <% end %>
                    </li>
                  <% end %>

                  <% if current_user.role.name == 'Teacher' %>
                    <li>
                      <%= link_to(teacher_subject_bridges_path) do %>
                        <i class="glyphicon glyphicon-flag"></i>
                        <span><%= t("panel.responsibilities") %></span>
                      <% end %>
                    </li>
                  <% end %>
                  <% if Right.where("role_id = ? and value = 'leave_request'", current_user.role_id ).any? %>
                    <li>
                      <%= link_to(new_leafe_path) do %>
                        <i class="glyphicon glyphicon-flag"></i>
                        <span><%= t('leaves_request.request_leave') %></span>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to(leaves_path) do %>
                        <i class="glyphicon glyphicon-flag"></i>
                        <span><%= t('leaves_request.my_leaves') %></span>
                      <% end %>
                    </li>

                  <% end %>
                  <%# if current_user.role.name == 'Teacher' %>
                  <% if Right.where("role_id = ? and (value='view_weeklyplans' or value='create_week' or value = 'update_week' or value = 'view_lesson_plans' or value = 'view_curriculum_plans')", current_user.role_id ).any? %>

                    <li>
                      <a href class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-fw fa-angle-right text"></i>
                          <i class="fa fa-fw fa-angle-down text-active"></i>
                        </span>
                        <i class="glyphicon glyphicon-time"></i>
                        <span><%= t('plan.plans') %></span>
                      </a>
                      <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                          <%= link_to("") do %>
                            <span><%= t('plan.plans') %></span>
                          <% end %>
                        </li>
                        <% if current_user.role.rights.where("value = 'view_curriculum_plans'").any? || current_user.role.name == 'Teacher'%>
                          <li>
                            <%= link_to(curriculums_path(year_plan: @year_plan)) do %>
                              <span><%= t('plan.curriculum_plan') %></span>
                            <% end %>
                          </li>
                        <% end %>
                        <% if current_user.role.rights.where("value = 'view_lesson_plans'").any? || current_user.role.name == 'Teacher'%>
                          <li>
                            <%= link_to(lessonplans_path(year_plan: @year_plan)) do %>
                              <span><%= t('plan.lesson_plan') %></span>
                            <% end %>
                          </li>
                        <% end %>
                        <% if current_user.role.rights.where("value = 'view_weeklyplans' or value = 'create_week' or value = 'update_week' ").any? or current_user.role.name == 'Teacher'%>
                          <li>
                            <%= link_to(year_plan_weeks_path(@year_plan)) do %>
                              <span><%= t('plan.weekly_plan') %></span>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                  <% if Right.where("role_id = ? and (value = 'create_eattendence' or value = 'view_eattendence')", current_user.role_id ).any? %>
                    <li>
                      <a href class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-fw fa-angle-right text"></i>
                          <i class="fa fa-fw fa-angle-down text-active"></i>
                        </span>
                        <i class="glyphicon glyphicon-book"></i>
                        <span><%= t('attendance.my_attendance') %></span>
                      </a>
                      <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                          <%= link_to("") do %>
                            <span><%= t('attendance.attendance') %></span>
                          <% end %>
                        </li>
                        <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'create_eattendence').any? %>
                          <li>
                            <%= link_to(mark_attendance_calendar_employees_path) do %>
                              <span><%= t('attendance.mark_attendance') %></span>
                            <% end %>
                          </li>
                        <% end %>
                        <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_eattendence').any? %>
                          <li>
                            <%= link_to(monthly_attendance_report_employees_path) do %>
                              <span><%= t('attendance.attendance_report') %></span>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                  <% if Right.where("role_id = ? and (value = 'create_sattendence' or value = 'view_sattendence')", current_user.role_id ).any? %>
                    <li>
                      <a href class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-fw fa-angle-right text"></i>
                          <i class="fa fa-fw fa-angle-down text-active"></i>
                        </span>
                        <i class="glyphicon glyphicon-book"></i>
                        <span><%= t('attendance.student_attendance') %></span>
                      </a>
                      <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                          <%= link_to("") do %>
                            <span>Attendance</span>
                          <% end %>
                        </li>
                        <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'create_sattendence').any? %>
                          <li>
                            <%= link_to(mark_attendance_calendar_students_path) do %>
                              <span><%= t('attendance.mark_attendance') %></span>
                            <% end %>
                          </li>
                        <% end %>
                        <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_sattendence').any? %>
                          <li>
                            <%= link_to(monthly_attendance_report_students_path) do %>
                              <span><%= t('attendance.attendance_report') %></span>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                    <% if Right.where("role_id = ? and value = 'view_prequest'", current_user.role_id ).any? || current_user.role.rights.where(value: 'create_prequest').any? %>
                  <li>
                  <a href class="auto">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                    <span><%= t('purchases.purchases') %></span>
                  </a>
                  <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                      <%= link_to("") do %>
                        <span>Calender</span>
                      <% end %>
                    </li>
                    <% if Right.where("role_id = ? and value = 'view_prequest'", current_user.role_id ).any? %>

                    <li style="margin-left: -40px" >
                      <%= link_to(purchases_path) do %>
                        <i class="glyphicon glyphicon-time"></i>
                        <span><%= t('purchases.purchases') %></span>
                      <% end %>

                    </li>
                  <% end %>

                  <% if current_user.role.rights.where(value: 'create_prequest').any? %>
                    <li style="margin-left: -40px">
                      <%= link_to(new_purchase_path) do %>
                        <i class="glyphicon glyphicon-time"></i>
                        <span><%= t('purchases.purchase_request') %></span>
                      <% end %>
                    </li>
                  <% end %>
                  </ul></li><% end %>
                    <li>
                      <%= link_to(conversations_path) do %>
                        <i class="glyphicon glyphicon-comment"></i>
                        <% if current_user.mailbox.inbox({:read => true}).count > 0 %>
                          <b class="badge bg-danger pull-right"><%= current_user.mailbox.inbox({:read => false}).count %></b>
                        <% end %>
                        <span><%= t('conversation.conversations') %></span>
                      <% end %>
                    </li>

              <% if Right.where("role_id = ? and value = 'view_gcalender'", current_user.role_id ).any? %>

                 <li>
                  <a href class="auto">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                    <span><%= t('calender.calender') %></span>
                  </a>
                  <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                      <%= link_to("") do %>
                        <span><%= t('calender.calender') %></span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(calenders_path(type: 'kg')) do %>
                        <span>KG1-KG3</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(calenders_path(type: 'one')) do %>
                        <span>1-3</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(calenders_path(type: 'four')) do %>
                        <span>4-9</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(calenderdetail_calenders_path) do %>
                        <span><%= t('calender.view_all') %></span>
                      <% end %>
                    </li>
                  </ul>
                </li>

                <% end %>
              <%# if current_user.role.name == 'Student' || current_user.role.name == 'Parent' %>
                   <!--  <li>
                      <%#= link_to(new_student_holiday_path) do %>
                        <i class="glyphicon glyphicon-flag"></i>
                        <span>Student Leave</span>
                      <%# end %>
                    </li> -->
                  <%# end %>
              <% if Right.where("role_id = ? and value = 'view_excalender'", current_user.role_id ).any? %>
                <li>
                  <a href class="auto">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                    <span><%= t('exam_quiz_cal.title') %></span>
                  </a>
                  <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                      <%= link_to("") do %>
                        <span></span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(examdetail_examcalenders_path) do %>
                        <span><%= t('exam_quiz_cal.exam_calenders') %></span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to(quizdetail_examcalenders_path) do %>
                        <span><%= t('exam_quiz_cal.quiz_calenders') %></span>
                      <% end %>
                    </li>

                  </ul>
                </li>
              <% end %>

              <% if Right.where("role_id = ? and value = 'view_fee'", current_user.role_id ).any? %>

                <li>
                  <a href class="auto">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-file"></i>
                    <span><%= t('fees_register.fee_register') %></span>
                  </a>
                  <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                      <%= link_to("") do %>
                        <span>Fee Registers</span>
                      <% end %>
                    </li>
                    <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'create_fee').any? %>
                      <li>
                        <%= link_to(new_fee_path) do %>
                          <span><%= t('fees_register.submit_fee') %></span>
                        <% end %>
                      </li>
                    <%end%>
                    <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_fee').any? %>
                      <li>
                        <%= link_to(fee_defaulter_fees_path) do %>
                          <span><%= t('fees_register.fee_defaulters') %></span>
                        <% end %>
                      </li>
                    <%end%>
                    <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'create_fee').any? %>
                      <li>
                        <%= link_to(feebreakdowns_path) do %>
                          <span><%= t('fees_register.fee_break_downs') %></span>
                        <% end %>
                      </li>
                    <% end %>
                    <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_fee').any? %>
                      <li>
                        <%= link_to(fees_path) do %>
                          <span><%= t('fees_register.fee_records') %></span>
                        <% end %>
                      </li>
                    <% end %>
                    <li>
                      <%= link_to(give_estimate_path) do %>
                        <span><%= t('fees_register.give_estimates') %></span>
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>
                <!-- li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                  <span>Components</span>
                </li> -->
                <% if Right.where("role_id = ? and value = 'batch'", current_user.role_id ).any? %>
                  <li>
                   <li>
                    <a href class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <i class="glyphicon glyphicon-bookmark"></i>
                      <span><%= t('grade_log.batch') %></span>
                    </a>
                    <ul class="nav nav-sub dk">
                      <li class="nav-sub-header">
                        <%= link_to("") do %>
                          <span><%= t('batch.batch') %></span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to(new_batch_path) do %>
                          <span><%= t('grade_log.add_batch') %></span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to(batches_path) do %>
                          <span><%= t('grade_log.list_all_batches') %></span>
                        <% end %>
                      </li>
                    </ul>
                  </li>
                <% end %>
                <% if Right.where("role_id = ? and value = 'view_subject'", current_user.role_id ).any? %>
                  <li>
                    <a href class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <i class="glyphicon glyphicon-book"></i>
                      <span><%= t('subject.subjects') %></span>
                    </a>
                    <ul class="nav nav-sub dk">
                      <li class="nav-sub-header">
                        <%= link_to("") do %>
                          <span><%= t('subject.subjects') %></span>
                        <% end %>
                      </li>
                      <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'create_subject').any? %>
                        <li>
                          <%= link_to(new_subject_path) do %>
                            <span><%= t('subject.add_subject') %></span>
                          <% end %>
                        </li>
                      <% end %>
                      <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_subject').any? %>
                        <li>
                          <%= link_to(subjects_path) do %>
                            <span><%= t('subject.list_all_subjects') %></span>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
                <% if Right.where("role_id = ? and value = 'view_grade'", current_user.role_id ).any? %>
                  <li>
                   <li>
                    <a href class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <i class="glyphicon glyphicon-list-alt"></i>
                      <span><%= t('grade.grades') %></span>
                    </a>
                    <ul class="nav nav-sub dk">
                      <li class="nav-sub-header">
                        <%= link_to("") do %>
                          <span><%= t('grade.grades') %></span>
                        <% end %>
                      </li>
                      <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'create_grade').any? %>

                        <li>
                          <%= link_to(new_grade_path({maingrade: true})) do %>
                            <span><%= t('grade.add_grade') %></span>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to(new_grade_path) do %>
                            <span><%= t('grade.add_classes') %></span>
                          <% end %>
                        </li>
                      <% end %>
                      <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_grade').any? %>
                        <li>
                          <%= link_to(all_grades_grades_path) do %>
                            <span><%= t('grade.list_all_grades') %></span>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
                <% if current_user.role.rights.where("value = 'create_transport' or value = 'view_transport'").any? %>

                  <li>
                    <a href class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <i class="glyphicon glyphicon-plane"></i>
                      <span><%= t('transport.transport') %></span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                          <%= link_to("") do %>
                            <span><%= t('transport.transport') %></span>
                          <% end %>
                        </li>

                        <li>
                          <%= link_to(vehicles_path) do %>
                            <span><%= t('transport.list_all_vehicles') %></span>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to(routes_path) do %>
                            <span><%= t('transport.list_all_route') %></span>
                          <% end %>
                        </li>
                        <% if current_user.role.rights.where("value = 'create_transport'").any? %>
                          <li>
                            <%= link_to(new_stop_path) do %>
                              <span><%= t('transport.new_stop') %></span>
                            <% end %>
                          </li>
                        <% end %>
                        <li>
                          <%= link_to(transports_path) do %>
                            <span><%= t('transport.transport_details') %></span>
                          <% end %>
                        </li>
                      <li>
                        <%= link_to(bus_allotments_path) do %>
                          <span><%= t('transport.allot_transportation_details') %></span>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to(transportfeerecords_path) do %>
                          <span><%= t('transport.transport_fee_records') %></span>
                        <% end %>
                      </li>

                    </ul>
                  </li>
                <% end %>
                <% if current_user.role.rights.where("value = 'create_bookshop' or value = 'view_bookshop'").any? %>

                  <li>
                    <a href class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                      <span><%= t('book_shop.bookshops') %></span>
                    </a>
                    <ul class="nav nav-sub dk">
                      <li class="nav-sub-header">
                        <%= link_to("") do %>
                          <span><%= t('book_shop.bookshops') %></span>
                        <% end %>
                      </li>
                      <% if current_user.role.rights.where("value = 'create_bookshop'").any? %>
                        <li>
                          <%= link_to(shopcategories_path) do %>
                            <span><%= t('book_shop.all_categories') %></span>
                          <% end %>
                        </li>

                        <li>
                          <%= link_to(add_stock_items_path) do %>
                            <span><%= t('book_shop.add_stock') %></span>
                          <% end %>
                        </li>
                      <% end %>
                      <li>
                        <%= link_to(items_path) do %>
                          <span><%= t('book_shop.all_items') %></span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to(packages_path) do %>
                          <span><%= t('book_shop.all_package') %></span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to(invoices_path) do %>
                          <span><%= t('book_shop.invoices') %></span>
                        <% end %>
                      </li>
                    </ul>
                  </li>
                <% end %>

                <% if Right.where("role_id = ? and value = 'view_behavior_reports'", current_user.role_id ).any? %>

                  <li>
                    <a href class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                      <span>Behavior Rep.</span>
                    </a>
                    <ul class="nav nav-sub dk">
                      <li class="nav-sub-header">
                        <%= link_to("") do %>
                          <span>Behavior Rep.</span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to(performances_path) do %>
                          <span>All Reports</span>
                        <% end %>
                      </li>


                    </ul>
                  </li>
                <% end %>

                <% if current_user.role.name == 'Parent' or current_user.role.name == 'Student' %>
                    <li>
                      <%= link_to(my_results_path) do %>
                          <i class="glyphicon glyphicon-stats"></i>
                          <span>My Results</span>
                      <% end %>
                    </li>
                <% end %>

                <% if Right.where("role_id = ? and value = 'view_exam'", current_user.role_id ).any? %>

                  <li>
                    <a href class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <i class="glyphicon glyphicon-briefcase icon"></i>
                      <span><%= t('grade_log.grade_logs') %></span>
                    </a>
                    <ul class="nav nav-sub dk">
                      <% if current_user.role.name == 'Teacher' %>
                        <li>
                          <%= link_to(portions_path(year_plan: @year_plan)) do %>
                            <span><%= t('plan.portions') %></span>
                          <% end %>
                        </li>
                      <% end %>

                      <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'design_report_cards').any? %>
                          <li>
                            <%= link_to(new_exam_path) do %>
                                <span style="font-size: 85%"><%= t('grade_log.design_report_cards') %></span>
                            <% end %>
                          </li>
                      <% end %>

                      <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'edit_report_cards').any? %>
                          <li>
                            <%= link_to(select_report_card_path) do %>
                                <span style="font-size: 85%"><%= t('grade_log.edit_report_cards') %></span>
                            <% end %>
                          </li>
                      <% end %>

                      <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'subject_result').any? %>
                          <li>
                            <%= link_to(subject_result_path) do %>
                                <span><%= t('grade_log.subject_result') %></span>
                            <% end %>
                          </li>
                      <% end %>

                      <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_class_result').any? %>
                        <li>
                          <%= link_to(class_result_path) do %>
                            <span><%= t('grade_log.class_result') %></span>
                          <% end %>
                        </li>
                      <% end %>

                    <% if Right.where("role_id = ? and value = 'enter_marks'", current_user.role_id ).any? or Right.where("role_id = ? and value = 'enter_all_marks'", current_user.role_id ).any? %>
                       <li>
                        <%= link_to(marks_path) do %>
                            <span><%= t('panel.enter_marks') %></span>
                        <% end %>
                       </li>
                    <% end %>

                    <% if Right.where("role_id = ? and value = ?" , current_user.role_id, 'publish_results').any? %>
                      <li>
                        <%= link_to(select_class_to_publish_path) do %>
                            <span><%= t('grade_log.publish_results') %></span>
                        <% end %>
                      </li>
                    <% end %>
                      <!-- <li>
                        <a href="ui_icon.html">
                          <b class="badge bg-info pull-right">3</b>
                          <span>Icons</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_grid.html">
                          <span>Grid</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_widget.html">
                          <b class="badge bg-success pull-right">13</b>
                          <span>Widgets</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_sortable.html">
                          <span>Sortable</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_portlet.html">
                          <span>Portlet</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_timeline.html">
                          <span>Timeline</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_jvectormap.html">
                          <span>Vector Map</span>
                        </a>
                      </li> -->
                    </ul>
                  </li>
                  <% end %>

                  <%# if Right.where("role_id = ? and value = ?" , current_user.role_id, 'view_fee').any? %>
                        <!-- <li>
                          <%#= link_to(fee_entries_path) do %>
                              <i class="glyphicon glyphicon-usd"></i>
                              <span><%#= t('fees_register.fee_entries') %></span>
                          <%# end %>
                        </li> -->
                  <%# end %>


                <!-- <li>
                  <a href class="auto">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <b class="label bg-primary pull-right">2</b>
                    <i class="glyphicon glyphicon-list"></i>
                    <span>Table</span>
                  </a>
                  <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                      <a href>
                        <span>Table</span>
                      </a>
                    </li>
                    <li>
                      <a href="table_static.html">
                        <span>Table static</span>
                      </a>
                    </li>
                    <li>
                      <a href="table_datatable.html">
                        <span>Datatable</span>
                      </a>
                    </li>
                    <li>
                      <a href="table_footable.html">
                        <span>Footable</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href class="auto">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-edit"></i>
                    <span>Form</span>
                  </a>
                  <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                      <a href>
                        <span>Form</span>
                      </a>
                    </li>
                    <li>
                      <a href="form_element.html">
                        <span>Form elements</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="ui_chart.html">
                    <i class="glyphicon glyphicon-signal"></i>
                    <span>Chart</span>
                  </a>
                </li>
                <li>
                  <a href class="auto">
                    <span class="pull-right text-muted">
                      <i class="fa fa-fw fa-angle-right text"></i>
                      <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon glyphicon-file icon"></i>
                    <span>Pages</span>
                  </a>
                  <ul class="nav nav-sub dk">
                    <li class="nav-sub-header">
                      <a href>
                        <span>Pages</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_profile.html">
                        <span>Profile</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_post.html">
                        <span>Post</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_search.html">
                        <span>Search</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_invoice.html">
                        <span>Invoice</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_price.html">
                        <span>Price</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_lockme.html">
                        <span>Lock screen</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_signin.html">
                        <span>Signin</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_signup.html">
                        <span>Signup</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_forgotpwd.html">
                        <span>Forgot password</span>
                      </a>
                    </li>
                    <li>
                      <a href="page_404.html">
                        <span>404</span>
                      </a>
                    </li>
                  </ul>
                </li> -->
<!--
                <li class="line dk hidden-folded"></li>
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                  <span>Your Stuff</span>
                </li>   -->



              <!--   <li>
                  <a href="page_profile.html">
                    <i class="icon-user icon text-success-lter"></i>
                    <b class="badge bg-success pull-right">30%</b>
                    <span>Profile</span>
                  </a>
                </li>
                <li>
                  <a href>
                    <i class="icon-question icon"></i>
                    <span>Documents</span>
                  </a>
                </li> -->
              </ul>
            </nav>
          <% end %>
          <!-- nav -->

          <!-- aside footer -->
<!--           <div class="wrapper m-t">
          <! <div class="wrapper m-t">
            <div class="text-center-folded">
              <span class="pull-right pull-none-folded">60%</span>
              <span class="hidden-folded">Milestone</span>
            </div>
            <div class="progress progress-xxs m-t-sm dk">
              <div class="progress-bar progress-bar-info" style="width: 60%;">
              </div>
            </div>
            <div class="text-center-folded">
              <span class="pull-right pull-none-folded">35%</span>
              <span class="hidden-folded">Release</span>
            </div>
            <div class="progress progress-xxs m-t-sm dk">
              <div class="progress-bar progress-bar-primary" style="width: 35%;">
              </div>
            </div>
          </div> -->
          <!-- / aside footer -->
        </div>
      </div>
  </aside>

  <!-- / aside -->

  <!-- content -->

<% if current_user && current_user.role.name == 'parent' && current_user.sign_in_count == '1'%>
  <% if current_user.role.name == "Parent" %>
        <% temp2 = Student.find_by_rollnumber(current_user.email.split('@').first.split('_').last)  %>

      <% end %>
      <li>
        <%= link_to(edit_student_path(temp2.student_id)) do %>
          <i class="glyphicon glyphicon-tasks"></i>
          <span>Student Edit Details</span>
        <% end %>
      </li>
        <% end %>



  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <% if current_user && current_user.role.name == 'Parent' %>
        <% stuid =  Student.find_by_rollnumber(current_user.email.split('@').first.split('_').last).id %>
        <div id="user-stats" style="margin-bottom: 20px">
          <ul class="round-buttons">
              <li><div class="depth"><a href="<%= root_path %>" title="Dashboard" class="tip"><i class="icon-rss"><%= image_tag asset_path("Picture25.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;"> <%= t("panel.dashboard") %></span></li>
              <li >
                <div class="depth"><a href="<%= conversations_path %>" title="View statement" class="tip"><i class="icon-signal"><%= image_tag asset_path("msg.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;">
                <%= t("panel.messages") %></span>
              </li>
              <li><div class="depth"><a href="<%=performances_path%>" title="Media posts" class="tip"><i class="icon-reorder"><%= image_tag asset_path("NewPicture16.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a>
              </div> <span style="line-height:20px; font-size:17px;"> <%= t("panel.behaviour") %></span>
              </li>

              <li><div class="depth"><a href="<%= fees_path %>" title="RSS feed" class="tip"><i class="icon-rss"><%= image_tag asset_path("Picture7.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;"> <%= t("fee_register.fee_entries") %> </span></li>

              <li><div class="depth"><a href="<%= home_timetable_path %>" title="Create new task" class="tip"><i class="icon-tasks"><%= image_tag asset_path("NewPicture6.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;"><%= t("timetable.timetable") %></span></li>

              <li><div class="depth"><a href="<%= grade_path(Student.find(stuid).grade_id) %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture3.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;"><%= t("subject.subjects") %></span></li>

              <li><div class="depth"><a href="<%= monthly_attendance_report_students_path %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture5.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;">Attendence</span></li>
              <li><div class="depth"><a href="<%= my_results_path %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture9.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;"><%= t("panel.my_result") %></span></li>
          </ul>
        </div>

      <% elsif current_user && current_user.role.name == 'Student' %>
        <% stuid = Student.find_by_email(current_user.email).id %>
        <div id="user-stats" style="margin-bottom: 20px">
          <ul class="round-buttons">
            <li><div class="depth"><a href="<%= root_path %>" title="Dashboard" class="tip"><i class="icon-rss"><%= image_tag asset_path("Picture25.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;">  <%= t("panel.dashboard") %> </span></li>
            <li >
              <div class="depth"><a href="<%= conversations_path %>" title="View statement" class="tip"><i class="icon-signal"><%= image_tag asset_path("msg.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;">
                 <%= t("panel.messages") %></span>
            </li>
            <li><div class="depth"><a href="<%=performances_path%>" title="Media posts" class="tip"><i class="icon-reorder"><%= image_tag asset_path("NewPicture16.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a>
            </div> <span style="line-height:20px; font-size:17px;">  <%= t("panel.behaviour") %></span>
            </li>

            <li><div class="depth"><a href="<%= home_timetable_path %>" title="Create new task" class="tip"><i class="icon-tasks"><%= image_tag asset_path("NewPicture6.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;"> <%= t("timetable.timetable") %> </span></li>

            <li><div class="depth"><a href="<%= grade_path(Student.find(stuid).grade_id) %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture3.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;"> <%= t("subject.subjects") %></span></li>

            <li><div class="depth"><a href="<%= monthly_attendance_report_students_path %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture5.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;">Attendence</span></li>
            <li><div class="depth"><a href="<%= my_results_path %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture9.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:17px;"> <%= t("panel.my_result") %></span></li>
          </ul>
        </div>

      <% elsif current_user && current_user.role.name == 'Teacher' %>
          <% teacher_id = Employee.find_by_email(current_user.email).id %>
          <div id="user-stats" style="margin-bottom: 20px">
            <ul class="round-buttons">
              <li><div class="depth"><a href="<%= root_path %>" title="Dashboard" class="tip"><i class="icon-rss"><%= image_tag asset_path("Picture25.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:14px;">  <%= t("panel.dashboard") %></span></li>
              <li><div class="depth"><a href="<%= home_timetable_path %>" title="Create new task" class="tip"><i class="icon-tasks"><%= image_tag asset_path("NewPicture6.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:14px;"> <%= t("timetable.timetable") %> </span></li>
              <% if Right.where("role_id = ? and value = 'enter_marks'", current_user.role_id ).any? or Right.where("role_id = ? and value = 'enter_all_marks'", current_user.role_id ).any? %>
                  <li><div class="depth"><a href="<%= marks_path %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture9.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:13px;"> <%= t("panel.enter_marks") %></span></li>
              <% end %>
              <li><div class="depth"><a href="<%= teacher_subject_bridges_path %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture8.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:13px;"><%= t("panel.responsibilities") %></span></li>
              <li><div class="depth"><a href="<%= monthly_attendance_report_employees_path %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("Picture5.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:14px;"><%= t("attendance.my_attendance") %></span></li>
              <li><div class="depth"><a href="<%= lessonplans_path(year_plan: @year_plan) %>" title="View statement" class="tip"><i class="icon-signal"><%= image_tag asset_path('NewPicture7.png'), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:12px;"><%= t("plan.lesson_plan") %></span></li>
              <li><div class="depth"><a href="<%= new_leafe_path %>" title="Layout settings" class="tip"><i class="icon-cogs"><%= image_tag asset_path("NewPicture5.png"), alt: ".", class: 'img-responsive', style: "padding:4px;"%></i></a></div><span style="line-height:20px; font-size:14px;"><%= t("leaves_request.request_leave") %></span></li>
            </ul>
          </div>
      <% end %>

<div class="hbox hbox-auto-xs hbox-auto-sm" style="background-color: white; padding: 0 15px 0">


<!-- <div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  "> -->
 <!-- main -->
 <div style=" margin-top:20px;"><%= render partial: 'partials/flash_message' %></div>

  <%= yield %>
</div>


    </div>
  </div>
  <!-- / content -->

  <!-- footer -->
<!--   <footer id="footer" class="app-footer" role="footer">
        <div class="wrapper b-t bg-light">
      <span class="pull-right">2.0.1 <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
      &copy; 2015 Copyright.
    </div>
  </footer> -->
  <!-- / footer -->

</div>



</body>
<script type="text/javascript">
   $(".datepicker").datepicker();
   // $(".datepicker").datepicker();
</script>

<script type="text/javascript">
$(document).ready(function () {
  //called when key is pressed in textbox
  $(".float").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0  && (e.which < 46 || e.which > 57)) {
        //display error message
        $("#errmsg").html("Digits Only").show().fadeOut("slow");
               return false;
    }
  });

  $(".numeric").keypress(function (e) {
   //if the letter is not digit then display error and don't type anything
   if (e.which != 8 && e.which != 0  && (e.which < 46 || e.which > 57)) {
      //display error message
      $("#errmsg").html("Digits Only").show().fadeOut("slow");
             return false;
    }
  });
});
</script>

</html>
