<!DOCTYPE html>
<html>
<head>
  <title>Al Omam International</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body class="login" >
  <div class="login-panel">
    <div class="login-logo">
      <%= image_tag 'img/logo.png' %>
    </div>
    <div class="login-panel-body">
      <%= yield %>
    </div>
  </div>
</body>
</html>
